<footer id="footer">
    <div class="menu">
        <div class="inner">
            <div class="menu-list">
                <a href="">이용약관</a>
                <a href="" class="bold">개인정보<span class="pc_only"> 처리방침</span></a>
                <a href="">고객센터</a>
                <a href="">법적고지</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="inner">
            <p class="copy">Copyright &copy; <span class="bold">DAEKYO</span>. All Rights Reserved.</p>
        </div>
    </div>
</footer>

<div class="btn_top">
    <span class="ico ico_longarrow_up"></span>
    <svg class="circle" width="100%" height="100%" viewbox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
</div>

<!-- local events only -->
<script type="text/javascript" src="/static/asset/local_event.js"></script>

<!-- Jennifer Front -->
<script>
    (function(j,en,ni,fer) {
        j['dmndata']=[];j['jenniferFront']=function(args){window.dmndata.push(args)};
        j['dmnaid']=fer;j['dmnatime']=new Date();j['dmnanocookie']=false;j['dmnajennifer']='JENNIFER_FRONT@INTG';
        var b=Math.floor(new Date().getTime() / 60000) * 60000;var a=en.createElement(ni);
        a.src='https://d-collect.jennifersoft.com/'+fer+'/demian.js?'+b;a.async=true;
        en.getElementsByTagName(ni)[0].parentNode.appendChild(a);
    }(window,document,'script','a2c66702'));
</script>