<header id="header">
	<div class="inner">
		<div class="logo">
			<img src="/static/di/images/common/logo_daekyo.png" alt="daekyo" />
		</div>
	</div>
</header>
<div class="btn_back">
	<span class="page_tit">페이지 타이틀</span>
</div>