<meta charset="utf-8" />
<meta name="Referrer" content="origin">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="ImageToolbar" content="no" />
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">
<meta name="format-detection" content="telephone=no,address=no,email=no" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="description" content="모두의 가능성을 실현하는 ‘세상에서 가장 큰 학교’ 대교입니다.">
<meta name="keywords" content="대교, 눈높이, 세상에서 가장 큰 학교">
<link rel="shortcut icon" href="/static/di/images/favicon/favicon.ico">
<script type="text/javascript" src="/static/di/js/common.js"></script>
<script type="text/javascript" src="/static/di/handlebars/handlebars.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/di/css/common.css">
<link rel="stylesheet" type="text/css" href="/static/di/css/contents.css"> 