$main_color01: #f36f21 !default;
$main_color02: #ffa051 !default;

$sub_color01: #008fd4 !default;
$sub_color02: #0062a2 !default;

$text_main: #7d7d7d !default;
$text_color01: #333 !default;
$text_color02: #666 !default;
$text_color03: #757575 !default;
$text_color04: #8d8d8d !default;
$text_color05: #bdbdbd !default;

$border_color01: #bdbdbd !default;
$border_color02: #e0e0e0 !default;
$border_color03: #eee !default;
$border_color04: #e7e7e7 !default;
$border_color05: #666 !default;
$border_color06: #333 !default;

$bg_color01 : #eee !default;
$bg_color02 : #f5f5f5 !default;
$bg_color03 : #fff !default;
$bg_color04 : #7d7d7d !default;
$bg_color05 : #666 !default;
$bg_color06 : #d8d8d8 !default;
$bg_color07: #bdbdbd !default;

// images URL
$url_common : '/static/di/images/common/';

$breakpoints-tablet : 1024;
$breakpoints-mobile : 767;

$wrap_size : 1160px;
$sub_size : 521px;