$url_font : '/static/di/fonts/';

@font-face {
	font-family: 'NotoSans';
	font-weight: 300;
	src: local('Noto Sans KR');
	src: url($url_font+'notokr-light.eot');
	src: url($url_font+'notokr-light.eot?#iefix') format('embedded-opentype'),
		 url($url_font+'notokr-light.woff') format('woff'),
		 url($url_font+'notokr-light.woff2') format('woff2');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 400;
	src: local('Noto Sans KR');
	src: url($url_font+'notokr-regular.eot');
	src: url($url_font+'notokr-regular.eot?#iefix') format('embedded-opentype'),
		 url($url_font+'notokr-regular.woff2') format('woff2'),
		 url($url_font+'notokr-regular.woff') format('woff');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 500;
	src: local('Noto Sans KR');
	src: url($url_font+'notokr-medium.eot');
	src: url($url_font+'notokr-medium.eot?#iefix') format('embedded-opentype'),
		 url($url_font+'notokr-medium.woff2') format('woff2'),
		 url($url_font+'notokr-medium.woff') format('woff');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 700;
	src: local('Noto Sans KR');
	src: url($url_font+'notokr-bold.eot');
	src: url($url_font+'notokr-bold.eot?#iefix') format('embedded-opentype'),
		 url($url_font+'notokr-bold.woff2') format('woff2'),
		 url($url_font+'notokr-bold.woff') format('woff');
}