// *{-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
// ::selection{background: transparent;}
/* RESET */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, button, section, aside, span, a, label{
	font-size:inherit; 
	font-weight:inherit; 
	box-sizing:border-box; 
	margin:0; 
	padding:0; 
	word-break:break-all;
	letter-spacing: -1px;
}
i{
	box-sizing: border-box;
}
strong{
	font-weight: 700;
}
pre {
	white-space:pre-wrap; 
	white-space:-moz-pre-wrap; 
	white-space:-pre-wrap; 
	white-space:-o-pre-wrap; 
	word-break:break-all;
}
fieldset,img {
	border:0 none;
}
img {
	vertical-align:top;
	max-width: 100%;
}
dl, ul, ol, menu, li {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:''; 
	content:none;
}
input, select, textarea, button {
	vertical-align:middle;
	outline: none;
	border-radius: 0;	
}
input::-ms-clear {
	display:none;
}
select:focus::-ms-value {
	background: none;
	color: $text_color02;
}
body {
	direction:ltr; 
	color:$text_color02;
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing:antialiased; 
	-moz-osx-font-smoothing:grayscale;
}
button {
	cursor:pointer; 
	border:0 none; 
	background-color:transparent;
}
address, caption, cite, code, dfn, em, var, i {
	font-style:normal;
}
table {width:100%;}
table,th,td {
	table-layout:fixed; 
	border-collapse:collapse;
}
table caption, fieldset legend {
	overflow:hidden; 
	font-size:medium; 
	line-height:normal; 
	width:100%; 
	height:0; 
	word-break:break-all; 
	opacity:0; 
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
}

select::-ms-expand{
	display:none;
}

input[type='search']::-webkit-search-decoration,input[type='search']::-webkit-search-cancel-button {
	border-radius:0;
	appearance:none;
	border:0 none;
	box-shadow: none;
	
}
input, select, textarea,button{
	appearance:none;
	border:0 none;
	border-radius:0;
}
iframe {display:block;}
#skipnavi {
	position:absolute; 
	top:-200px; 
	left:0;
}
#skipnavi a:focus {
	position:fixed; 
	top:0; 
	right:0; 
	left:0; 
	z-index:99999; 
	box-sizing:border-box; 
	height:40px; 
	padding:3px; 
	color:#fff; 
	background:#ff9000;
}

.dim_show{
	overflow: hidden;
}
.in_loading{
	overflow: hidden;
}

.hidden {
    overflow: hidden;
    position: fixed;
    top: -9999px;
    left: -9999px;
    width: 10px;
    height: 25px;
}
.cm_dim{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,1);
	opacity: 0;
	transition: opacity .6s;
	z-index:100;
	&[data-target="Recently"]{
		top: 74px;
	}
	&.dim_show{
		opacity: .4;
	}
}
// app only
.app{
	#wrap{
		#headers{
			display: none;
		}
	}
	#mobileMenu{
		display: none;
	}
	
}

.bold{
	font-weight: bold;
}


/* text-align */
.al_left {
	text-align: left;
}
.al_center {
	text-align: center;
}
.al_right {
	text-align: right;
}

/* float */
.pull_left{
	float:left;
}
.pull_right{
	float:right;
}

#wrap {
	.mCSB_scrollTools{
		&.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
			width: 100%;
		}
		.mCSB_dragger .mCSB_dragger_bar{
			width: 4px;
		}
	}
}

/* grid */
.grid{
	@include clearfix();
	margin:0 -10px;
	@for $i from 1 to 13 {
		.cols_#{$i}{
			position: relative;
			min-height: 30px;
			float:left;
			padding:0 10px;
		}
	}
	@include respondTo(mobile){
		margin:0;
		@for $i from 1 to 13 {
			.cols_#{$i}{
				padding:0;
				width:100%;
				min-height:0;
				&.mobile_half{
					width:50%;
				}
			}
		}

	}
	@include respondToMinMax(768,9999){
		.cols_12 {
			width: 100%;
		}
		.cols_11 {
			width: 91.66666667%;
		}
		.cols_10 {
			width: 83.33333333%;
		}
		.cols_9 {
			width: 75%;
		}
		.cols_8 {
			width: 66.66666667%;
		}
		.cols_7 {
			width: 58.33333333%;
		}
		.cols_6 {
			width: 50%;
		}
		.cols_5 {
			width: 41.66666667%;
		}
		.cols_4 {
			width: 33.33333333%;
		}
		.cols_3 {
			width: 25%;
		}
		.cols_2 {
			width: 16.66666667%;
		}
		.cols_1 {
			width: 8.33333333%;
		}
	}
}
.pc_only{
	display:block;
	@include respondTo(mobile){
		display:none;
	}
}
.mobile_only{
	display:none;
	@include respondTo(mobile){
		display:block;
	}
}
.line_break{
	display:block;
}
.mo_line_break{
	@include respondTo(mobile){
		display:block;
	}
}
.pc_line_break{
	@include respondToMinMax(1025,9999){
		display:block;
	}
}
.sr_only{
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}