<!-- 견적서 제품 구매 - 개인정보 수집 이용 동의 -->
<div class="agree_cont">
    <div class="inner">
        <p class="first">제품 구매를 위하여 아래의 개인정보 수집 이용에 대한 내용을 자세히 읽어 보신 후 동의 여부를 결정하여 주시기 바랍니다</p>
        <br>
        <ul>
            <li>
                <dl class="inden-dl">
                    <dt>• 개인정보의 수집 및 이용목적</dt>
                    <dd>- 이용자의 원활한 제품구매 서비스를 위함</dd>
                    <dt>• 개인정보 수집항목</dt>
                    <dd>
                        <ul>
                            <li>- (필수) 받는분 , 휴대폰번호 , 주소 , 결제수단정보</li>
                            <li>- (선택) 전화번호</li>
                        </ul>
                    </dd>
                    <dt>• 개인정보 보유 및 이용기간</dt>
                    <dd>전자상거래법 시행령 제 6 조에 따라 5년 동안 보관하며, 보유기간 달성 시 복구 불가능한 방법으로 삭제합니다.</dd>
                </dl>
            </li>
        </ul>
        <br>
        <p>위와 같이 개인정보를 수집ㆍ이용하는데 동의를 거부할 권리가 있습니다 . 그러나 동의를 거부할 경우 제품구매 서비스를 제공받으실 수 없습니다</p>
    </div>
</div>