<!-- 회원 가입을 위한 개인정보 수집 및 이용동의 -->
<div class="agree_cont">
    <div class="inner">
        <p class="first">회원가입 서비스를 위하여 아래의 개인정보 수집 이용에 대한 내용을 자세히 읽어보신 후 동의 여부를 결정하여 주시기 바랍니다.</p>
        <br>
        <ul>
            <li>
                <dl class="inden-dl">
                    <dt>• 개인정보의 수집 및 이용 목적</dt>
                    <dd>- 개인식별, 부정 이용 및 비인가 사용방지, 가입의사 확인 등 회원가입 서비스를 제공하기위함</dd>
                    <dt>• 개인정보 수집항목</dt>
                    <dd>- 아이디, 비밀번호, 이름, 이메일주소</dd>
                    <dt>• 개인정보 보유 및 이용기간</dt>
                    <dd>- 회원탈퇴 시 또는 타 법령에 근거하여 보유하며, 보유기간 만료 시 복구 불가능한 방법으로 삭제합니다.</dd>
                </dl>
            </li>
        </ul>
        <br>
        <p>위와 같이 개인정보를 수집ㆍ이용하는데 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 회원가입 서비스를 제공받으실 수 없습니다.</p>
    </div>
</div>

<!-- <div class="agree_cont">
    <div class="inner">
        <p class="first">㈜대교(이하 '회사')가 처리하는 모든 개인정보는 관련 법령에 근거하거나 정보주체의 동의에 의하여 수집•보유 및 처리되고 있습니다. 회사는 이용자의 개인정보보호를 매우 중요시하며, 회사가 제공하는 홈페이지(모바일 웹/앱 포함)의 이용자가 언제나 안심하고 회사의 서비스를 이용하실 수 있도록 최선을 다하고 있습니다. 회사는 개인정보보호정책을 통하여 회원이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 어떠한 조치를 취하고 있는지 알려드립니다.</p>
        
        <ul class="indent_default lists" id="agreeTop">
            <li><a href="#privacy1">1. 이용자의 개인정보 보호</a></li>
            <li><a href="#privacy2">2. 개인정보 처리목적 및 수집 항목</a></li>
            <li><a href="#privacy3">3. 개인정보 비공개 원칙</a></li>
            <li><a href="#privacy4">4. 개인정보의 처리기간 및 파기절차</a></li>
            <li><a href="#privacy5">5. 개인정보의 열람 및 수정, 이용동의 철회 요구 권리 및 행사 방법</a></li>
            <li><a href="#privacy6">6. 개인정보 처리위탁에 관한 사항</a></li>
            <li><a href="#privacy7">7. 개인정보 제3자 제공에 관한 사항</a></li>
            <li><a href="#privacy8">8. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</a></li>
            <li><a href="#privacy9">9. 개인정보 보호에 대한 기술적/관리적 대책</a></li>
            <li><a href="#privacy10">10. 만 14세 미만 아동의 개인정보보호</a></li>
            <li><a href="#privacy11">11. 고지의 의무</a></li>
            <li><a href="#privacy12">12. 개인정보 관련 불만 처리 사항 및 고객 유의 사항</a></li>
            <li><a href="#privacy13">13. 이메일 주소 무단수집 거부</a></li>
        </ul>

        <br>
        <strong id="privacy1">1. 이용자의 개인정보 보호 </strong>
        <p>회사는 통신비밀보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 정보통신서비스제공자가 준수하여야 할 관련 법규상의 개인정보보호규정을 준수하고 있으며, 관련 법규에 의거한 개인정보처리방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다.</p>
        <br>

        <strong id="privacy2">2. 개인정보 처리목적 및 수집 항목</strong>
        <ul>
            <li>1) 회사가 회원의 개인정보를 사용하는 목적은 다음과 같으며, 다른 어떠한 용도로도 사용되지 않습니다.
                <dl class="inden-dl">
                    <dt>가. 서비스 제공 및 요금정산</dt>
                    <dd>- 콘텐츠 제공, 특정 맞춤 서비스 제공, 물품배송 및 청구서 등 발송, 본인인증, 구매 및 요금결제</dd>
                    <dt>나. 회원관리</dt>
                    <dd>-	 개인식별, 부정 이용 및 비인가 사용방지, 가입의사, 가입 여부 및 가입횟수 확인, 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달다. 신규 서비스 개발 및 마케팅</dd>
                    <dt>다. 신규 서비스 개발 및 마케팅</dt>
                    <dd>- 신규 서비스 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악, 회원의 서비스이용에 대한 통계</dd>
                </dl>
            </li>

            <li>2) 회사는 회원가입, 원활한 고객상담, 각종 서비스의 제공을 위한 필수 개인정보와 고객 맞춤 서비스 제공을 위한 선택적 개인정보로 구분하여 아래와 같은 개인정보를 수집하고 있습니다. 선택적 개인정보를 입력하지 않은 경우에도 서비스를 이용함에 제한이 없으며, 회사는 이용자의 인권침해 우려가 있는 개인정보는 수집하지 않습니다.
                <dl class="inden-dl">
                    <dt>가. 수집하는 개인정보 항목(필수/선택)</dt>
                    <dd>- 필수 : 아이디, 비밀번호, 이름, 생년월일, 이메일주소, 핸드폰번호</dd>
                    <dd>- 선택 : 은행명, 계좌번호(자동이체 등록 시), 카드사명, 카드번호, 결제승인번호(카드결제 시), 학교명, 추천인, 학습중인 회원번호, 자녀이름, 배송지 정보</dd>
                    <dd>※ 수집하는 개인정보의 항목은 이용하는 서비스에 따라 달라질 수 있습니다.</dd>
                    <dt>나. 만14세 미만 아동 가입 시 수집정보</dt>
                    <dd>- 법정대리인의 이름, 연락처, 본인인증정보(DI : 중복가입 확인정보, CI : 암호화 된 식별정보), (만 14세 미만 아동 가입 시 법정대리인 동의여부확인, 추후 법정대리인 본인확인 등을 위하여 사용됩니다.)</dd>
                    <dt>다. 수집 방법</dt>
                    <dd>- 홈페이지(PC, 모바일, 앱) 회원가입, 서비스 이용, 회원정보수정, 서면, 팩스, 전화, 이메일, 이벤트 응모, 고객센터 문의, 협력회사를 통한 수집</dd>
                </dl>
            </li>
        </ul>
        <br>
        <strong id="privacy3">3. 개인정보 비공개 원칙 </strong>
        <p>회사는 수집한 개인 정보를 상기 고지한 범위 내에서만 이용하며, 회원의 사전 동의 없이는 동 범위를 초과하여 이용하거나 외부에 공개하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</p>
        <ul class="indent_default">
            <li>- 회원이 사전에 개인정보 공개에 동의한 경우</li>
            <li>- 법령의 규정에 의거하거나, 법령상 의무를 준수하기 위하여 불가피한 경우</li>
        </ul>
        <br>
        <strong id="privacy4">4. 개인정보 처리기간 및 파기 절차 </strong>
        <ul>
            <li>1) 개인정보 처리 기간
                <p>회사는 회원이 제공한 개인 정보를 서비스 제공 등의 목적범위 내에서만 처리할 수 있으며, 회원이 개인정보의 이용동의를 철회하거나 개인정보 제공받은 목적이 달성된 경우 재생 불가능한 방법으로 회원의 정보를 지체 없이 파기합니다. 다만, 관련 법령 규정에 의하여 다음과 같이 거래 관련 권리 의무 관계의 확인 등을 이유로 일정기간을 보유하여야 할 필요가 있는 경우 일정기간 보유합니다.</p>
                <dl class="inden_dl_default">
                    <dt>- 계약 또는 청약철회 등에 관한 기록</dt>
                    <dd>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</dd>
                    <dd>보존 기간 : 5년</dd>
                    <dt>-	대금결제 및 재화 등의 공급에 관한 기록</dt>
                    <dd>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</dd>
                    <dd>보존 기간 : 5년</dd>
                    <dt>-	소비자의 불만 또는 분쟁처리에 관한 기록</dt>
                    <dd>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</dd>
                    <dd>보존 기간 : 3년</dd>
                    <dt>- 본인확인에 관한 기록</dt>
                    <dd>보존 이유 : 정보통신 이용촉진 및 정보보호 등에 관한 법률</dd>
                    <dd>보존 기간 : 6개월</dd>
                    <dt>- 방문에 관한 기록</dt>
                    <dd>보존 이유 : 통신비밀보호법</dd>
                    <dd>보존 기간 : 3개월</dd>
                </dl>
            </li>
            <li> 2) 개인정보의 파기절차 및 방법
                <dl class="inden_dl_default2x">
                    <dt>가. 파기절차 </dt>
                    <dd>회사는 회원의 개인정보를 안전하게 처리하며, 개인정보의 보유기간이 경과했거나 처리 목적이 달성된 후에는 관련 법령 및 내부방침에 따라 해당 개인정보를 파기합니다.</dd>
                    <dt>나. 파기방법</dt>
                    <dd>-	 전자적 파일 형태인 경우 : 복원 불가능한 기술적 방법으로 영구삭제</dd>
                    <dd>-	 서면 상에 기재된 형태인 경우 : 물리적 파쇄 또는 소각</dd>
                </dl>
            </li>
        </ul>
        <br>
        <strong id="privacy5">5. 개인 정보의 열람 및 수정, 이용동의 철회 요구 권리 및 행사 방법</strong>
        <ul>
            <li>1) 회사 홈페이지에 가입한 회원은 가입 시 등록한 개인정보를 홈페이지를 통해 언제든지 열람 또는 수정하실 수 있으며 개인정보 이용에 대한 동의 철회 및 회원 탈퇴를 하실 수 있습니다. 회원 탈퇴 시 회사는 진위 여부를 확인 후 지체없이 필요한 조치를 취하며, 탈퇴한 회원정보는 어떠한 용도로도 이용되지 않습니다.
                <dl class="inden_dl_default">
                    <dt>- 개인정보 열람/수정/동의 철회방법</dt>
                    <dd>홈페이지 로그인 후 메뉴 상단의 [나의대교] 메뉴 클릭 → [회원정보 수정] 클릭</dd>
                    <dt>- 홈페이지 회원 탈퇴방법</dt>
                    <dd>홈페이지 로그인 후 메뉴 상단의 [나의대교] 메뉴 클릭 → [회원탈퇴] 클릭</dd>
                </dl>
            </li>
            <li>2) 회사 홈페이지 외의 방법으로 가입한 회원께서는 서비스를 신청하신 해당 지점을 통하여 가입 시 제공한 개인정보를 언제든지 열람 또는 수정하실 수 있으며, 개인정보 이용에 대한 동의 철회 및 회원 탈퇴를 하실 수 있습니다.</li>
        </ul>
        <br>                                            
        <strong id="privacy6">6. 개인정보 처리위탁에 관한 사항</strong>
        <p>회사는 서비스 향상을 위해 아래와 같이 개인정보 처리를 위탁하고 있으며, 위탁 계약 시 개인정보가 안전하게 관리될 수 있도록</p>
        <ul class="indent_default">
            <li>- 개인정보보호와 관련된 법규의 준수</li>
            <li>- 개인정보에 관한 비밀유지</li>
            <li>- 제3자에 대한 개인정보 제공 금지 및 사고 시의 책임부담 등의 규정을 명확히 하여 해당 계약 내용을 서면 또는 전자적으로 보관•관리하고 있습니다.</li>
        </ul>
        <p>회사의 개인정보 위탁업무 및 업체는 아래와 같습니다.</p>

        <ul>
            <li>
                <div class="tbl_type1">
                    <table>
                        <caption>업무목적,업체명,보유 및 이용기간(으)로 이루어진 업무목적 테이블입니다.</caption>
                        <colgroup>
                        <col style="width:30%">
                        <col style="width:50%">
                        <col style="width:20%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col" id="T0-0">업무목적</th>
                                <th scope="col" id="T0-1">업체명</th>
                                <th scope="col" id="T0-2">보유 및 이용기간</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="c" headers="T0-0">웹사이트, 시스템 유지보수 및 관리</td>
                                <td class="c" headers="T0-1">대교CNS</td>
                                <td class="c" rowspan="10" headers="T0-2">회원탈퇴 및 <br>계약 종료 시 <br>(단, 다른 법령에 별도 <br>규정이 있을 경우 해당 법령을 따름) </td>
                            </tr>
                            <tr>
                                <td class="c" headers="T0-0">본인 인증</td>
                                <td class="c" headers="T0-1">NICE 신용평가정보㈜, 한국모바일인증㈜</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T0-0">회원 모집, 고객상담 등 회원관리</td>
                                <td class="c" headers="T0-1">위탁사업자(학습지교사)</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T0-0">설문조사, 통계분석 등 조사업무</td>
                                <td class="c" headers="T0-1">㈜한국리서치</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T0-0">이벤트 경품제공</td>
                                <td class="c" headers="T0-1">모바일이앤앰애드, ㈜상상의 숲, <br>㈜더링크, ㈜기프티엔, ㈜쿠프마케팅, 티아이모바일</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T0-0">블로그 등 온라인을 통한 마케팅 진행</td>
                                <td class="c" headers="T0-1">㈜상상의 숲</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T0-0">결제처리</td>
                                <td class="c" headers="T0-1">㈜LG U+, 세틀뱅크㈜, ㈜케이에스넷, ㈜한우리, 한국정보통신㈜,<br>페이민트㈜,카드사(BC, 국민, 신한, 삼성, 현대, 롯데, 하나카드), KG이니시스</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T0-0">상품 배송 및 반환</td>
                                <td class="c" headers="T0-1">CJ대한통운㈜, ㈜문화유통북스, 정보와 기술㈜</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T0-0">신용정보조회</td>
                                <td class="c" headers="T0-1">SGI서울보증</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T0-0">문자발송</td>
                                <td class="c" headers="T0-1">(주)문자라인 문자랜드</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <p>※ 업무 특성 상 제공받은 항목 외 고객정보를 추가적으로 수집해야 할 경우는 회원님께 별도의 동의 절차를 거쳐 수집 및 활용합니다.</p>
            </li>
        </ul>
        <br>
        <strong id="privacy7">7. 개인정보 제3자 제공에 관한 사항</strong>
        <p>회사는 원칙적으로 회원의 개인정보를 별도 동의없이 제3자에게 제공하지 않습니다. 다만, 아래의 경우는 예외로 합니다.</p>
        <ul class="indent_default">
            <li>- 회원으로부터 별도의 동의를 받은 경우</li>
            <li>- 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우</li>
            <li>- 회원 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나, 주소불명 등으로 사전동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우</li>
            <li>- 통계작성 및 학술연구 등의 목적을 위하여 필요한 경우로써 특정 개인을 알아볼 수 없는 형태로 개인정보를 제공하는 경우</li>
        </ul>
        <br>
        <p>제3자 제공을 위한 업무 및 업체는 아래와 같습니다. 다만, 제3자 정보 제공에 동의하지 않으실 경우는 관련 서비스 정보를 제공받아 보실 수 없습니다.</p>

        <div class="tbl_type1">
            <table>
                <caption>업무목적,업체명,제공항목,보유 및 이용기간(으)로 이루어진 업무목적 테이블입니다.</caption>
                <colgroup>
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:35%">
                    <col style="width:35%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" id="T1-0">업무목적</th>
                        <th scope="col" id="T1-1">업체명</th>
                        <th scope="col" id="T1-2">제공항목</th>
                        <th scope="col" id="T1-3">보유 및 이용기간</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="c" rowspan="3" headers="T1-0">상품소개 및 마케팅</td>
                        <td class="c" headers="T1-1">대교 에듀캠프</td>
                        <td class="c" rowspan="3" headers="T1-2">이름, 연락처, 주소, 생년월일, E-mail 등<br>
                            (단, 제공 시점에 따라 제공항목이 변경될 수 있음) </td>
                        <td class="c" rowspan="3" headers="T1-3">
                            상품소개 및 마케팅 활용 종료 시
                            <br>(단, 다른 법령에 별도 규정이 있을 경우 해당 법령을 따름)
                        </td>
                    </tr>
                    <tr>
                        <td class="c" headers="T1-1">대교문고</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T1-1">대교 에듀피아</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <br>
        <strong id="privacy8">8. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</strong>
        <p>회사는 이용자의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)'등을 운용합니다. 쿠키란 대교닷컴(www.daekyo.com) 웹사이트를 운영하는 서버가 이용자의 브라우저에 보내는 아주 작은 텍스트 파일로 서 이용자의 컴퓨터 하드디스크에 저장됩니다. 회사는 다음과 같은 목적을 위해 쿠키를 사용합니다.</p>
        <ul>
            <li><strong>1) 쿠키 등 사용 목적 </strong>
                <p>회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타켓 마케팅 및 개인 맞춤 서비스 제공에 활용됩니다.</p>
            </li>
            <li><strong>2) 쿠키설정 방법 </strong>
                <p>이용자는 쿠키 설치에 대한 선택권이 있습니다. 따라서, 이용자는 웹 브라우저의의 옵션을 설정함으로써 모든 쿠키를 허용하거나, 저장될 때마다 확인을 거치거나, 저장을 거부 할 수 있습니다.</p>
                <ul>
                    <li>
                        <dl class="inden_dl_default">
                            <dt>[쿠키설정  방법]</dt>
                            <dt>① Internet Explorer 경우 : </dt>
                            <dd>- 웹브라우저 상단의 [도구] → [인터넷 옵션] → [개인정보] → [고급]</dd>
                            <dt>② Chrome의 경우 : </dt>
                            <dd>- 웹브라우저 우측 상단의 [ <img src="/static/di/images/common/icon/ico_chrome.png" alt=""> ] → [설정] → [고급설정 표시] → 개인정보[콘텐츠설정] 메뉴를 통해 설정하실 수 있습니다. 다만, 회원께서 쿠키 저장을 거부하실 경우 일부 서비스 제공에 어려움이 있을 수 있습니다 </dd>
                        </dl>
                    </li>
                </ul>
            </li>
        </ul>                                            
        <br>
        <strong id="privacy9">9. 개인 정보 보호에 대한 기술적/관리적 대책</strong>
        <p>회사는 이용자의 개인 정보를 소중히 여기며 안전하게 보호, 관리되도록 최선을 다하고 있으며 다음과 같은 기술적/ 관리적 대책을 세워 시행하고 있습니다.</p>
        <ul>
            <li><strong>가. 기술적 조치</strong>
                <p>이용자의 개인 정보는 접근 권한과 비밀번호에 의해서 철저히 보호되고 있으며, 파일 및 전송 데이터를 암호화하거나 파일 잠금 기능(Lock)을 사용하여 중요한 데이터는 별도의 보안 기능을 통해서 보호되고 있습니다. 또한 최신 백신 프로그램을 사용하여 개인 정보가 침해되는 것을 방지하고 있으며, 침입차단 시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다. 급작스런 시스템 장애로 개인정보가 훼손되는 것을 대비하고자 데이터를 정기적으로 백업하며, 기타 시스템의 안정성을 확보하기 위한 모든 기술적인 장비를 갖추려고 노력하고 있습니다.</p>
            </li>
            <li><strong> 나. 관리적 조치</strong>
                <p>회사는 개인 정보 관련 직원을 필요한 최소한의 인원으로 운영하며 정기 또는 수시로 담당자 교육을 통하여 개인정보보호 정책을 준수하도록 노력하고 있습니다. 또한, 회사의 개인정보보호 보호지침 이행 및 준수여부를 감사하기 위한 별도 절차를 마련하여 운영하고 있으며, 문제점이 발견될 경우 지체없이 시정 및 개선하는 등의 필요한 조치를 취하고 있습니다.</p>
            </li>
        </ul>
        <br>
        <strong id="privacy10">10. 만 14세 미만 아동의 개인정보보호 </strong>
        <p>만14세 미만의 아동(이하‘아동’)이 회사가 운영하는 웹사이트 및 서비스 회원으로 가입하려면 법정 대리인의 동의를 반드시 얻어야 하며, 회사는 법정대리인의 동의를 받기위해 별도의 절차를 마련하여 운영하고 있습니다. 법정대리인은 아동의 개인정보를 열람, 정정, 회원탈퇴, 동의 철회를 요구할 수 있으며, 이러한 경우 회사는 지체없이 필요한 조치를 취하고 있습니다.</p>
        <br>
        <strong id="privacy11">11. 고지의 의무 </strong>
        <p>현 개인정보처리방침의 내용추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 홈페이지의 ‘대교소식’을 통해 고지할 것입니다. 다만, 개인정보의 수집 및 활용, 제3자 제공등과 같이 이용자 권리의 중요한 변경이 있을 경우에는 최소 30일 전에 고지합니다.</p>

        <br>
        <strong id="privacy12">12. 개인정보 관련 불만 처리 사항 및 고객 유의 사항</strong>
        <ul>
            <li>1) 개인정보 관련 불만처리
                <p>- 회사는 개인정보와 관련하여 이용자의 의견을 소중히 여깁니다. 개인정보와 관련된 불만사항이나 의문사항이 있으시다면 회사 홈페이지(www.daekyo.com)‘고객만족센터’메뉴 또는 고객만족센터 ☎080-222-0909 (무료전화)로 문의주시거나 개인정보보호책임자 또는 개인정보관리자에게 신고하실 수 있습니다. 회사는 이용자의 신고사항에 대해 신속한 답변 및 처리를 할 것입니다.</p>
            </li>
            <li>
                <div class="tbl_type1">
                    <table>
                        <caption>구분,개인정보보호책임자,개인정보관리자(으)로 이루어진 개인정보보호책임자/개인정보관리자 테이블입니다.</caption>
                        <thead>
                            <tr>
                                <th scope="col" id="T2-0">구분</th>
                                <th scope="col" id="T2-1">개인정보보호책임자</th>
                                <th scope="col" id="T2-2">개인정보관리자</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="c" headers="T2-0">이름</td>
                                <td class="c" headers="T2-1">김종희</td>
                                <td class="c" headers="T2-2">박재성</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T2-0">소속</td>
                                <td class="c" headers="T2-1">플랫폼사업추진실</td>
                                <td class="c" headers="T2-2">플랫폼서비스팀</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T2-0">직위</td>
                                <td class="c" headers="T2-1">실장</td>
                                <td class="c" headers="T2-2">차장</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T2-0">E-mail</td>
                                <td class="c" headers="T2-1">jonghee@daekyo.co.kr</td>
                                <td class="c" headers="T2-2">jaesung@daekyo.co.kr</td>
                            </tr>
                            <tr>
                                <td class="c" headers="T2-0">연락처</td>
                                <td class="c" colspan="2" headers="T2-1 T2-2">080-222-0909</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>- 기타 개인정보 침해에 관한 상담이 필요한 경우 아래 기관으로 문의하실 수 있습니다.
                <dl>
                    <dt></dt>
                    <dd>· 개인정보침해 신고센터 (https://privacy.kisa.or.kr / ☎ 국번없이 118)</dd>
                    <dd>· 대검찰청 사이버수사과 (http://www.spo.go.kr / ☎ 국번없이 1301)</dd>
                    <dd>· 경찰청 사이버안전국 (http://police.go.kr / ☎ 국번없이 182)</dd>
                    <dd>· 개인정보분쟁조정위원회 (http://www.kopico.go.kr / ☎ 국번없이 1833-6972)</dd>
                </dl>
            </li>
            <li>2) 개인정보 관련 이용자 유의사항
                <p>이용자께서는 개인정보와 관련된 피해 및 유출 위험에 대비하여 아래와 같이 개인정보를 안전하게 관리하셔야 합니다.</p>
                <ul>
                    <li>① 회원 가입 시 비밀번호를 타인이 유추하기 어렵도록 문자, 숫자, 특수문자를 조합하여 설정</li>
                    <li>② 비밀번호는 주기적으로 변경</li>
                    <li>③ 아이디와 비밀번호는 타인에게 공유금지</li>
                    <li>④ P2P등 인터넷에 공유하는 데이터에 이용자의 개인정보 저장금지</li>
                    <li>⑤ 인터넷에서 출처 및 근거가 없는 불명확한 자료 다운로드 금지</li>
                    <li>⑥ 공공장소(학교, PC방 등)에 설치된 PC 사용 후 반드시 로그아웃 및 웹브라우져 종료 등</li>
                </ul>
            </li>
        </ul>
        <br>
        <strong id="privacy13">13. 이메일 주소 무단수집 거부 </strong>
        <p>본 웹사이트에 게시된 이메일주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며, 이를 위반 시 정보통신망 법에 의해 형사처벌 됨을 유념하시기 바랍니다.</p>
        <ul>
            <li>개인정보처리방침 공고일자 : 2016년 9월 12일</li>
            <li>개인정보처리방침 시행일자 : 2016년 9월 23일</li>
        </ul>
        <br>
        <div class="links">
            <strong><a href="#">&lt;이전 개인정보처리방침보기(2019.10.21)&gt;</a></strong><br>
            <strong><a href="#">&lt;이전 개인정보처리방침보기(2016.03.02)&gt;</a></strong><br>
            <strong><a href="#">&lt;이전 개인정보처리방침보기(2016.01.06)&gt;</a></strong><br>
            <strong><a href="#">&lt;이전 개인정보처리방침보기(2015.08.07)&gt;</a></strong><br>
            <strong><a href="#">&lt;이전 개인정보처리방침보기(2015.04.30)&gt;</a></strong><br>
            <strong><a href="#">&lt;이전 개인정보처리방침보기(2014.10.30)&gt;</a></strong><br>
        </div>
        <br>
    </div>
</div> -->