<!-- 써밋제품 태블릿 매매 특별약관 -->
<div class="agree_cont agree_cont--type-2">
    <div class="inner">
        <strong id="agree1">제1조 (프로모션과 본 약정에 대한 설명)</strong>
        <p>주식회사 대교(이하 “회사”라 합니다)는 본 특별약관에 따라 프로모션 기간 동안 써밋 다이렉트 제품 서비스(이하 “학습서비스”라 합니다)에 대해 이용을 약정(초등18개월/중등12개월)한 고객 및 법정대리인(이하 “고객”이라 합니다)과 “학습서비스”에 제공한 태블릿PC에 대하여 매매계약을 위한 약정(이하 “본 약정”이라 합니다)을 체결합니다.</p>
        <br>
        <strong>[본 약정에 관한 주요 내용]</strong>
        <div class="tbl_type1 tbl_row">
            <table>
                <caption>[본 약정에 관한 주요 내용]</caption>
                <colgroup>
                    <col style="width:30%">
                    <col style="width:70%">
                </colgroup>
                <tbody>
                    <tr>
                        <th class="c">프로모션의 내용</th>
                        <td class="c">“본 약정”에 따라 “고객”이 프로모션 기간 중에 “학습서비스” 이용을 약정(초등18개월/중등12개월)하고 태블릿 PC에 대한 매매계약을 체결하는 경우, “고객”은 “학습서비스” 이용이 종료되는 시점에 아래 매매대금의 결정 기준에 따른 매매대금을 지급하고 태블릿 PC를 매수하는 매매계약을 체결하는 내용의 프로모션 혜택을 누릴 수 있습니다.</td>
                    </tr>
                    <tr>
                        <th class="c">매매계약의 체결</th>
                        <td class="c">“본 약정”에 따라 “회사”와 “고객”은 위 태블릿 PC에 대한 매매계약을 체결하게 됩니다.</td>
                    </tr>
                    <tr>
                        <th class="c">매매대금의 결정<br>[별첨 1]</th>
                        <td class="c">
                            <p>매매대금은 아래 각 기준에 따라 결정됩니다.</p>
                            <p>(1) “고객”이 “회사”와 “학습서비스” 이용을 약정(초등18개월/중등12개월) 하고 중도해지 등이 없이 약정기간 동안 정상적으로 “학습서비스”를 이용한 경우 : [별첨1]에 따라 별도의 매매대금 부담없이 무상으로 태블릿 PC를 매수</p>
                            <p>(2) “고객”이 “회사”와 약정(초등18개월/중등12개월)한 “학습서비스” 기간 중에 “고객”의 사유로 중도해지 되는 등으로 “학습서비스”가 종료되는 경우 : “학습서비스” 시작시점과 종료시점의 아래 기준에 따라 산정된 [별첨1 : 태블릿 판매가격 약정표]에서 정한 학습개월(“학습서비스” 이용기간)에 따라 미리 정해진 대금으로 결정. 학습개월 1개월 미만은 1개월로 봄</p>
                            <p>※ “학습서비스” 시작시점 : 실제 학습을 시작한 해당월의 1일</p>
                            <p>※ “학습서비스” 종료시점 : 학습 종료사유가 발생한 해당월의 전월 말일</p>
                        </td>
                    </tr>
                    <tr>
                        <th class="c">태블릿 제품명</th>
                        <td class="c">삼성갤럭시탭S6 Lite64GB 10.4 SM-610 Wi-Fi 태블릿PC</td>
                    </tr>
                </tbody>
            </table>
            <p>※ 수집하는 개인정보의 항목은 이용하는 서비스에 따라 달라질 수 있습니다.</p>
        </div>
        <br>

        <strong id="agree2">제2조 (매매목적물)</strong>
        <p>“학습서비스”에 이용하기 위하여 “회사”가 “고객”에게 제공한 태블릿 PC를 뜻합니다.  </p>
        <ul>
            <li>※ 태블릿 제품명 : 삼성갤럭시탭S6 Lite64GB 10.4 SM-610 Wi-Fi 태블릿PC</li>
        </ul>
        <br>
        
        <strong id="agree3">제3조 (매매대금 등)</strong>
        <ul>
            <li>① “본 약정”에 따른 태블릿의 매매대금은 “학습서비스” 이용기간을 기준으로 미리 정해진 [별첨1 : 태블릿 판매가격 약정표] 문서에 따릅니다.</li>
            <li>② 제1항의 매매대금은 아래 각호의 구분에 따라 결정됩니다.
                <ul>
                    <li>1. “고객”이 “회사”와 “학습서비스”에 대한 약정(초등18개월/중등12개월)을 하고 중도해지 등이 없이 약정 개월을 모두 이용하고 종료된 경우에는 [별표1]의 학습개월(초등18개월/중등12개월) : 매매대금 0원으로 결정</li>
                    <li>2. “고객”이 “회사”와 약정한 “학습서비스” 기간 중에 “고객”의 사유로 중도해지 되는 등으로 “학습서비스”가 종료되는 경우에는 “학습서비스” 시작시점과 종료시점의 아래 기준에 따라 산정된 [별첨1]에서 정한 학습개월에 따라 미리 정해진 대금으로 결정. 학습개월 1개월 미만은 1개월로 봄
                        <ul>
                            <li>※ “학습서비스” 시작시점 : 실제 학습을 시작한 해당월의 1일</li>
                            <li>※ “학습서비스” 종료시점 : 학습 종료사유가 발생한 해당월의 전월 말일</li>
                        </ul>
                    </li>
                    <li>3. 초등 과정에서 중등 과정으로의 전환, 중등 과정에서 초등 과정에서의 전환 발생 시, 해당 과정 매매대금 테이블에 잔여 학습 기간 개월 수를 적용.
                        <ul>
                            <li>(예) 초등 과정 6개월 학습 후 중등 과정으로 전환 시 중등 특별약관 12개월 적용 → 기존 초등 6개월 학습 개월 수 인정, 잔여 학습 기간 6개월로 산정하여 매매대금 테이블 적용.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>③ “고객”은 제1, 2항에 따라 산정된 매매대금을 제2항에 따른 종료시점으로부터 14일 이내에 “회사”가 지정하는 계좌로 입금하여야 합니다. 이 기간 내에 매매대금 지급이 이루어지지 않을 경우 “고객”은 지급 기한의 다음 날부터 다 갚는 날까지 연 6%의 비율에 의한 지연손해금을 가산하여 “회사”에 지급하여야 합니다</li>
        </ul>
        <br>
        
        <strong id="agree4">제4조 (태블릿의 인도)</strong>
        <p>“회사”는 “고객”이 지정하는 장소에서 “고객”에게 태블릿을 인도하기로 합니다. 태블릿의 인도는 “회사”가 위탁하는 배송업체인 정보와 기술㈜를 통해 배송되며, 이 경우 배송업체 등의 배송절차에 따라 태블릿이 현실적으로 인도된 경우 “고객”이 태블릿을 인수한 것으로 봅니다.</p>
        <br>
        
        <strong id="agree5">제5조 (태블릿의 결함 등에 대한 책임)</strong>
        <ul>
            <li>① “매매목적물”이 인도 이전에 불가항력으로 인하여 멸실 또는 훼손되었을 경우에는 그 손해는 “회사”의 부담으로 합니다.</li>
            <li>② “매매목적물”의 인도 후에 발생한 손해(수리비등 포함)는 “고객”이 부담합니다. 다만, “회사”의 귀책사유에 의한 경우는 그러하지 않습니다.</li>
        </ul>
        <br>
        
        <strong id="agree6">제 6 조 (상품검수)</strong>
        <p>“고객”은 공급받은 “매매목적물”에 대하여 검수를 하여야 하며 품질상의 하자 등이 발견한 때에는 인도받은 날로부터 (5)일 이내에 그 내용을 서면으로 “회사”에게 통지하여야 한다. 위 기일 내에 아무런 통지를 하지 않을 경우, “고객”은 “회사”에 대해 “매매목적물”의 하자 등을 이유로 하여 이의제기를 할 수 없습니다.</p>
        <br>
        
        <strong id="agree7">제 7 조 (인도 및 소유권 이전, 매매대급 지급의무)</strong>
        <ul>
            <li>① “매매목적물”의 소유권은 “본 약정”을 체결한 “고객”에게 ”매매목적물”이 인도된 시점에 이전된 것으로 봅니다.</li>
            <li>② “본 약정”에 따라 “매매목적물”에 대해 매매계약이 체결된 것이므로, “고객”은 “학습서비스”를 중도에 종료하시더라도 “본 약정”에 따라 [별표1 : 태블릿 판매가격 약정표]에서 정하고 있는 매매대금을 모두 납부하셔야 합니다.</li>
        </ul>
        <br>
        
        <strong id="agree8">제8조 (개인정보의 제3자 위탁)</strong>
        <ul>
            <li>“회사”는 보다 나은 서비스 제공과 회원의 편의 제공 등 업무수행을 원활하게 하기 위해 회원의 개인정보를 동의 받은 이용목적 내에서 아래의 업체에 수집, 보관, 취급 등을 위탁하고 있습니다. </li>
            <li>“회사”는 위탁 계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있으며, 위탁하여 처리하는 개인정보는 당해 목적을 달성하기 위하여 최소한의 정보로 제한하고 있습니다. “회사”의 개인정보 처리 위탁 현황은 아래와 같습니다.</li>
        </ul>
        <br>
        <div class="tbl_type1">
            <table>
                <caption>개인정보의 제3자 위탁</caption>
                <colgroup>
                    <col span="4" style="width:25%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" id="T1-0">업체명</th>
                        <th scope="col" id="T1-1">업무위탁 목적</th>
                        <th scope="col" id="T1-2">위탁 개인정보 항목</th>
                        <th scope="col" id="T1-3">보유 및 이용기간</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="c" headers="T1-0">정보와기술㈜</td>
                        <td class="c" headers="T1-1">태블릿 배송 관련 업무</td>
                        <td class="c" headers="T1-2">성명, 주소, 핸드폰 번호</td>
                        <td class="c" headers="T1-3">목적 달성 시 파기</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        
        <strong id="agree9">제9조 (불가항력)</strong>
        <p>전쟁, 폭동, 내란, 천재지변, 노사분규, 기타 예측할 수 없는 사고 등 불가항력 사유에 의하여 “회사” 또는 “고객”의 계약이행이 불가능한 경우 “회사”와 “고객”은 “본 약관”상의 제반의무로부터 면제됩니다. 다만, 불가항력적 상황이 복구된 경우 “본 약정”상 의무는 다시 개시되는 것으로 합니다.</p>
        <br>
        
        <strong id="agree10">제 10 조 (계약의 해제, 해지) </strong>
        <ul>
            <li>① “회사” 또는 “고객” 양 당사자 중 어느 일방에 대하여 다음 각 호의 어느 하나에 해당하는 사유가 발생한 경우, 상대방은 서면 통지로 본 약정을 해제 또는 해지할 수 있습니다.
                <ul>
                    <li>1. 본 약정의 중요한 내용을 위반하여 상대방으로부터 시정요구를 받고도 3일 이내에 이를 시정하지 않는 경우</li>
                    <li>2. 제3자로부터 강제집행을 당하는 등으로 본 약정상의 의무를 이행하기 어렵게 되거나 파산, 해산, 회사정리, 기타 이와 유사한 신청을 당하거나 스스로 신청한 경우</li>
                </ul>
            </li>
            <li>② 전 항에 의한 본 약정의 해제 또는 해지는 이미 발생한 권리의무 및 손해배상의 청구에 영향을 미치지 아니합니다.</li>
        </ul>
        <br>

        <strong id="agree11">제11조 (손해배상)</strong>
        <p>“회사” 또는 “고객”의 귀책 있는 사유로 상대방에게 손해를 발생시킨 경우 손해에 귀책이 있는 당사자는 자신의 비용과 책임으로 상대방의 손해를 배상하여야 합니다.</p>
        <br>
        
        <strong id="agree12">제12조 (분쟁의 해결)</strong>
        <ul>
            <li>① “본 약정”에서 명시되지 않은 사항 및 해석에 이의가 있는 경우에는 당사자 간에 협의하여 해결합니다.</li>
            <li>② “본 약정”에 관한 분쟁이 발생하여 소송이 필요할 경우 민사소송법상 관할 법원에 소를 제기하여 분쟁을 해결합니다.</li>
        </ul>
        <br>
        
        <strong id="agree13">제13조 (계약의 효력)</strong>
        <p>“본 약정”은 “학습서비스”에 관한 [㈜대교 통합 서비스 이용 약관]에 우선한 효력을 가지며, 기타 “본 약정”에서 달리 정하지 않은 사항은 [㈜대교 통합 서비스 이용 약관]을 따릅니다.</p>
        <br>
                
        <strong class="tit_agree">[별첨 1 : 태블릿 판매가격 약정표]</strong>
        <br><br>
        <strong>1) 초등 18개월</strong>
        <div class="tbl_type1">
            <table>
                <caption>태블릿 판매가격 - 초등 18개월</caption>
                <colgroup>
                    <col span="2" style="width:50%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" id="T2-0">학습 개월<br>(학습서비스 이용기간)</th>
                        <th scope="col" id="T2-1">매매 대금(원)<br>[이하 "부가세 포함" 가격]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="c" headers="T2-0">18개월</td>
                        <td class="c" headers="T2-1">-</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">17개월</td>
                        <td class="c" headers="T2-1">22,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">16개월</td>
                        <td class="c" headers="T2-1">45,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">15개월</td>
                        <td class="c" headers="T2-1">68,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">14개월</td>
                        <td class="c" headers="T2-1">91,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">13개월</td>
                        <td class="c" headers="T2-1">114,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">12개월</td>
                        <td class="c" headers="T2-1">137,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">11개월</td>
                        <td class="c" headers="T2-1">160,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">10개월</td>
                        <td class="c" headers="T2-1">183,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">9개월</td>
                        <td class="c" headers="T2-1">206,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">8개월</td>
                        <td class="c" headers="T2-1">229,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">7개월</td>
                        <td class="c" headers="T2-1">252,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">6개월</td>
                        <td class="c" headers="T2-1">275,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">5개월</td>
                        <td class="c" headers="T2-1">298,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">4개월</td>
                        <td class="c" headers="T2-1">321,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">3개월</td>
                        <td class="c" headers="T2-1">344,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">2개월</td>
                        <td class="c" headers="T2-1">367,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T2-0">1개월</td>
                        <td class="c" headers="T2-1">390,000</td>
                    </tr>
                </tbody>
            </table>
            <p>※ 학습개월 : 아래 학습서비스 시작시점과 종료시점의 기준에 따른 학습서비스 이용기간 (학습개월 1개월 미만은 1개월로 봄)</p>
            <ul>
                <li>- 학습서비스 시작시점 : 실제 학습을 시작한 해당월의 1일</li>
                <li>- 학습서비스 종료시점 : 학습 종료사유가 발생한 해당월의 전월 말일</li>
            </ul>
        </div>
        <br>

        <strong>2) 중등 12개월</strong>
        <div class="tbl_type1">
            <table>
                <caption>태블릿 판매가격 - 중등 12개월</caption>
                <colgroup>
                    <col span="2" style="width:50%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" id="T3-0">학습 개월<br>(학습서비스 이용기간)</th>
                        <th scope="col" id="T3-1">매매 대금(원)<br>[이하 "부가세 포함" 가격]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="c" headers="T3-0">12개월</td>
                        <td class="c" headers="T3-1">-</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T3-0">11개월</td>
                        <td class="c" headers="T3-1">35,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T3-0">10개월</td>
                        <td class="c" headers="T3-1">70,500</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T3-0">9개월</td>
                        <td class="c" headers="T3-1">106,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T3-0">8개월</td>
                        <td class="c" headers="T3-1">141,500</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T3-0">7개월</td>
                        <td class="c" headers="T3-1">177,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T3-0">6개월</td>
                        <td class="c" headers="T3-1">212,500</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T3-0">5개월</td>
                        <td class="c" headers="T3-1">248,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T3-0">4개월</td>
                        <td class="c" headers="T3-1">283,500</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T3-0">3개월</td>
                        <td class="c" headers="T3-1">319,000</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T3-0">2개월</td>
                        <td class="c" headers="T3-1">354,500</td>
                    </tr>
                    <tr>
                        <td class="c" headers="T3-0">1개월</td>
                        <td class="c" headers="T3-1">390,000</td>
                    </tr>
                </tbody>
            </table>
            <p>※ 학습개월 : 아래 학습서비스 시작시점과 종료시점의 기준에 따른 학습서비스 이용기간 (학습개월 1개월 미만은 1개월로 봄)</p>
            <ul>
                <li>- 학습서비스 시작시점 : 실제 학습을 시작한 해당월의 1일</li>
                <li>- 학습서비스 종료시점 : 학습 종료사유가 발생한 해당월의 전월 말일</li>
            </ul>
        </div>
    </div>
</div>