<!-- 구매조건 확인 및 결제진행 동의 -->
<div class="agree_cont">
    <div class="inner">
        <strong>제 1조(목적)</strong>
        <p>본 약관은 주식회사 대교(이하 "회사")의 인터넷 사이트인 www.macadamia.kr (이하 "사이트")에서 재화 또는 용역 거래 서비스 등(이상의 거래대상을 통틀어 이하 "상품") 을 거래하거나 거래하고자 하는 자와 회사 간의 권리, 의무 기타 필요사항을 규정하고, 상품 구매를 위한 서비스(이하 "서비스") 이용 조건 및 절차 등을 규정함을 목적으로 합니다.</p>
        <br>
        <strong>제 2조(약관의 효력 및 변경)</strong>
        <ul>
            <li>1. 본 약관은 사이트 내에서 상품 구매 "서비스"를 이용하고자 하는 이용자에 한해서 그 효력이 발생합니다.</li>
            <li>2. 본 약관의 내용은 서비스 화면에 게시하거나 기타의 방법으로 이용자에게 공지하고, 이용자가 이에 동의를 함으로써 효력이 발생합니다.</li>
            <li>3. 회사는 필요하다고 인정되는 경우 본 약관을 변경할 수 있으며, 회사가 약관을 변경할 경우에는 적용일자 및 변경사유를 명시하여 제2항과 같은 방법으로 그 적용일자 7일 전부터 공지합니다. 다만, 이용자에게 불리한 약관의 변경인 경우에는 그 적용일자 30일 전부터 공지하며, 이메일/로그인시 동의창 등의 전자적 수단을 통해 따로 명확히 통지하도록 합니다. (불특정다수 이용자에 대한 통지의 경우 서비스 게시판 등에 상당기간 게시함으로써 개별 통지를 갈음할 수 있습니다.)</li>
            <li>4. 회사가 제3항에 따라 변경 약관을 공지 또는 통지하면서, 이용자가 약관 변경 적용일까지 거부의사를 표시하지 아니할 경우 약관의 변경에 동의한 것으로 간주한다는 내용을 공지 또는 통지하였음에도 이용자가 명시적으로 변경된 약관의 효력 발생일까지 약관 변경에 대한 거부의사를 표시하지 아니하면, 이용자가 변경 약관에 동의한 것으로 간주합니다. 이용자는 변경된 약관에 동의하지 않을 경우 서비스 이용을 중단하고 이용 계약을 해지할 수 있습니다.</li>
            <li>5. 본 약관에 동의하는 것은 회사가 운영하는 사이트를 정기적으로 방문하여 약관의 변경사항을 확인하는 것에 동의함을 의미합니다. 변경된 약관에 대한 정보를 알지 못하여 발생하는 이용자의 피해에 대하여 회사는 책임이 없습니다.
                <dl class="inden-dl">
                    <dt>가. 서비스 제공 및 요금정산</dt>
                    <dd>- 콘텐츠 제공, 특정 맞춤 서비스 제공, 물품배송 및 청구서 등 발송, 본인인증, 구매 및 요금결제</dd>
                    <dt>나. 회원관리</dt>
                    <dd>-	 개인식별, 부정 이용 및 비인가 사용방지, 가입의사, 가입 여부 및 가입횟수 확인, 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달다. 신규 서비스 개발 및 마케팅</dd>
                    <dt>다. 신규 서비스 개발 및 마케팅</dt>
                    <dd>- 신규 서비스 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악, 회원의 서비스이용에 대한 통계</dd>
                </dl>
            </li>
            <li>2) 회사는 회원가입, 원활한 고객상담, 각종 서비스의 제공을 위한 필수 개인정보와 고객 맞춤 서비스 제공을 위한 선택적 개인정보로 구분하여 아래와 같은 개인정보를 수집하고 있습니다. 선택적 개인정보를 입력하지 않은 경우에도 서비스를 이용함에 제한이 없으며, 회사는 이용자의 인권침해 우려가 있는 개인정보는 수집하지 않습니다.
                <dl class="inden-dl">
                    <dt>가. 수집하는 개인정보 항목(필수/선택)</dt>
                    <dd>- 필수 : 아이디, 비밀번호, 이름, 생년월일, 이메일주소, 핸드폰번호</dd>
                    <dd>- 선택 : 은행명, 계좌번호(자동이체 등록 시), 카드사명, 카드번호, 결제승인번호(카드결제 시), 학교명, 추천인, 학습중인 회원번호, 자녀이름</dd>
                    <dd>※ 수집하는 개인정보의 항목은 이용하는 서비스에 따라 달라질 수 있습니다.</dd>
                    <dt>나. 만14세 미만 아동 가입 시 수집정보</dt>
                    <dd>- 법정대리인의 이름, 연락처, 본인인증정보(DI : 중복가입 확인정보, CI : 암호화 된 식별정보), I-PIN번호, (만 14세 미만 아동 가입 시 법정대리인 동의여부확인, 추후 법정대리인 본인확인 등을 위하여 사용됩니다.)</dd>
                    <dt>다. 수집 방법</dt>
                    <dd>- 홈페이지(PC, 모바일, 앱) 회원가입, 서비스 이용, 회원정보수정, 서면, 팩스, 전화, 이메일, 이벤트 응모, 고객센터 문의, 협력회사를 통한 수집</dd>
                </dl>
            </li>
        </ul>
        <br>
        <strong>제 3조(약관 외 준칙)</strong>
        <ul>
            <li>1. 본 약관에 명시되지 않은 사항은 전기통신기본법, 전기통신사업법, 독점규제 및 공정거래에 관한 법률, 컴퓨터 프로그램 보호법, 저작권법, 전자상거래의 소비자보호에 관한 법률과 일반 상관례 등 관계법령 및 회사가 제공하는 서비스에 관한 별도의 약관, 이용규정 또는 세부이용지침 등의 규정에 따릅니다.</li>
            <li>2. 회사는 필요한 경우 서비스 이용과 관련된 세부적인 내용(이하 "이용정책")을 정하여 이를 사이트 등을 통하여 공지할 수 있습니다.</li>
        </ul>
        <br>
        <strong>제 4조(용어의 정의)</strong>
        <ul>
            <li>1. 본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
                <dl class="inden_dl_default">
                    <dd>1) 상품: 사이트 내에서 판매되는 재화와 용역을 말합니다.</dd>
                    <dd>2) 이용자: 사이트에 접속하여 본 약관에 동의하고 사이트가 제공하는 서비스를 이용하는 회원 및 비회원을 말합니다.</dd>
                    <dd>3) 회원: 사이트에 회원 가입한 자로서, ID(고유번호)와 Password(비밀번호)를 발급 받아 사이트를 이용하는 자를 말합니다.</dd>
                    <dd>4) 비회원: 사이트에 회원 가입을 하지 않고, 사이트를 이용하는 자를 말합니다.</dd>
                    <dd>5) 구매자: 사이트에서 제공하는 상품을 구매하는 이용자를 말합니다.</dd>
                    <dd>6) 판매자: 상품을 판매할 목적으로 회사가 제공하는 상품 양식에 맞추어 사이트에 상품을 등록한 자를 말합니다. 회사의 상황에 따라 회사나 회사가 정한 특정 상대방이 직접 운영하는 경우에는 회사를 "판매자"로 간주합니다.</dd>
                    <dd>7) 영업일: 회사가 정상적으로 서비스를 제공하는 날로서 토요일, 일요일 및 법정 공휴일을 제외한 날을 말합니다.</dd>
                </dl>
            </li>
            <li>2. 본 약관에서 사용하는 용어 중 본 조 제1항에서 정의하는 것을 제외하고는 관계법령 및 서비스별 안내 등에서 정하는 바를 따릅니다.</li>
        </ul>
        <br>
        <strong>제 5조(서비스 범위)</strong>
        <ul>
            <li>1. 본 사이트는 다음 각 호의 서비스를 제공합니다.
                <dl class="inden_dl_default">
                    <dd>1) 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결</dd>
                    <dd>2) 구매계약이 체결된 재화 또는 용역의 배송업무</dd>
                    <dd>3) 기타 회사가 정하는 업무</dd>
                </dl>
            </li>
            <li>2. 회사는 제 1항의 서비스 외에 상품 추천 등 기타 정보 제공서비스, 회사가 직접 또는 제휴사와 공동으로 제공하는 이벤트 서비스 등을 사이트 내에 추가할 수 있습니다.</li>
            <li>3. 회사는 재화 또는 용역의 품절 또는 기술적 사양이 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화 또는 용역의 내용을 명시하여 현재의 재화 또는 용역의 내용을 게시한 곳에 즉시 공지하겠습니다.</li>
            <li>4. 회사는 회사가 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화 등의 품절 또는 기술적인 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 연락처로 즉시 통지하겠습니다. (이메일, 전화 등)</li>
        </ul>
        <br>
        <strong>제 6 조(상품의 주문절차)</strong>
        <ul>
            <li>1. 이용자는 상품을 구매하기 전에 반드시 회사가 해당 사이트 페이지 상에 제시 상품의 상세 내용과 거래의 조건 등을 정확하게 확인한 후 구매하여야 합니다.</li>
            <li>2. 사이트에서 "상품"을 구매할 시에는 성명과 주민등록번호로 실명인증을 거친 후 각 서비스 별 약관 동의 및 가입신청서를 작성하셔야 합니다.</li>
            <li>3. 이용자는 이하의 방법에 의하여 주문을 신청합니다.
                <dl class="inden_dl_default">
                    <dd>(1) 재화 또는 용역의 선택</dd>
                    <dd>(2) 재화 등의 주문신청 내용 확인</dd>
                    <dd>(3) 결제방법 선택</dd>
                </dl>
            </li>
        </ul>
        <br>
        <strong>제7조(구매계약의 성립)</strong>
        <ul>
            <li>1. 회사는 위의 주문 신청에 대하여 다음 각 호에 해당하지 않는 한 승낙합니다.
                <dl class="inden_dl_default">
                    <dd>(1) 신청 내용에 허위, 기재누락, 오기가 있는 경우</dd>
                    <dd>(2) 기타 주문신청에 승낙하는 것이 사이트 기술상 현저히 지장이 있다고 판단하는 경우(3) 신용카드 결제 시, 소유주의 동의를 얻지 않는 불법행위로 추정 또는 확인되었을 경우</dd>
                    <dd>(3) 신용카드 결제 시, 소유주의 동의를 얻지 않는 불법행위로 추정 또는 확인되었을 경우</dd>
                    <dd>(4) 주문 신청 고객이 사이트 이용약관상의 회원 자격 제한 대상 고객임이 확인되었을 경우</dd>
                </dl>
            </li>
            <li>회사의 승낙이 제9조 제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다. 단, 결제완료 후 상담원의 전화 상담 시 고객의사에 따라 계약 정보가 변경될 수 있습니다.</li>
            <li>계약이 성립한 후, 회사가 제1항의 각 호의 사유를 발견한 경우 회사는 즉시 계약을 취소할 수 있으며 계약 취소 시 고객이 결제한 상품 대금은 취소확정 후 즉시 환불처리 됩니다. 이 경우 고객은 회사에 손해 배상을 요구할 수 없습니다.</li>
        </ul>
        <br>
        <strong>제8조(대금지급방법)</strong>
        <p>사이트에서 주문한 재화 또는 용역에 대한 대금지급방법은 다음 각호의 하나로 할 수 있습니다.</p>
        <ul>
            <li><strong>1. 신용카드결제 </strong></li>
            <li><strong>2. 즉시이체(실시간 계좌이체)</strong></li>
        </ul>
        <br>
        <strong>제9조(수신확인통지 주문신청 변경 및 취소)</strong>
        <ul>
            <li>1. 회사는 이용자의 주문신청이 있는 경우 이용자에게 수신확인통지를 합니다.</li>
            <li>2. 수신확인통지를 한 후 회사는 고객에게 직접 전화를 하여 주문내역에 대해 상담을 진행할 수 있습니다.</li>
            <li>3. 수신확인통지를 받은 이용자는 전화상담 및 전화상담 전에 주문 변경, 철회 등이 있는 경우에는 주문신청 변경 및 취소를 요청할 수 있습니다.</li>
            <li>4. 회사는 배송 전 이용자의 주문신청 변경 및 취소 요청이 있는 때에는 지체 없이 그 요청에 따라 처리합니다. 다만 이미 대금을 지불한 경우에는 제10조의 청약철회 등에 관한 규정에 따릅니다.</li>
        </ul>
        <br>
        <strong>제10조(청약철회 등)</strong>
        <ul>
            <li>1. 회사와 재화 또는 용역 등의 구매에 관한 계약을 체결한 이용자는 재화등을 공급받은 날로부터 14일 이내에 청약철회를 할 수 있습니다.</li>
            <li>2. 이용자는 다음 각호의 1에 해당하는 경우에는 회사의 의사에 반하여 제1항의 규정에 의한 청약철회 등을 할 수 없습니다.
                <dl class="inden_dl_default">
                    <dd>(1) 제품 설치 후 이용자에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우(다만 재화 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다.)</dd>
                    <dd>(2) 이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우</dd>
                    <dd>(3) 시간의 경과에 의하여 재판매가 곤란할 정도로 재화 등의 가치가 현저히 감소한 경우</dd>
                    <dd>(4) 같은 성능을 지닌 재화 등으로 복제가 가능한 경우 그 원본인 재화 등의 포장을 훼손한 경우</dd>
                </dl>
            </li>
            <li>3. 이용자는 제1항 및 제2항의 규정에 불구하고 재화 등의 내용이 표시 광고 내용과 다르거나, 계약내용과 다르게 이행된 경우에는 당해 재화 등을 공급받은 날부터 3월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약철회를 할 수 있습니다.</li>
            <li>4. 이용자의 단순 변심에 의한 사유로 배송된 재화를 반환하는 경우 반환 비용 일체를 이용자가 부담합니다.</li>
        </ul>
        <br>
        <strong>제11조(청약철회 등의 효과)</strong>
        <ul>
            <li>1. 회사는 이용자로부터 재화 등을 반환 받은 경우 3영업일 이내에 이미 지급받은 재화 등의 대금을 환급합니다. 이 경우 회사는 이용자에게 재화 등의 환급을 지연한 때에는 그 지연기간에 대하여 공정거래위원회가 정하여 고시하는 지연이자율을 곱하여 산정한 지연이자를 지급합니다.</li>
            <li>2. 위 대금을 환급함에 있어서 이용자가 신용카드 등의 결제수단으로 재화 등의 대금을 지급한 때에는 지체없이 당해 결제수단을 제공한 사업자로 하여금 재화 등의 대금의 청구를 정지 또는 취소하도록 요청합니다.</li>
            <li>3. 제10조의 청약철회 등의 경우 공급받은 재화 등의 반환에 필요한 비용은 이용자가 부담합니다. 회사는 이용자에게 제10조의 청약철회 등을 이유로 위약금 또는 손해배상을 청구하지 않습니다. 다만 재화 등의 내용이 표시,광고 내용과 다르거나 계약내용과 다르게 이행되어 청약철회 등을 하는 경우 재화 등의 반환에 필요한 비용은 회사가 부담합니다.</li>
        </ul>
        <br>
        <strong>제12조(배송)</strong>
        <ul>
            <li>1. 회사는 이용자와 재화 등의 공급시기에 관하여 별도의 약정이 없는 이상, 이용자가 청약을 한 날부터 7일 이내에 재화 등을 배송할 수 있도록 주문제작, 포장 등 기타의 필요한 조치를 취합니다.</li>
            <li>2. 회사는 이용자가 주문한 재화 및 용역에 대해 배송수단, 수단별 배송비용 부담자, 수단별 배송기간 등을 명시합니다. 만약, 회사의 고의, 과실로 약정 배송 기간을 초과한 경우에는 그로 인한 이용자의 손해를 배상합니다.</li>
            <li>3. 회사와 고객간의 상품의 인도시기 및 용역의 제공시기에 관하여 별도의 약정이 있는 경우에는 당해 약정이 우선합니다.</li>
        </ul>
        <br>
        <strong>제13조(환급)</strong>
        <p>회사는 이용자가 주문 신청한 재화 또는 용역이 품절 등의 사유로 재화의 인도 또는 용역의 제공을 할 수 없을 때에는 지체 없이 그 사유를 이용자에게 통지하고, 사전에 재화 또는 용역의 대금을 받은 경우에는 사유 확정 후 즉시 계약해제 및 환급절차를 취합니다.</p>
        <br>
        <strong>제 14 조(상품 개통 및 배송을 위한 개인정보의 처리위탁 및 제공 등)</strong>
        <p>회사는 배송을 위해 필요한 개인정보를 회사가 선정한 제 3의 업체에게 처리위탁 및 제공할 수 있습니다. 이러한 경우 해당업체를 명시하고 이를 회사의 개인정보처리방침에 공지하거나 구매자가 개인정보 수집화면에서 개인정보 처리방침을 보실 수 있도록 조치하고 있습니다.</p>
        <br>
        <strong>제 15 조(기타 조항) </strong>
        <ul>
            <li>1. 회사는 필요한 경우 특정 서비스나 기능의 전부 또는 일부를 사이트에 미리 공지한 후 일시적 또는 영구적으로 수정하거나 중단할 수 있습니다.</li>
            <li>2. 각 당사자는 상대방의 서면동의 없이 이 약관상의 권리와 의무를 제 3자에게 양도하거나 기타 처분할 수 없습니다.</li>
        </ul>
        <br>
        <p>
            부칙<br>
            (시행일) 본 약관은 2020년 10월 05일부터 시행합니다.
        </p>
        <br>
    </div>
    <!-- <script>
        $('#agreeTop').on('click', 'a', function(e){
            e.preventDefault();
            var padding = 80;
            var pos = $(this.hash).offset().top;
            $(window).scrollTop(pos-padding)
        })
    </script> -->
</div>