<!-- 마카다미아 이용약관 동의 -->
<div class="agree_cont">
    <!-- 200924_수정 -->
    <div class="inner">
        <!-- <ul class="indent_default lists" id="agreeTop">
            <li><a href="#agree1">제 01 조 (목적)</a></li>
            <li><a href="#agree2">제 02 조 (정의)</a></li>
            <li><a href="#agree3">제 03 조 (약관의 명시 및 변경)</a></li>
            <li><a href="#agree4">제 04 조 (약관 외 준칙)</a></li>
            <li><a href="#agree5">제 05 조 (회원에 대한 통지)</a></li>
            <li><a href="#agree6">제 06 조 (회원가입)</a></li>
            <li><a href="#agree7">제 07 조 (회원가입 신청에 대한 승인)</a></li>
            <li><a href="#agree8">제 08 조 (미성년자 이용자에 관한 특칙)</a></li>
            <li><a href="#agree9">제 09 조 ("서비스"의 제공 및 이용)</a></li>
            <li><a href="#agree10">제 10 조 ("서비스" 이용 시간 및 문의)</a></li>
            <li><a href="#agree11">제 11 조 ("서비스" 제공의 중지 및 제한)</a></li>
            <li><a href="#agree12">제 12 조 (유료서비스 내용 등의 게시)</a></li>
            <li><a href="#agree13">제 13 조 (이용료의 구분)</a></li>
            <li><a href="#agree14">제 14 조 (이용계약의 성립 등)</a></li>
            <li><a href="#agree15">제 15 조 (대금지급방법)</a></li>
            <li><a href="#agree16">제 16 조 (과오금의 환불)</a></li>
            <li><a href="#agree17">제 17 조 (회사의 의무)</a></li>
            <li><a href="#agree18">제 18 조 (회원의 아이디와 비밀번호 관리에 대한 의무)</a></li>
            <li><a href="#agree19">제 19 조 (회원의 의무)</a></li>
            <li><a href="#agree20">제 20 조 (회원 탈퇴)</a></li>
            <li><a href="#agree21">제 21 조 (회원 자격 상실 및 정지)</a></li>
            <li><a href="#agree22">제 22 조 (게시물)</a></li>
            <li><a href="#agree23">제 23 조 (지식재산권)</a></li>
            <li><a href="#agree24">제 24 조 (손해배상)</a></li>
            <li><a href="#agree25">제 25 조 (손해배상의 청구)</a></li>
            <li><a href="#agree26">제 26 조 (면책조항)</a></li>
            <li><a href="#agree27">제 27 조 (분쟁해결)</a></li>
        </ul>
        <br>
        <br> -->
        <strong class="tit_agree">제 1 장 (총칙)</strong>
        <strong id="agree1">제 1 조 (목적)</strong>
        <p>본 약관은 "회원"이 ㈜대교(이하 "회사"라 합니다)가 제공하는 교육 서비스를 이용함에 있어 관련한 이용조건 및 절차, 기타 제반 사항을 규정하는 것을 목적으로 합니다.</p>
        <br>
        
        <strong id="agree2">제 2 조 (정의)</strong>
        <p>본 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
        <br>
        <ul>
            <li>① "회원"이라 함은 "사이트"에 접속하여 본 약관에 동의함으로써 "아이디"를 부여 받은 자로서 "회사"가 제공하는 "서비스"를 지속적으로 이용할 수 있는 자를 말합니다.</li>
            <li>② "이용자"라 함은 "회원" 중 "회사"가 제공하는 "서비스"를 유상 또는 무상으로 신청하여 제공받는 자를 말합니다.</li>
            <li>③ "아이디(ID)"라 함은 "회원"의 식별 및 원활한 "서비스" 이용을 위하여 "회원"이 정하고 "회사"가 승인하거나 또는 "회원"이 "회사"와 별도로 체결한 학습 서비스 이용 계약 등 "서비스" 이용 계약에 따라 "회사"가 승인하고 발급한 문자 또는 숫자의 조합을 말합니다.</li>
            <!-- <li>③ "아이디(ID)"라 함은 "회원"의 식별 및 원활한 "서비스" 이용을 위하여 "회원"이 정하고 "회사"가 승인하는 문자 또는 숫자의 조합을 말합니다.</li> -->
            <li>④ "비밀번호(password)"라 함은 "회원"이 승인 받은 "아이디"와 일치한 회원임을 확인하고 "개인정보" 등 기타 권익보호를 위하여 "회원"이 지정한 문자, 숫자, 특수문자의 조합을 말합니다.</li>
            <li>⑤ "서비스"라 함은 온, 오프라인을 통해서 회원이 이용할 수 있는 대교의 제반 서비스를 의미합니다. 제반 서비스에는 학원정보(위치, 시설 등), 학원 검색, 커뮤니티(게시판 등), 제공 학습서비스(일정, 결과, 평가, 출결 등), 제품의 판매 등이 포함됩니다.</li>
            <li>⑥ "사이트"라 함은 "서비스" 신청을 위해 "회원"이 접근하는 "회사"의 웹/모바일 운영 채널을 말합니다.</li>
            <li>⑦ "개인정보"라 함은 생존하는 개인에 관한 정보로 성명, 생년월일 등 "회사"가 개인을 타인과 식별할 수 있는 정보를 말합니다.</li>
            <li>⑧ 하나의 "아이디"와 "비밀번호"로 동시에 가입하여 이용할 수 있는 "사이트"는 아래와 같습니다.
                <ul>
                    <li>- 눈높이 : www.noonnoppi.com</li>
                    <li>- 눈높이아티맘 : www.artimom.com</li>
                    <!-- <li>- 눈높이앱</li> -->
                    <li>- 대교 Speaking : www.daekyospeaking.com</li>
                    <li>- 대교그룹사회공헌 웹사이트 : csr.daekyo.com</li>
                    <!-- <li>- 대교닷컴 : www.daekyo.com</li> -->
                    <li>- 독서멘토 : dkreading.daekyo.com</li>
                    <li>- 드림멘토 : www.dream-mentor.co.kr</li>
                    <li>- 드림멘토상담센터 : clinic.daekyo.com</li>
                    <li>- 소빅스 : www.sobics.com</li>
                    <li>- 솔루니 : soluny.daekyo.com</li>
                    <li>- 차이홍중국어 : caihong.daekyo.com</li>
                    <li>- 대교 트라움벨트 : www.traumwelt.co.kr</li>
                    <li>- 티칭 LAB : www.teachinglab.co.kr</li>
                    <li>- 마카다미아 : www.macadamia.kr</li>
                    <li>- 반보 : www.vanvo.co.kr</li>
                    <li>- 눈높이 iBT 학력진단 : ibtnnp.daekyo.com</li>
                </ul>
            </li>
            <li>⑨	별도의 가입 절차를 통하여 이용할 수 있는 "사이트"는 아래와 같습니다.
                <ul>
                    <li>- HSK시험센터 : www.hsk-korea.co.kr</li>
                    <li>- 베이비TV : www.baby-tv.co.kr</li>
                    <li>- 대교 마이다스 호텔&amp;리조트 : www.midashotel.co.kr</li>
                    <li>- 아이레벨 : www.myeyelevel.com</li>
                    <li>- 어린이TV : www.kids17.net</li>
                    <li>- 차이홍공자학당 : www.chg.co.kr</li>
                    <li>- 키즈잼 : kidsjam.daekyo.com</li>
                </ul>
            </li>
        </ul>
        <br>
        
        <strong id="agree3">제 3 조 (약관의 명시 및 변경)</strong>
        <ul>
            <li>①	본 약관은 "회원"이 약관의 내용에 동의하며 "서비스" 제공을 신청하고, "회사"가 그 신청을 승낙하여 신청이 완료됨으로써 효력이 발생합니다.</li>
            <li>②	"회사"는 관계법령을 위반하지 않는 범위 내에서 본 약관을 개정할 수 있으며 약관을 개정할 경우 현행 약관과 함께 적용일자 30일 전부터 적용일자 및 개정 사유를 명시하여 "회원"이 "사이트"에서 확인할 수 있도록 게시하거나 "회원"이 공개한 연락처로 전자우편을 발송하거나 SMS, 알림 메시지(Push Notification) 등 "회원"이 확인할 수 있도록 약관 개정 사실을 통지할 수 있습니다. 단, "회원"의 연락처 미기재, 변경 후 미수정 등으로 인하여 개별 통지가 어려운 경우에 한하여 본 항의 공지를 함으로써 개별 통지를 한 것으로 봅니다.</li>
            <li>③	전 항에 따라 약관의 변경을 통지한 경우 개정 약관 적용일 전까지 "이용자"가 거부의 의사를 표시하지 않으면 변경약관에 동의한 것으로 간주합니다.</li>
            <li>④	"이용자"가 개정 약관의 적용에 동의하지 않는 경우 현재 이용 중인 유료 "서비스"의 이용이 종료될 때까지 기존 약관을 적용하거나 이용계약을 해지 할 수 있습니다.</li>					
        </ul>
        <br>
        
        <strong id="agree4">제 4 조 (약관 외 준칙)</strong>
        <p>본 약관에서 명시하지 아니한 사항과 본 약관의 해석에 관하여는 전기통신기본법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관 한 법률(이하 "정보통신망법"이라 합니다), 위치정보의 보호 및 이용 등에 관한 법률(이하 "위치정보법"이라 합니다) 등 기타 관련 법령 등의 관계법령 또는 기타 상관례에 따릅니다.</p>
        <br>
        
        <strong id="agree5">제 5 조 ("회원"에 대한 통지)</strong>
        <ul>
            <li>①	"회사"는 원활한 서비스 이용을 위해 "이용자"에게 알려야 할 사항이 발생하는 경우 회원가입 시 "이용자"가 제공한 연락처로 전자우편 발송하거나, SMS, 알림 메시지(Push Notification), "사이트"에 공지 또는 팝업창을 게시하는 방법 등으로 통지할 수 있습니다.</li>
            <li>②	전 항과 같이 통지한 경우 그 때부터 14일 이내에 "이용자"가 "회사"에 별도 거부의사를 표시하지 않을 경우 해당 "이용자"가 통지 내용에 동의하였다고 간주합니다.</li>
        </ul>
        <br><br>
        
        <strong class="tit_agree">제 2 장 회원가입</strong>
        <strong id="agree6">제 6 조 (회원가입)</strong>
        <ul>
            <li>①	회원가입은 "서비스"를 이용하려는 "회원"이 "회사"의 "사이트"를 통해 본 약관의 내용에 동의하여 회원가입 신청을 한 후 "회사"가 이러한 신청에 대하여 승인함으로써 완료됩니다.</li>
            <li>②	전 항의 규정에 따른 회원가입 진행 시 "회사"는 원활한 "서비스" 제공을 위하여 필요한 "회원"의 "개인정보"를 수집할 수 있으며, "회원"이 "서비스" 제공에 필요한 필수 정보를 허위로 제공하여 발생한 책임 및 불이익은 "회원"에게 귀속됩니다.</li>
            <li>③	"회사"는 관련법령에 의거하여 "회원"의 별도 동의에 따라 다양한 마케팅 정보 등을 전자우편이나 우편, SMS, 전화, 알림 메시지(Push Notification) 등의 방법으로 회원에게 제공할 수 있습니다.</li>
        </ul>
        <br>
        
        <strong id="agree7">제 7 조 (회원가입 신청에 대한 승인)</strong>
        <ul>
            <li>①	회원가입의 승인은 "회사"가 회원가입 신청을 한 자에게 "서비스" 이용 개시를 통보함으로써 이루어집니다.</li>
            <li>②	"회사"는 다음 각호에 해당하는 경우 회원가입 신청에 대하여 승인하지 아니할 수 있습니다.
                <ul>
                    <li>1. 본인의 실명으로 신청하지 않은 경우</li>
                    <li>2. 다른 사람의 명의를 빌리거나 도용하여 차명으로 신청한 경우</li>
                    <li>3. 회원가입 신청 중 허위 또는 적법하지 않은 방법으로 내용을 기재했거나 첨부한 경우 또는 기재하지 않은 경우</li>
                    <li>4. 관계법령에 위배되거나 사회의 안녕질서 혹은 미풍양속을 저해할 수 있는 목적으로 신청한 경우</li>
                    <li>5. 기타 "회사"가 정한 회원가입 신청 요건이 미비된 경우</li>
                </ul>
            </li>
            <li>③	"회사"는 다음 각호에 해당하는 경우에는 그 사유가 해소될 때까지 이용 승낙을 보류할 수 있으며, 그 사유를 "사이트"에 공지합니다.
                <ul>
                    <li>1. 서비스 관련 설비의 용량이 부족한 경우</li>
                    <li>2. 기술상 또는 업무 수행상 지장이 있는 경우</li>
                    <li>3. 기타 회사가 필요하다고 인정하는 경우</li>
                </ul>
            </li>
        </ul>
        <br>
        
        <strong id="agree8">제 8 조 (미성년자 이용자에 관한 특칙)</strong>
        <ul>
            <li>①	관련 법령에 따른 미성년자는 반드시 보호자(법정대리인 등)의 동의를 득한 후 회원가입 신청을 하여야 하며, "회사"는 회원가입을 신청하는 "미성년자"에게 "법정대리인"의 동의를 확인하기 위한 "법정대리인"의 성명 등 최소한의 정보를 요청할 수 있습니다.</li>
            <li>②	"미성년자" 및 "미성년자"의 법정대리인은 회원가입에 앞서 "사이트"의 개인정보취급방침을 충분히 숙지하여 "회원"의 "개인정보" 제공에 대해 신중을 기하도록 합니다.</li>
            <li>③	"서비스" 이용을 희망하는 "미성년자"는 "회사"가 법정대리인에게 본 조 제 2 항의 동의사실 여부를 확인 할 수 있도록 회원가입 시, 보호자[법정대리인]의 성명 및 유ㆍ무선 연락처 등을 제공하여야 합니다.</li>
            <li>④	법정대리인은 자녀에 대한 "개인정보"의 열람, 정정, 갱신을 요구하거나 회원가입에 대한 동의를 철회할 수 있으며, 이러한 경우에 "회사"는 지체 없이 필요한 조치를 취해야 합니다. 이때 "회사"는 법정대리인임을 입증할 수 있는 문서 등의 확인서류 제출을 요청할 수 있습니다.</li>
        </ul>
        <br><br>
        
        <strong class="tit_agree">제 3 장 "서비스" 제공 및 제한</strong>				
        <strong id="agree9">제 9 조 ("서비스"의 제공 및 이용)</strong>
        <ul>
            <li>①	"회사"는 다음의 "서비스"를 제공하며, "회사"가 제공하는 모든 "서비스" 이용기간은 대교가 제공하는 각 서비스별 이용약관을 따릅니다.
                <ul>
                    <li>- 재화 또는 용역에 대한 제공 및 구매계약의 체결</li>
                    <li>- 구매계약이 체결된 재화 또는 용역의 제공</li>
                    <li>- 기타 "회사"가 정하는 서비스</li>
                </ul>
            <li>②	"회사"는 재화의 품절, 기술적 사양의 변경, 프로그램 운영의 변경 등의 사유로 계속적인 "서비스" 제공이 불가피한 경우 향후 체결되는 계약에 의해 제공할 "서비스"의 내용을 변경할 수 있습니다.</li>
            <li>③	구매 계약에 따른 "회사"의 유료 "서비스"의 이용 요금 및 결제 방식은 해당 "서비스" 및 결제 페이지에 명시되어 있는 규정에 따릅니다.</li>
            <li>④	"회사"는 무료 "서비스"의 일부 또는 전부를 "회사"의 정책 및 운영의 필요상 수정, 중단, 변경할 수 있으며, 이에 대하여 특별히 정함이 없는 한 "이용자"에게 "서비스" 변경 등에 대한 별도 보상을 지급하지 않습니다.</li>
            <li>⑤	"이용자"는 "서비스" 이용을 위해 자신의 PC를 포함한 "서비스" 이용 환경에 대한 점검이 필요하며 전용 프로그램 및 기타 주변장치(헤드셋, 마이크, 카메라 등)가 필요한 경우 구비하여야 원활한 "서비스" 이용이 가능합니다.</li>
            <li>⑥	"이용자"가 제공받고자 하는 회사의"서비스" 개시 시점은 각 "서비스"에서 정한 기준에 따릅니다.</li>
            <li>⑦	"회사"가 "서비스" 제공을 개시하였음에도 "이용자"가 응답하지 않는 경우 서비스는 제공이 완료된 것으로 하며 "회사"는 이에 대해 별도 보상하지 않습니다.</li>
            <li>⑧	"회사"의 고의 또는 중대한 과실로 인해 "서비스" 진행 시 예정된 시간 전부가 진행되지 못한 경우, "회사"는 각 "서비스"의 보상 기준에 따라 "이용자"에게 보상합니다. 다만, "이용자"의 사정으로 인한 경우에는 별도 보상하지 않습니다.</li>
        </ul>
        <br>
        
        <strong id="agree10">제 10 조 ("서비스" 이용 시간 및 문의)</strong>
        <ul>
            <li>①	"회사"는 "서비스"를 업무상, 기술상 문제 등 기타 특별한 사정이 없는 한 24시간 운영하는 것을 원칙으로 합니다. 단, "회사"는 "사이트" 내 공지를 통해 일부 "서비스"의 이용 가능 일자 및 시간을 별도로 정할 수 있습니다.</li>
            <li>②	"이용자"는 "서비스" 이용 중 문의 사항이 있는 경우 "사이트"에 기재된 고객센터를 통해 온라인 또는 유선으로 문의할 수 있습니다.</li>
            <li>③	"회사"는 원활한 문제 해결을 위하여 "이용자"가 전 항에 따라 문의하는 내용을 저장, 녹음하여 활용할 수 있습니다.</li>
        </ul>
        <br>

        <strong id="agree11">제 11 조 ("서비스" 제공의 중지 및 제한)</strong>
        <ul>
            <li>①	"회사"는 다음 각호에 해당하는 경우 "서비스" 제공을 중지하거나 제한할 수 있습니다.
                <ul>
                    <li>1. "서비스"용 설비의 최적화를 위한 시스템 점검 또는 설비 보수로 인한 경우</li>
                    <li>2. 분산서비스거부(DDoS) 공격 등에 의해 발생한 "서비스" 장애 복구를 위한 경우</li>
                    <li>3. 기타 "서비스"용 설비의 장애 또는 "서비스" 이용의 폭주 등으로 "서비스" 이용에 지장이 있는 경우</li>
                    <li>4. 새로운 "서비스"로의 교체가 적절하다고 판단하는 경우</li>
                    <li>5. 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우</li>
                    <li>6. 정전, 천재지변, 국가비상사태 등 불가항력적 사유가 있는 경우</li>
                    <li>7. 기타 합리적인 이유가 있는 경우로서 "회사"가 필요하다고 인정하는 경우</li>
                </ul>                                                    
            </li>
            <li>②	"회사"가 전 항에 따라 "서비스" 제공을 중지하거나 제한하는 경우 "회사"는 "사이트" 내 게시 등을 통해 해당 사실을 "이용자"에게 공지합니다.</li>
            <li>③	본 조에 따라 "이용자"의 "서비스" 이용이 중지되거나 그 이용에 장애가 발생하는 경우, "회사"는 이용이 중지되거나 장애가 발생한 시간만큼 "서비스" 이용 기간을 연장합니다. 다만, 천재지변 또는 이에 준하는 불가항력으로 인하여 "서비스" 제공이 중지되거나 그 이용에 장애가 발생하는 경우에는 예외로 합니다.</li>
        </ul>
        <br><br>
        
        <strong class="tit_agree">제 4 장 유료서비스 이용</strong>				
        <strong id="agree12">제 12 조 (유료서비스 내용 등의 게시)</strong>
        <ul>
            <li>①	"회사"는 다음 사항을 유료서비스의 이용초기화면이나 유의사항 등에 "회원"이 알기 쉽게 표시합니다.
                <ul>
                    <li>- 유료서비스의 명칭</li>
                    <li>- 유료서비스 제작자의 성명(법인인 경우에는 법인의 명칭), 주소, 전화번호</li>
                    <li>- 유료서비스의 내용, 이용방법, 이용료 기타 이용조건</li>
                </ul>
            </li>
            <li>②	"회사"의 유료서비스의 이용가능기기 및 이용에 필요한 최소한의 기술사양은 권장사양정보에 따릅니다.</li>
            <li>③	"회사"는 유료서비스를 제공함에 있어 유료서비스의 교환, 반품, 보증과 그 대금 환불의 조건 및 절차에 관한 사항을 제공합니다.</li>
        </ul>
        <br>
        
        <strong id="agree13">제 13 조 (이용료의 구분)</strong>
        <ul>
            <li>①	"서비스" 이용과 관련하여 "이용자"가 납입하여야 할 이용료는 "서비스"별 약관에서 정하는 바에 따릅니다.</li>
            <li>②	본 조 제1항의 대금에 관하여 약관에 명기되지 아니한 적용기준, 요금 등 구체적인 사항은 "회사"가 정하여 "서비스" 안내에 게시하거나 별도로 공시하는 내용에 따릅니다.</li>
        </ul>
        <br>
        
        <strong id="agree14">제 14 조 (이용계약의 성립 등)</strong>
        <ul>
            <li>①	"이용자"는 "회사"가 제공하는 다음 또는 이와 유사한 절차에 의하여 이용신청을 합니다. "회사"는 계약 체결 전에 각 호의 사항에 관하여 "회원"이 정확하게 이해하고 거래할 수 있도록 정보를 제공합니다.
                <ul>
                    <li>- 유료서비스의 확인 및 선택</li>
                    <li>- 결제방법의 선택 및 결제정보의 입력</li>
                    <li>- 유료서비스의 이용신청에 관한 확인 또는 "회사"의 확인에 대한 동의</li>
                </ul>
            </li>
            <li>②	이용계약의 성립시기는 구매완료를 신청절차 상에서 표시한 시점으로 합니다.</li>
            <li>③	"이용자"가 유료서비스를 이용하기 위해서는 이 약관에 동의 후 "회사"가 정한 이용조건에 따라 이용요금을 지급하여야 합니다.</li>
        </ul>
        <br>

        <strong id="agree15">제 15 조 (대금지급방법)</strong>
        <ul>
            <li>①	유료서비스의 이용에 대한 대금지급방법은 다음의 방법 중 가능한 방법으로 합니다.
                <ul>
                    <li>- 직불카드, 신용카드 등의 각종 카드결제</li>
                    <li>- 전화 또는 휴대전화를 이용한 결제</li>
                    <li>- 인터넷뱅킹, 폰뱅킹, 무통장 입금 등의 각종 계좌이체</li>
                    <li>- 기타 전자적 지급방법에 의한 대금지급 등</li>
                </ul>
            </li>
            <li>②	제1항의 결제업체의 기준에 의해 당 월 누적 결제액 및 충전한도가 제한되는 경우 유료서비스의 이용이 불가능할 수 있습니다.</li>
        </ul>
        <br>
        
        <strong id="agree16">제 16 조 (과오금의 환불)</strong>
        <ul>
            <li>①	"회사"는 과오금이 발생한 경우 이용대금의 결제와 동일한 방법으로 과오금 전액을 환급합니다. 다만, 동일한 방법으로 환급이 불가능할 때에는 이를 사전에 고지하고, "이용자"의 선택에 따라 과오금을 환급합니다.</li>
            <li>②	"회사"의 책임 있는 사유로 과오금이 발생한 경우 "회사"는 계약비용, 수수료 등에 관계없이 과오금 전액을 환급합니다.</li>
            <li>③	다만, "이용자"의 책임 있는 사유로 과오금이 발생한 경우, 과오금의 환급에 소요되는 비용은 합리적인 범위 내에서 "이용자"가 부담합니다.</li>
            <li>④	"회사"는 "이용자"가 주장하는 과오금에 대해 환급을 거절할 경우에 정당하게 이용대금이 부과되었음을 입증하도록 합니다.</li>
        </ul>
        <br><br>
        
        <strong class="tit_agree">제 5 장 계약 당사자의 의무</strong>
        <strong id="agree17">제 17 조 ("회사"의 의무)</strong>
        <ul>
            <li>①	"회사"는 관계법령과 본 약관이 금지하거나 미풍양속에 반하는 행위를 하지 아니하며, 본 약관에서 정한 바에 따라 "서비스"를 "이용자"에게 제공합니다.</li>
            <li>②	"회사"는 안정적인 "서비스" 제공을 위하여 설비에 장애가 생기거나 손상되는 경우 부득이한 사유가 없는 한 지체없이 수리 또는 복구합니다.</li>
            <li>③	"회사"는 "이용자"로부터 제기되는 의견이나 불만이 합리적이고 정당하다고 인정될 경우 즉시 처리하도록 합니다.</li>
            <li>④	"회사"는 관계법령에 의거하여 "이용자"로부터 제공받은 "개인정보"를 보호할 의무가 있으며, "이용자"의 승낙 없이 제3자에게 누설, 배포하지 않음을 원칙으로 합니다. 단, 아래 사항에 해당하는 경우는 예외로 인정합니다.
                <ul>
                    <li>- 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우</li>
                    <li>- 범죄에 대한 수사상의 목적 등으로 인해 공적 기관으로부터 법적 절차에 따른 요구가 있는 경우</li>
                    <li>- 기타 관계법령이 정한 절차에 따른 요청이 있는 경우</li>
                </ul>
            </li>
            <li>⑤	"회사"는 정보통신망법, 위치정보보호법, 통신비밀보호법, 전기통신사업법 등 "서비스"의 운영, 유지와 관련 있는 법규를 준수합니다.</li>
        </ul>
        <br>

        <strong id="agree18">제 18 조 ("회원"의 "아이디"와 "비밀번호" 관리에 대한 의무)</strong>
        <ul>
            <li>①	"아이디"와 "비밀번호"에 관한 모든 관리책임은 "회원"에게 있습니다.</li>
            <li>②	"회원"의 "아이디" 및 "비밀번호"의 관리에 관하여 "회사"의 고의 및 중과실이 없는 한, "회원"에게 부여된 "아이디"와 "비밀번호"의 관리 소홀, 부정사용에 의하여 발생하는 모든 결과에 대한 책임은 "회원"에게 있습니다.</li>
            <li>③	자신의 "아이디"가 부정하게 사용된 경우, "회원"은 즉시 "회사"에 그 사실을 통보해야 합니다.</li>
        </ul>
        <br>

        <strong id="agree19">제 19 조 ("회원"의 의무)</strong>
        <ul>
            <li>①	"회원"은 "서비스"를 이용할 때 다음 각호의 행위를 해서는 안 됩니다.
                <ul>
                    <li>1. 다른 "회원"의 "아이디(ID)"를 부정하게 사용하는 행위</li>
                    <li>2. 자신의 "아이디(ID)" 및 "서비스"를 타인이 사용하도록 하는 행위</li>
                    <li>3. "서비스" 이용 시 영상, 사진, 텍스트, 음성 등의 정보를 녹화나 캡쳐 또는 녹음할 수 있는 소프트웨어를 실행시키는 행위</li>
                    <li>4. "서비스"에서 얻은 정보를 "회사"의 사전 승낙 없이 "회원"의 정당한 이용 이외의 목적으로 복제하거나 이를 출판 및 방송 등에 사용하거나 제 3자에게 제공하는 행위</li>
                    <li>5. "회원"이 "회사"에서 제공하는 "서비스"를 이용하여 상품 또는 용역을 제공하는 등의 상행위를 하는 경우</li>
                    <li>6. "회사" 또는 제 3자의 저작권 등 지식재산권 기타 권리를 침해하거나 침해하려는 행위</li>
                    <li>7. 공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형 등을 타인에게 유포하는 행위</li>
                    <li>8. 기타 관계법령에 위배되는 행위</li>
                </ul>
            </li>
            <li>②	"회원"은 본 약관에 규정하는 사항과 "서비스" 이용안내 또는 주의사항을 준수해야 합니다.</li>
            <li>③	"회원"은 "회사"의 명시적인 동의가 없는 한 "서비스"의 이용권한 기타 이용 계약상의 지위를 타인에게 양도, 증여할 수 없으며, 이를 담보로 제공할 수 없습니다.</li>
            <li>④	"회사"는 "회원"이 본 조 제1항 내지 제3항을 위반하였을 경우 사전 통지 없이 계약을 해지하거나 또는 "서비스" 이용을 제한할 수 있습니다.</li>
            <li>⑤	"회사"가 전 항에 따라 계약을 해지하거나 "서비스" 이용을 제한하는 경우 이를 "회원"에게 알립니다. 다만, "회사"의 귀책사유 없이 "회원"에게 알릴 수 없는 경우에는 예외로 합니다.</li>
        </ul>
        <br><br>

        <strong class="tit_agree">제 6장 서비스 이용 제한 정지</strong>
        <strong id="agree20">제 20 조 ("회원" 탈퇴)</strong>
        <ul>
            <li>①	"회원"이 "사이트"의 탈퇴를 하고자 하는 경우에는 "회원" 본인이 "웹사이트"에 "회원" 탈퇴의 신청을 하여야 합니다.</li>
            <li>②	"회원"의 "회원" 탈퇴 신청을 확인한 경우 "회사"는 신속히 "회원" 탈퇴 절차를 처리하며, 관련법령 및 본 약관에서 정한 개인정보취급 방침에 따라 탈퇴 완료 후 지체 없이 "회원"의 "개인정보"를 파기합니다.</li>
        </ul>
        <br>

        <strong id="agree21">제 21 조 ("회원" 자격 상실 및 정지)</strong>
        <ul>
            <li>①	"회사"는 "회원"이 다음 각호의 1에 해당하는 행위를 하였을 경우 사전 통지 없이 "회원" 자격을 상실시키거나 "회원" 자격을 정지시킬 수 있습니다.
                <ul>
                    <li>1. 타인의 "개인정보", "아이디(ID)" 및 "비밀번호(PASSWORD)"를 도용한 경우</li>
                    <li>2. 가입한 이름이 실명이 아닌 경우</li>
                    <li>3. 타인의 명예를 손상시키거나 불이익을 주는 행위를 하는 경우</li>
                    <li>4. "회사" 또는 제 3자의 저작권 등 지식재산권 기타 권리를 침해하거나 침해하려는 행위를 한 경우</li>
                    <li>5. 공공질서 및 미풍양속에 저해되는 내용을 유포시키는 경우</li>
                    <li>6. "회원"이 국익 또는 사회적 공익을 저해할 목적으로 "서비스" 이용을 계획 또는 실행하는 경우</li>
                    <li>7. "서비스" 운영을 고의 또는 과실로 방해하는 경우</li>
                    <li>8. "서비스"의 안정적 운영을 방해할 목적으로 다량의 정보를 전송하거나 광고성 정보를 전송하는 경우</li>
                    <li>9. 정보통신설비의 오작동이나 정보의 파괴를 유발시키는 컴퓨터 바이러스 프로그램 등을 유포하는 경우.</li>
                    <li>10. "회사"의 "서비스"를 이용하여 얻은 정보를 "회사"의 사전 승낙 없이 복제 또는 유통시키거나 상업적으로 이용하는 경우</li>
                    <li>11. "웹사이트"에 음란물을 게재하거나 음란 사이트를 링크하는 경우</li>
                    <li>12. 본 약관 기타 "회사"가 정한 의무 기타 이용 조건을 위반하는 경우</li>
                    <li>13. "회사"의 명시적인 동의 없이 "회사"가 제공하는 "서비스"를 녹화, 녹음, 캡쳐 하거나 하려는 경우</li>
                    <li>14. "회사"의 명시적인 동의 없이 "서비스"의 이용권한 기타 이용 계약상의 지위를 타인에게 양도, 증여, 담보 제공하거나 타인과 공유하는 경우</li>
                    <li>15. "회원"이 "회사"에서 제공하는 "서비스"를 이용하여 상품 또는 용역을 제공하는 등의 상행위를 하는 경우</li>
                    <li>16. "회원"이 "회사"에서 제공하는 "서비스"에 1년 이상 로그인하지 않은 경우</li>
                </ul>
            </li>
            <li>②	"회사"가 전 항에 따라 "회원" 자격을 상실시키거나 제한하는 경우에는 "회사"는 이를 "회원"에게 고지하도록 합니다. 다만, "회사"의 귀책사유 없이 "회원"에게 알릴 수 없는 경우에는 예외로 합니다.</li>
            <li>③	"회사"가 본 조 제1항에 따라 "회원" 자격을 상실시키거나 제한하는 경우 해당 "회원"에 대하여는 "회사"가 제공하는 모든 "서비스"의 이용을 중단시킬 수 있고, 해당 "회원"은 "회사"에 대하여 중단 이후의 "서비스"에 대한 환불 등을 요구할 수 없습니다.</li>
        </ul>
        <br><br>

        <strong class="tit_agree">제 7 장 게시물 관리 및 저작권</strong>											
        <strong id="agree22">제 22 조 (게시물)</strong>
        <ul>
            <li>①	"회사"는 게시물이 다음 각호의 1에 해당된다고 판단되는 경우에는 그 "회원"의 동의 없이 그 게시물을 삭제할 수 있습니다.
                <ul>
                    <li>1. 다른 "회원" 또는 제 3자를 비방하거나 중상 모략함으로써 타인의 명예를 훼손시킨 경우</li>
                    <li>2. 공공질서 및 미풍양속에 위반되는 경우</li>
                    <li>3. 범죄적 행위에 결부된다고 인정되는 경우</li>
                    <li>4. "회사" 또는 제 3자의 명예, 지식재산권 및 기타 권리를 침해하거나 침해할 우려가 있는 경우</li>
                    <li>5. 기타 관계 법령이나 "회사"가 정한 규정에 위배되는 경우</li>
                </ul>
            </li>
            <li>②	"회사"가 운영하는 게시판 등에 게시된 정보로 인하여 법률상 이익이 침해된 자는 권리 침해 사실을 소명하여 "회사"에게 당해 정보의 삭제를 요청할 수 있습니다. 이 경우 "회사"는 신속히 필요한 조치를 취하고 이를 요청자에게 통지합니다.</li>
        </ul>
        <br>

        <strong id="agree23">제 23 조 (지식재산권)</strong>
        <ul>
            <li>①	"서비스" 이용과 관련하여 "이용자"가 게재한 자료의 권리와 책임은 "이용자"에게 있으며 "회사"는 "이용자"의 동의 없이 이를 영리적으로 사용할 수 없습니다. 다만, 비영리적인 목적의 경우 "서비스" 내에 게재할 수 있습니다.</li>
            <li>②	"이용자"는 "회사"가 지식재산권을 가지고 있는 자료, "서비스", 소프트웨어, 상표 등을 "회사"의 사전 서면동의 없이 전부 또는 일부를 수정, 대여, 대출, 배포, 제작, 양도, 재라이센스, 담보권 설정, 상업적 이용 행위 등을 할 수 없습니다.</li>
            <li>③	"이용자"는 "회사"가 제공하는 "서비스"와 관련한 어떠한 자료, 정보 등에 대하여 "회사"의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리 또는 비영리의 목적으로 이용하거나 제 3자에게 이용하게 할 수 없습니다.</li>
        </ul>
        <br><br>

        <strong class="tit_agree">제 8 장 게시물 관리 및 저작권</strong>
        <strong id="agree24">제 24 조 (손해배상)</strong>
        <ul>
            <li>①	"회사" 또는 "이용자"는 상대방의 귀책에 따라 손해가 발생하는 경우 손해배상을 청구할 수 있습니다.</li>
            <li>②	"회사"의 고의 또는 중대한 과실로 의하여 "이용자"에게 손해가 발생한 경우, "회사"는 자신의 비용과 책임으로 해당 손해를 배상할 책임이 있습니다.</li>
            <li>③	"회사"는 다음 각호에 해당하는 경우에는 손해를 배상하지 아니합니다.
                <ul>
                    <li>1. 전시, 사변, 천재지변 또는 이에 준하는 국가 비상사태 등 불가항력적인 경우</li>
                    <li>2. "이용자"의 귀책사유로 인하여 "서비스" 이용의 장애가 발생한 경우("이용자" PC 또는 모바일의 바이러스 감염, 자의에 의한 결손)</li>
                    <li>3. 전기통신사업법에 의한 기간통신사업자가 제공하는 전기통신서비스 장애로 인한 경우</li>
                    <li>4. "이용자"가 "회사"의 "서비스" 제공으로부터 기대되는 이익을 얻지 못하였거나 "서비스" 자료에 대한 취사 선택 또는 이용으로 발생하는 손해</li>
                </ul>
            </li>
            <li>④	"이용자"가 제 23조에서 정한 의무사항을 위반하여 "회사"에 손해를 입힌 경우 "회사"는 귀책있는 "이용자"에게 해당 손해에 대한 배상을 청구할 수 있습니다.</li>
        </ul>
        <br>
        
        <strong id="agree25">제 25 조 (손해배상의 청구)</strong>
        <ul>
            <li>①	"이용자"는 전 항에 따른 손해배상 시 청구사유, 청구금액 및 산출근거를 서면으로 기재하여야 제출해야 합니다.</li>
            <li>②	본 조 제1항의 손해배상 청구권은 그 청구 사유를 안 날로부터 1년 내에 행사하지 아니할 경우 소멸됩니다. 청구사유가 발생한 날로부터 3년이 경과 한 때에도 이와 같습니다.</li>
        </ul>
        <br>

        <strong id="agree26">제 26 조 (면책조항)</strong>
        <ul>
            <li>①	"회사"는 천재지변 또는 이에 준하는 불가항력으로 인하여 "서비스"를 제공할 수 없는 경우에는 "서비스" 제공에 관한 책임이 면제됩니다.</li>
            <li>②	"회사"는 "이용자"의 귀책사유로 인한 "서비스" 이용의 장애에 대하여 책임을 지지 않습니다.</li>
            <li>③	"회사"는 "이용자"가 "사이트"에 게재한 사실의 신뢰도, 정보나 자료의 정확성 등 내용에 관하여는 책임을 지지 않습니다.</li>
            <li>④	"회사"는 "서비스" 이용과 관련하여 "이용자"에게 발생한 손해 가운데 "이용자"의 고의, 과실에 의한 손해에 대하여 책임을 지지 않습니다.</li>
            <li>⑤	"회사"는 무료로 제공하는 "서비스"의 전부 또는 일부를 "회사"의 정책 및 운영의 필요상 변경하거나 중단할 수 있으며, 이에 대하여 "이용자"에게 별도의 보상을 하지 않습니다.</li>
            <li>⑥	"회사"는 "이용자" 간 또는 "이용자"과 제3자 상호간에 "서비스"를 매개로 한 거래 등에 대하여 책임이 면제됩니다.</li>
        </ul>
        <br><br>

        <strong class="tit_agree">제 9 장 분쟁해결</strong>							
        <strong id="agree27">제 27 조 (분쟁해결)</strong>
        <p>본 약관 또는 "서비스"는 대한민국법령에 의하여 규정되고 이행됩니다. "서비스" 이용과 관련하여 "회사"와 "회원" 간에 분쟁이 발생하면 이의 해결을 위해 성실히 협의할 것입니다. 그럼에도 불구하고 해결되지 않으면 민사소송법의 관할법원에 소를 제기할 수 있습니다.</p>
        <br><br>
        
        <strong>&lt;부칙&gt; 공고일 2020. 09. 01 시행일 2020. 10. 01<br>본 약관은 2020년 10월 01일 0시부터 적용됩니다.</strong>
        <br><br>
        <strong>&lt;부칙&gt; 공고일 2021. 06. 01 시행일 2021. 07. 01<br>본 약관은 2021년 07월 01일 0시부터 적용됩니다.</strong>
    </div>
    <!--// 200924_수정 -->
</div>