<!-- 대교학습서비스약관 - 개인정보 수집 및 이용동의 -->
<div class="agree_cont">
    <div class="inner">
        <p class="first">㈜대교(이하 “회사”라 한다)는 고객상담 및 서비스 제공, 서비스 홍보 및 마케팅을 위해 신규 회원가입시 아래와 같은 개인정보를 수집하고 있습니다.</p>
        <br>
        <strong>[필수동의]</strong>
        <p>회원 성명, 생년월일, 성별, 주소, 연락처 및 회원이 14세 미만일 경우 법정대리인의 성명, 관계, 연락처, 법정대리인 성명, 관계 연락처를 수집합니다.<br>
        수집한 개인정보는 회원 동의 철회 시까지 보관합니다. 회원은 개인정보 수집동의를 거부하실 수 있으며 다만 이 경우 회원가입이 제한됩니다.</p>
        <br>
        <p>* 회사는 효율적인 전산업무처리를 위하여 회원이 동의한 개인정보의 처리업무를 대교CNS에 위탁할 수 있습니다.<br>
        회사는 대교CNS와 개인정보취급범위, 개인정보의 안전한 보호를 위한 조치사항 등 법령에서 정하는 바를 준수하도록 문서로 계약하여, 회원님의 소중한 개인정보를 철저히 관리할 것입니다.</p>
        <br>
        <p>* 위 내용을 포함한 회사의 개인정보 취급방침은 company.daekyo.com에서 확인하실 수 있습니다.<br>
        (회원님의 소중한 정보의 관리와 효율적인 학습을 위해 대교닷컴의 회원가입을 권장합니다.)</p>
    </div>   
</div>