<!-- 대교학습서비스약관 - 회원입회약관 -->
<div class="agree_cont">
    <div class="inner">
        <strong class="tit_agree">제1장 총칙</strong><br><br>
        <strong id="agree1">제1조 목적</strong>
        <p>본 약관은 주식회사 대교(이하 “회사”라 합니다)와 “회사”가 제공하는 아래의 상품 및 서비스(이하 “서비스”라 합니다)를 제공받는 자(이하 “고객”이라 합니다) 사이의 계약상 권리와 의무 및 책임사항에 관한 사항에 대하여 규정함을 목적으로 합니다.</p>
        <ul>
            <li>
                <dl class="inden-dl">
                    <dt>※ “회사”가 제공하는 모든 상품 및 서비스 현황</dt>
                    <dd>: 학습지 상품 및 서비스(눈높이, 차이홍, 솔루니, 국가지원 연계 프로그램 등), 도서 학습 상품 및 서비스(IR 등), 온라인 상품 및 서비스(대교 Speaking 등), 기타 “회사”가 제조•판매하는 상품 및 서비스</dd>
                </dl>
            </li>
        </ul>
        <br>
        
        <strong id="agree2">제2조 약관의 효력 및 변경</strong>
        <ul>
            <li>①	본 약관은 “회사” 홈페이지 초기 화면에 게시하거나 “회사”가 제공하는 개별 “서비스” 또는 전자우편, 기타의 방법으로 공지하고 본 약관에 동의한 “고객” 모두에게 그 효력이 발생합니다.</li>
            <li>②   “회사”는 “서비스” 주요사항 변경, 사업변경, 영업양수도, 경영환경의 변화 및 기타 사정 변경의 경우와 영업상 중요 사유가 있을 때 등 필요한 경우 관련법령을 위배하지 않는 범위 내에서 본 약관을 변경할 수 있습니다. 본 약관이 변경되는 경우 “회사”는 변경 사항을 시행일자 15일 전부터 제1항의 방법으로 공지 또는 통지하는 것을 원칙으로 하며, 부득이하게 “고객”에게 불리한 내용으로 변경할 경우 그 시행일자 30일 전부터 전자우편 또는 SMS를 발송하거나, “회사” 홈페이지 초기 화면에 게시하는 등 합리적으로 가능한 방법을 통하여 변경사항을 공지 또는 통지하겠습니다.</li>
            <li>③   “회사”가 전 항에 따라 공지 또는 통지를 하면서 공지 또는 통지일로부터 개정 약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 동의한 것으로 본다는 뜻을 명확하게 고지하였음에도 “고객”의 의사표시가 없는 경우에는 변경된 약관에 동의한 것으로 봅니다.</li>
            <li>④	“고객”이 개정 약관에 동의하지 않을 경우 “회사”에 해지 또는 해제를 요청할 수 있습니다.</li>
        </ul>
        <br>
        
        <strong id="agree3">제3조 약관 외 준칙</strong>
        <p>본 약관에 규정되지 않은 사항에 대해서는 관련법령 또는 “회사”가 정한 “서비스”의 개별 이용약관, 운영정책 및 규칙 등(이하 “세부지침”이라 합니다)의 규정에 따릅니다. 또한 본 약관과 “세부지침”의 내용이 충돌할 경우 “세부지침”에 따릅니다.</p>
        <br><br>
        
        <strong class="tit_agree">제2장 서비스 이용계약</strong>
        <br><br>
        <strong id="agree4">제4조 계약의 성립 및 기간</strong>
        <ul>
            <li>①	“고객”이 본 약관에 따른 “서비스” 가입에 동의하고 해당 “서비스”에 대한 회비를 납부 후 “회사”의 “고객” 관리 교사가 첫 방문을 하거나 학습교재를 받은 날 등 “서비스” 제공이 개시된 날로부터 계약 효력이 발생합니다.</li>
            <li>②	“서비스” 가입에 따른 계약 기간은 1개월을 원칙으로 하며, “고객”이 월 회비(대금)를 매월 납부함에 따라 계약 기간은 1개월씩 연장되는 것으로 합니다.</li>
        </ul>
        <br>
        
        <strong id="agree5">제5조 무단복제 등의 금지</strong>
        <ul>
            <li>①	“고객”에게 제공된 “서비스”의 저작권은 “회사”에 있습니다.</li>
            <li>②	“고객”은 제공받은 “서비스”를 “회사”의 이익을 해하는 방향으로 무단 복제 및 판매하거나 “서비스”를 이용한 교습행위 등을 할 수 없습니다.</li>
            <li>③	전항의 사유로 인하여 “회사”에 발생되는 손해는 해당 “고객”이 배상하여야 합니다.</li>
        </ul>
        <br>

        <strong id="agree6">제6조 “서비스” 이용 회비</strong>
        <ul>
            <li>①	“고객”은 “회사”에서 정한 “서비스”별 금액에 따라 해당 금액을 “회사”와의 계약과 동시에 일시불로 납부해야 합니다.</li>
            <li>②	“회사”는 “서비스” 이용에 대한 회비가 변경된 경우 “고객”에게 사전 공지하여 조정할 수 있습니다.</li>
            <li>③	“고객”은 “서비스” 개시 전월 말일까지 회비를 사전에 미리 납부하여야 합니다.</li>
        </ul>
        <br>

        <strong id="agree7">제7조 회비 납부 방법</strong>
        <ul>
            <li>①	“고객”의 “서비스” 이용을 위한 회비 납부 방법은 금융기관 등을 통한 자동이체 처리가 원칙이며 아래 각호에 따라 처리합니다.
                <ul class="indent_default">
                    <li>1.  “회사”에서 지정한 납기일 중 “고객”이 지정한 납기일(휴일인 경우에는 다음 영업일)에 “회사”에서 청구하는 회비를 “고객”이 지정한 계좌에서 출금하여 자동이체 처리합니다.</li>
                    <li>2.  자동이체 처리를 위하여 “고객”이 지정한 계좌의 예금을 출금함에 있어 금융기관의 예금약관 또는 약정서의 규정에도 불구하고 예금청구서 또는 수표 없이 금융기관의 자동이체 처리절차에 의하여 출금할 수 있습니다.</li>
                    <li>3.  “고객”이 “서비스”를 추가 및 변경한 경우 회비 청구금액은 변경될 수 있습니다.</li>
                    <li>4.  납기일이 동일한 수종의 “서비스”에 대한 자동이체 청구가 있을 경우 출금우선순위는 금융기관에서 정한 자동이체출금 우선순위에 따라 처리됩니다.</li>
                    <li>5.  “고객”이 지정한 납기일에 “고객”의 계좌 잔액이 부족하여 회비가 납부되지 않을 경우, “고객”이 지정한 납기일로부터 5일 이내에 1회에 한하여 추가로 이체를 처리합니다.</li>
                    <li>6.  “고객”의 자동이체 신청에 의한 이체 개시일은 “회사”의 사정에 의하여 조정될 수 있습니다.</li>
                    <li>7.  “고객”이 자동이체 해지를 요구할 필요가 있는 경우 “회사”에 자동이체 해지를 요청 시, 1개월 전에 “회사” 내 고객만족팀을 통하여 요청하는 등 소정의 해지절차에 의하여 “회사”에 통보하여야 하며, 그렇지 않을 경우 해지를 요청하였더라도 회비가 출금될 수 있습니다. 이 경우, “고객”은 “회사”에 출금된 회비에 대하여 환불을 요구할 수 있습니다.</li>
                </ul>
            </li>
            <li>②	“고객”이 회비 납부 방법에 대하여 자동이체 처리 방식 외 현금결제를 요청할 경우 “회사”에서 발송하는 고객직접결제 알림톡을 통해 “고객”이 직접 납부할 수 있습니다.</li>
            <li>③	“고객”이 “서비스” 이용 종료 후 재가입 시에는 금융기관 등을 통한 자동이체 처리를 다시 신청하여야 합니다.</li>
        </ul>
        <br>

        <strong id="agree8">제8조 청약의 철회</strong>
        <ul>
            <!-- 210803_수정 [#MACA-427] -->
            <li>①	본 약관이 할부거래에 관한 법률의 적용을 받는 경우 “고객”은 “서비스”를 제공받은 날부터 7일 이내에, 방문판매 등에 관한 법률의 적용을 받는 경우는 “서비스”를 제공받은 날부터 14일 이내에 계약에 관한 청약을 서면, 전화 등 기타의 방법으로 철회할 수 있습니다. 다만, 청약철회에 관하여 전자상거래등에서의 소비자보호에 관한 법률에 달리 정함이 있는 경우에는 동 법 규정에 따릅니다.</li>
            <li>②	“고객”이 전 항의 철회권을 행사한 경우, “고객”과 “회사”는 할부거래에 관한 법률 제10조, 방문판매 등에 관한 법률 제9조에 따른 원상회복의무를 집니다.</li>
        </ul>
        <br>

        <strong id="agree9">제9조 계약의 해지</strong>
        <ul>
            <li>①	“고객”은 제8조의 철회기간 경과 후 언제든지 해지할 수 있으며, “회사”는 해지의 통지를 받은 날을 기준으로 “회사”가 합리적인 범위 내에서 정한 기준에 따라 잔여기간에 해당하는 “서비스”의 월 회비(대금)를 “고객”에게 환급하여야 합니다.</li>
            <li>②	“고객”이 “고객”의 사정으로 해지하는 경우 “회사”는 해지의 통지가 도달한 시점을 기준으로 미 경과된 계약기간에 해당하는 월 회비(대금)에서 동 금액의 10% 금액을 공제한 잔액을 “고객”에게 환급하여야 합니다.</li>
            <li>③	“고객”은 “회사”의 다음 각호에 따른 사정이 발생할 경우 계약을 해지할 수 있습니다.
                <ul class="indent_default">
                    <li>1.  “회사”가 월 2회 이상 “서비스”의 제공을 지체한 경우</li>
                    <li>2.  학습지의 경우 “회사”의 관리 교사가 월 2회 이상 교육서비스 제공을 불이행한 경우(공휴일 제외)</li>
                    <li>3.  기타 “회사”의 귀책사유로 계약의 목적을 달성할 수 없게 된 경우</li>
                </ul>
            </li>
            <li>④	전항의 사유로 계약이 해지 되는 경우 “회사”는 “고객”의 해지 통지를 받은 시점을 기준으로 잔여기간에 해당하는 “서비스”의 월 회비(대금)를 “고객”에게 환급하고, 동 금액의 10%에 해당하는 손해배상금을 추가로 지급하여야 합니다.</li>
            <li>⑤	“고객”이 “서비스”의 제공과 관련되거나 “서비스”를 제공받는 과정에서 다음 각호에 해당하는 행위를 하였을 경우 “회사”는 즉시 계약을 해지할 수 있습니다.
                <ul class="indent_default">
                    <li>1.  고의 또는 과실로 인한 위법행위로 타인에게 손해를 가하는 행위를 하였을 경우</li>
                    <li>2.  타인의 신체, 자유 또는 명예를 해하거나 기타 정신상 고통을 가하는 행위를 하였을 경우</li>
                    <li>3.  타인에게 성희롱•성추행•성폭행 등 성폭력에 해당하는 행위를 하였을 경우</li>
                    <li>4.  기타 타인의 권리를 침해하는 행위를 하였을 경우</li>
                    <li>5.  공공질서 및 미풍 양속에 반하는 행위를 하였을 경우</li>
                    <li>6.  본 계약에 따른 “서비스”의 월 회비를 납부하지 않는 경우</li>
                </ul>
            </li>
            <li>⑥	전항의 사유로 계약이 해지 되는 경우 “회사”는 “고객”에게 해지 통지를 한 시점을 기준으로 잔여기간에 해당하는 “서비스”의 월 회비(대금)를 “고객”에게 환급합니다.</li>
        </ul>
        <br><br>
        
        <strong class="tit_agree">제3장 책임</strong>				
        <strong id="agree10">제10조 “회사”의 의무</strong>
        <ul>
            <li>①	“회사”는 특별한 사정이 없는 한 “고객”이 신청한 “서비스” 제공 개시일에 “서비스”를 이용할 수 있도록 합니다.</li>
            <li>②	“회사”는 본 약관에서 정한 바에 따라 계속적, 안정적으로 “서비스”를 제공할 의무가 있습니다.</li>
            <li>③	“회사”는 “고객”으로부터 제기되는 의견이나 불만이 정당하다고 인정할 경우에는 즉시 처리하여야 합니다. 다만, 즉시 처리가 곤란한 경우에는 “고객”에게 그 사유와 처리 일정을 통보하여야 합니다.</li>
            <li>④	“회사”는 소비자피해 보상규정을 준수합니다.</li>
        </ul>
        <br>
        
        <strong id="agree11">제11조 “고객”의 의무</strong>
        <ul>
            <li>①	“고객”은 주소 또는 연락처가 변경되거나 계약한 “서비스”에 대하여 변경 사유가 발생하거나, 계약을 해지할 경우 “회사”로 지체 없이 통지하여야 하며, 이를 이행하지 않음으로써 발생하는 문제에 대한 책임은 전적으로 “고객”에게 있습니다.</li>
            <li>②	“고객”은 “서비스” 가입 신청 또는 “고객” 정보 변경 시 실명으로 모든 사항을 사실에 근거하여 작성하여야 하며, 허위 또는 타인의 정보를 등록할 경우 일체의 권리를 주장할 수 없습니다.</li>
            <li>③	“고객”은 본 약관에서 규정하는 사항과 기타 “회사”가 정한 제반 규정 및 관계법령을 준수하여야 하며, 기타 “회사”의 정당한 업무를 방해하거나 “회사”의 명예나 신용을 훼손하는 행위 등을 하여서는 아니됩니다.</li>
            <li>④	“고객”은 “회사”의 명시적 동의가 없는 한 “서비스”의 이용 권한, 기타 계약상의 지위를 타인에게 양도, 증여할 수 없으며 이를 담보로 제공할 수 없습니다.</li>
            <li>⑤	“고객”은 “회사” 및 제3자의 지식재산권을 침해해서는 아니됩니다.</li>
            <li>⑥	“고객”이 특별한 사정이 없는 한 개인사유로 학습 관리를 약속 당일 취소하여서는 아니됩니다. 약속 당일 취소하는 경우 관리 교사의 당일 재방문이 어려울 수 있습니다.</li>
        </ul>
        <br>
        
        <strong id="agree12">제12조 계약의 해제</strong>
        <ul>
            <li>①	“고객”은 “회사”가 다음 각호에 해당하는 행위를 하였을 경우 계약을 해제할 수 있습니다.
                <ul class="indent_default">
                    <li>1. “회사”의 허위•과장 광고로 계약을 체결하게 된 경우</li>
                    <li>2. “회사”가 관리 교사의 신분과 경력을 “고객”에게 허위로 고지한 경우</li>
                </ul>
            </li>
            <li>②	전 항의 사유로 계약이 해제된 경우, “회사”는 “고객”으로부터 받았던 “서비스”의 월 회비(대금) 전액을 “고객”에게 환급하고, 동 금액의 10%에 해당하는 손해배상금을 추가로 지급하여야 합니다.</li>
            <li>③	전 항의 경우, “회사”가 기 제공한 교재 등의 반환을 요구할 경우, “고객”은 현존하는 상태로 반환하여야 합니다.</li>
        </ul>
        <br>

        <strong id="agree13">제13조 손해배상</strong>
        <p>“회사”와 “고객”은 본 계약 또는 본 계약과 관련하여 체결한 개별약정 등의 이행과정에서 계약사항 및 개별약정사항을 위반하여 상대방에게 손해를 입힌 경우 이를 배상하여야 합니다.</p>
        <br>
        
        <strong id="agree14">제14조 품질보증</strong>
        <p>“회사”는 “고객”에게 제공한 학습지 및 교재, 기타 상품에 하자가 있는 경우에는 즉시 무상으로 교환하여 주어야 합니다.</p>
        <br>

        <strong id="agree15">제15조 사은품</strong>
        <ul>
            <li>①	“회사”는 사은품의 개봉•사용•파손 등을 이유로 “고객”의 철회•해지•해제권 등을 제한할 수 없습니다.</li>
            <li>②	계약 종료 시 사은품의 처리는 다음과 같습니다.
                <ul class="indent_default">
                    <li>1. 제8조, 제9조, 제12조제4항의 경우 : “고객”이 사은품을 미 사용한 경우 그대로 반환합니다.<br/>단, 사은품을 사용한 경우에는 동종 상품의 시중가격에서 소비자피해보상규정의 손율 등에 따른 금액을 지급하고 반환합니다.</li>
                    <li>2. 제12조제1항의 경우 : “고객”은 사은품을 “회사”에 반환하지 않습니다.</li>
                </ul>
            </li>
            <li>③	“회사”가 계약서에 사은품의 품목 또는 가격을 기재하지 않은 경우 “고객”은 사은품을 반환하지 않습니다.</li>
        </ul>
        <br>
        
        <strong id="agree16">제16조 면책조항</strong>
        <ul>
            <li>①	“회사”는 천재지변 또는 이에 준하는 불가항력으로 인하여 “서비스”를 제공할 수 없는 경우에는 “서비스” 제공에 관한 책임이 면제 됩니다.</li>
            <!-- 210803_수정 [#MACA-427] -->
            <!-- <li>②	“회사”는 “서비스” 이용과 관련하여 “고객”에게 발생한 손해 가운데 “고객”의 고의, 과실에 의한 손해에 대하여 책임을 지지 않습니다.</li>
            <li>③	“회사”는 “고객”이 “서비스”를 이용하는 과정에서 “회사”와 무관하게 다른 “고객”으로 인해 입게 되는 손해에 대하여는 책임을 지지 않습니다.</li> -->
        </ul>
        <br>
        
        <strong id="agree17">제17조 분쟁해결</strong>
        <ul>
            <li>①	계약에 관하여 분쟁이 있는 경우 “고객”은 “회사” 내 고객만족팀에 조정을 신청할 수 있으며, 그 결과에 이의가 있을 경우 소비자보호법 제39조에 의하여 분쟁조정기구에 청구할 수 있습니다.</li>
            <li>②	본 약관에서 규정하지 않은 사항은 관계법령 및 거래관행을 고려하여 신의성실의 원칙에 따라 “회사”와 “고객”간에 합의하여 해결합니다.</li>
            <!-- 210803_수정 [#MACA-427] -->
            <li>③	“회사”와 “고객”간의 분쟁에 관한 소송은 제소 당시 “고객” 주소를, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 “고객”의 주소 또는 거소가 분명하지 아니한 경우에는 민사소송법의 관계 규정을 준용합니다.</li>
        </ul>
        <br>
        
        <strong>&lt;부칙&gt;<br>본 약관은 2021년 08월 09일부터 시행합니다.</strong>
    </div>
</div>

<!-- <div class="agree_cont">
    <div class="inner">
        <strong class="tit_agree">제1장 총칙</strong><br><br>
        <strong id="agree1">제1조 목적</strong>
        <p>본 약관은 주식회사 대교(이하 “회사”라 합니다)와 “회사”가 제공하는 아래의 상품 및 서비스(이하 “서비스”라 합니다)를 제공받는 자(이하 “고객”이라 합니다) 사이의 계약상 권리와 의무 및 책임사항에 관한 사항에 대하여 규정함을 목적으로 합니다.</p>
        <ul>
            <li>
                <dl class="inden-dl">
                    <dt>※ “회사”가 제공하는 모든 상품 및 서비스 현황</dt>
                    <dd>: 학습지 상품 및 서비스(눈높이, 차이홍, 솔루니, 국가지원 연계 프로그램 등), 도서 학습 상품 및 서비스(IR 등), 온라인 상품 및 서비스(대교 Speaking 등), 기타 “회사”가 제조•판매하는 상품 및 서비스</dd>
                </dl>
            </li>
        </ul>
        <br>
        
        <strong id="agree2">제2조 약관의 효력 및 변경</strong>
        <ul>
            <li>①	본 약관은 “회사” 홈페이지 초기 화면에 게시하거나 “회사”가 제공하는 개별 “서비스” 또는 전자우편, 기타의 방법으로 공지하고 본 약관에 동의한 “고객” 모두에게 그 효력이 발생합니다.</li>
            <li>②   “회사”는 “서비스” 주요사항 변경, 사업변경, 영업양수도, 경영환경의 변화 및 기타 사정 변경의 경우와 영업상 중요 사유가 있을 때 등 필요한 경우 관련법령을 위배하지 않는 범위 내에서 본 약관을 변경할 수 있습니다. 본 약관이 변경되는 경우 “회사”는 변경 사항을 시행일자 15일 전부터 제1항의 방법으로 공지 또는 통지하는 것을 원칙으로 하며, 부득이하게 “고객”에게 불리한 내용으로 변경할 경우 그 시행일자 30일 전부터 전자우편 또는 SMS를 발송하거나, “회사” 홈페이지 초기 화면에 게시하는 등 합리적으로 가능한 방법을 통하여 변경사항을 공지 또는 통지하겠습니다.</li>
            <li>③   “회사”가 전 항에 따라 공지 또는 통지를 하면서 공지 또는 통지일로부터 개정 약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 동의한 것으로 본다는 뜻을 명확하게 고지하였음에도 “고객”의 의사표시가 없는 경우에는 변경된 약관에 동의한 것으로 봅니다.</li>
            <li>④	“고객”이 개정 약관에 동의하지 않을 경우 “회사”에 해지 또는 해제를 요청할 수 있습니다.</li>
        </ul>
        <br>
        
        <strong id="agree3">제3조 약관 외 준칙</strong>
        <p>본 약관에 규정되지 않은 사항에 대해서는 관련법령 또는 “회사”가 정한 “서비스”의 개별 이용약관, 운영정책 및 규칙 등(이하 “세부지침”이라 합니다)의 규정에 따릅니다. 또한 본 약관과 “세부지침”의 내용이 충돌할 경우 “세부지침”에 따릅니다.</p>
        <br><br>
        
        <strong class="tit_agree">제2장 서비스 이용계약</strong>
        <br><br>
        <strong id="agree4">제4조 계약의 성립 및 기간</strong>
        <ul>
            <li>①	“고객”이 본 약관에 따른 “서비스” 가입에 동의하고 해당 “서비스”에 대한 회비를 납부 후 “회사”의 “고객” 관리 교사가 첫 방문을 하거나 학습교재를 받은 날 등 “서비스” 제공이 개시된 날로부터 계약 효력이 발생합니다.</li>
            <li>②	“서비스” 가입에 따른 계약 기간은 1개월을 원칙으로 하며, “고객”이 월 회비(대금)를 매월 납부함에 따라 계약 기간은 1개월씩 연장되는 것으로 합니다.</li>
        </ul>
        <br>
        
        <strong id="agree5">제5조 무단복제 등의 금지</strong>
        <ul>
            <li>①	“고객”에게 제공된 “서비스”의 저작권은 “회사”에 있습니다.</li>
            <li>②	“고객”은 제공받은 “서비스”를 “회사”의 이익을 해하는 방향으로 무단 복제 및 판매하거나 “서비스”를 이용한 교습행위 등을 할 수 없습니다.</li>
            <li>③	전항의 사유로 인하여 “회사”에 발생되는 손해는 해당 “고객”이 배상하여야 합니다.</li>
        </ul>
        <br>

        <strong id="agree6">제6조 “서비스” 이용 회비</strong>
        <ul>
            <li>①	“고객”은 “회사”에서 정한 “서비스”별 금액에 따라 해당 금액을 “회사”와의 계약과 동시에 일시불로 납부해야 합니다.</li>
            <li>②	“회사”는 “서비스” 이용에 대한 회비가 변경된 경우 “고객”에게 사전 공지하여 조정할 수 있습니다.</li>
            <li>③	“고객”은 “서비스” 개시 전월 말일까지 회비를 사전에 미리 납부하여야 합니다.</li>
        </ul>
        <br>

        <strong id="agree7">제7조 회비 납부 방법</strong>
        <ul>
            <li>①	“고객”의 “서비스” 이용을 위한 회비 납부 방법은 금융기관 등을 통한 자동이체 처리가 원칙이며 아래 각호에 따라 처리합니다.
                <ul class="indent_default">
                    <li>1.  “회사”에서 지정한 납기일 중 “고객”이 지정한 납기일(휴일인 경우에는 다음 영업일)에 “회사”에서 청구하는 회비를 “고객”이 지정한 계좌에서 출금하여 자동이체 처리합니다.</li>
                    <li>2.  자동이체 처리를 위하여 “고객”이 지정한 계좌의 예금을 출금함에 있어 금융기관의 예금약관 또는 약정서의 규정에도 불구하고 예금청구서 또는 수표 없이 금융기관의 자동이체 처리절차에 의하여 출금할 수 있습니다.</li>
                    <li>3.  “고객”이 “서비스”를 추가 및 변경한 경우 회비 청구금액은 변경될 수 있습니다.</li>
                    <li>4.  납기일이 동일한 수종의 “서비스”에 대한 자동이체 청구가 있을 경우 출금우선순위는 금융기관에서 정한 자동이체출금 우선순위에 따라 처리됩니다.</li>
                    <li>5.  “고객”이 지정한 납기일에 “고객”의 계좌 잔액이 부족하여 회비가 납부되지 않을 경우, “고객”이 지정한 납기일로부터 5일 이내에 1회에 한하여 추가로 이체를 처리합니다.</li>
                    <li>6.  “고객”의 자동이체 신청에 의한 이체 개시일은 “회사”의 사정에 의하여 조정될 수 있습니다.</li>
                    <li>7.  “고객”이 자동이체 해지를 요구할 필요가 있는 경우 “회사”에 자동이체 해지를 요청 시, 1개월 전에 “회사” 내 고객만족팀을 통하여 요청하는 등 소정의 해지절차에 의하여 “회사”에 통보하여야 하며, 그렇지 않을 경우 해지를 요청하였더라도 회비가 출금될 수 있습니다. 이 경우, “고객”은 “회사”에 출금된 회비에 대하여 환불을 요구할 수 있습니다.</li>
                </ul>
            </li>
            <li>②	“고객”이 회비 납부 방법에 대하여 자동이체 처리 방식 외 현금결제를 요청할 경우 “회사”에서 발송하는 고객직접결제 알림톡을 통해 “고객”이 직접 납부할 수 있습니다.</li>
            <li>③	“고객”이 “서비스” 이용 종료 후 재가입 시에는 금융기관 등을 통한 자동이체 처리를 다시 신청하여야 합니다.</li>
        </ul>
        <br>

        <strong id="agree8">제8조 청약의 철회</strong>
        <ul>
            <li>①	본 약관이 할부거래에 관한 법률의 적용을 받는 경우 “고객”은 “서비스”를 제공받은 날부터 7일 이내에, 방문판매 등에 관한 법률의 적용을 받는 경우는 “서비스”를 제공받은 날부터 14일 이내에 계약에 관한 청약을 서면으로 철회할 수 있습니다. 단, “회사”가 동의하는 경우 구두•전화•모사전송•전자우편 등의 방법으로도 철회할 수 있습니다.</li>
            <li>②	“고객”이 전 항의 철회권을 행사한 경우, “고객”과 “회사”는 할부거래에 관한 법률 제10조, 방문판매 등에 관한 법률 제9조에 따른 원상회복의무를 집니다.</li>
        </ul>
        <br>

        <strong id="agree9">제9조 계약의 해지</strong>
        <ul>
            <li>①	“고객”은 제8조의 철회기간 경과 후 언제든지 해지할 수 있으며, “회사”는 해지의 통지를 받은 날을 기준으로 “회사”가 합리적인 범위 내에서 정한 기준에 따라 잔여기간에 해당하는 “서비스”의 월 회비(대금)를 “고객”에게 환급하여야 합니다.</li>
            <li>②	“고객”이 “고객”의 사정으로 해지하는 경우 “회사”는 해지의 통지가 도달한 시점을 기준으로 미 경과된 계약기간에 해당하는 월 회비(대금)에서 동 금액의 10% 금액을 공제한 잔액을 “고객”에게 환급하여야 합니다.</li>
            <li>③	“고객”은 “회사”의 다음 각호에 따른 사정이 발생할 경우 계약을 해지할 수 있습니다.
                <ul class="indent_default">
                    <li>1.  “회사”가 월 2회 이상 “서비스”의 제공을 지체한 경우</li>
                    <li>2.  학습지의 경우 “회사”의 관리 교사가 월 2회 이상 교육서비스 제공을 불이행한 경우(공휴일 제외)</li>
                    <li>3.  기타 “회사”의 귀책사유로 계약의 목적을 달성할 수 없게 된 경우</li>
                </ul>
            </li>
            <li>④	전항의 사유로 계약이 해지 되는 경우 “회사”는 “고객”의 해지 통지를 받은 시점을 기준으로 잔여기간에 해당하는 “서비스”의 월 회비(대금)를 “고객”에게 환급하고, 동 금액의 10%에 해당하는 손해배상금을 추가로 지급하여야 합니다.</li>
            <li>⑤	“고객”이 “서비스”의 제공과 관련되거나 “서비스”를 제공받는 과정에서 다음 각호에 해당하는 행위를 하였을 경우 “회사”는 즉시 계약을 해지할 수 있습니다.
                <ul class="indent_default">
                    <li>1.  고의 또는 과실로 인한 위법행위로 타인에게 손해를 가하는 행위를 하였을 경우</li>
                    <li>2.  타인의 신체, 자유 또는 명예를 해하거나 기타 정신상 고통을 가하는 행위를 하였을 경우</li>
                    <li>3.  타인에게 성희롱•성추행•성폭행 등 성폭력에 해당하는 행위를 하였을 경우</li>
                    <li>4.  기타 타인의 권리를 침해하는 행위를 하였을 경우</li>
                    <li>5.  공공질서 및 미풍 양속에 반하는 행위를 하였을 경우</li>
                    <li>6.  본 계약에 따른 “서비스”의 월 회비를 납부하지 않는 경우</li>
                </ul>
            </li>
            <li>⑥	전항의 사유로 계약이 해지 되는 경우 “회사”는 “고객”에게 해지 통지를 한 시점을 기준으로 잔여기간에 해당하는 “서비스”의 월 회비(대금)를 “고객”에게 환급합니다.</li>
        </ul>
        <br><br>
        
        <strong class="tit_agree">제3장 책임</strong>				
        <strong id="agree10">제10조 “회사”의 의무</strong>
        <ul>
            <li>①	“회사”는 특별한 사정이 없는 한 “고객”이 신청한 “서비스” 제공 개시일에 “서비스”를 이용할 수 있도록 합니다.</li>
            <li>②	“회사”는 본 약관에서 정한 바에 따라 계속적, 안정적으로 “서비스”를 제공할 의무가 있습니다.</li>
            <li>③	“회사”는 “고객”으로부터 제기되는 의견이나 불만이 정당하다고 인정할 경우에는 즉시 처리하여야 합니다. 다만, 즉시 처리가 곤란한 경우에는 “고객”에게 그 사유와 처리 일정을 통보하여야 합니다.</li>
            <li>④	“회사”는 소비자피해 보상규정을 준수합니다.</li>
        </ul>
        <br>
        
        <strong id="agree11">제11조 “고객”의 의무</strong>
        <ul>
            <li>①	“고객”은 주소 또는 연락처가 변경되거나 계약한 “서비스”에 대하여 변경 사유가 발생하거나, 계약을 해지할 경우 “회사”로 지체 없이 통지하여야 하며, 이를 이행하지 않음으로써 발생하는 문제에 대한 책임은 전적으로 “고객”에게 있습니다.</li>
            <li>②	“고객”은 “서비스” 가입 신청 또는 “고객” 정보 변경 시 실명으로 모든 사항을 사실에 근거하여 작성하여야 하며, 허위 또는 타인의 정보를 등록할 경우 일체의 권리를 주장할 수 없습니다.</li>
            <li>③	“고객”은 본 약관에서 규정하는 사항과 기타 “회사”가 정한 제반 규정 및 관계법령을 준수하여야 하며, 기타 “회사”의 정당한 업무를 방해하거나 “회사”의 명예나 신용을 훼손하는 행위 등을 하여서는 아니됩니다.</li>
            <li>④	“고객”은 “회사”의 명시적 동의가 없는 한 “서비스”의 이용 권한, 기타 계약상의 지위를 타인에게 양도, 증여할 수 없으며 이를 담보로 제공할 수 없습니다.</li>
            <li>⑤	“고객”은 “회사” 및 제3자의 지식재산권을 침해해서는 아니됩니다.</li>
            <li>⑥	“고객”이 특별한 사정이 없는 한 개인사유로 학습 관리를 약속 당일 취소하여서는 아니됩니다. 약속 당일 취소하는 경우 관리 교사의 당일 재방문이 어려울 수 있습니다.</li>
        </ul>
        <br>
        
        <strong id="agree12">제12조 계약의 해제</strong>
        <ul>
            <li>①	“고객”은 “회사”가 다음 각호에 해당하는 행위를 하였을 경우 계약을 해제할 수 있습니다.
                <ul class="indent_default">
                    <li>1. “회사”의 허위•과장 광고로 계약을 체결하게 된 경우</li>
                    <li>2. “회사”가 관리 교사의 신분과 경력을 “고객”에게 허위로 고지한 경우</li>
                </ul>
            </li>
            <li>②	전 항의 사유로 계약이 해제된 경우, “회사”는 “고객”으로부터 받았던 “서비스”의 월 회비(대금) 전액을 “고객”에게 환급하고, 동 금액의 10%에 해당하는 손해배상금을 추가로 지급하여야 합니다.</li>
            <li>③	전 항의 경우, “회사”가 기 제공한 교재 등의 반환을 요구할 경우, “고객”은 현존하는 상태로 반환하여야 합니다.</li>
        </ul>
        <br>

        <strong id="agree13">제13조 손해배상</strong>
        <p>“회사”와 “고객”은 본 계약 또는 본 계약과 관련하여 체결한 개별약정 등의 이행과정에서 계약사항 및 개별약정사항을 위반하여 상대방에게 손해를 입힌 경우 이를 배상하여야 합니다.</p>
        <br>
        
        <strong id="agree14">제14조 품질보증</strong>
        <p>“회사”는 “고객”에게 제공한 학습지 및 교재, 기타 상품에 하자가 있는 경우에는 즉시 무상으로 교환하여 주어야 합니다.</p>
        <br>

        <strong id="agree15">제15조 사은품</strong>
        <ul>
            <li>①	“회사”는 사은품의 개봉•사용•파손 등을 이유로 “고객”의 철회•해지•해제권 등을 제한할 수 없습니다.</li>
            <li>②	계약 종료 시 사은품의 처리는 다음과 같습니다.
                <ul class="indent_default">
                    <li>1. 제8조, 제9조, 제12조제4항의 경우 : “고객”이 사은품을 미 사용한 경우 그대로 반환합니다.<br/>단, 사은품을 사용한 경우에는 동종 상품의 시중가격에서 소비자피해보상규정의 손율 등에 따른 금액을 지급하고 반환합니다.</li>
                    <li>2. 제12조제1항의 경우 : “고객”은 사은품을 “회사”에 반환하지 않습니다.</li>
                </ul>
            </li>
            <li>③	“회사”가 계약서에 사은품의 품목 또는 가격을 기재하지 않은 경우 “고객”은 사은품을 반환하지 않습니다.</li>
        </ul>
        <br>
        
        <strong id="agree16">제16조 면책조항</strong>
        <ul>
            <li>①	“회사”는 천재지변 또는 이에 준하는 불가항력으로 인하여 “서비스”를 제공할 수 없는 경우에는 “서비스” 제공에 관한 책임이 면제 됩니다.</li>
            <li>②	“회사”는 “서비스” 이용과 관련하여 “고객”에게 발생한 손해 가운데 “고객”의 고의, 과실에 의한 손해에 대하여 책임을 지지 않습니다.</li>
            <li>③	“회사”는 “고객”이 “서비스”를 이용하는 과정에서 “회사”와 무관하게 다른 “고객”으로 인해 입게 되는 손해에 대하여는 책임을 지지 않습니다.</li>
        </ul>
        <br>
        
        <strong id="agree17">제17조 분쟁해결</strong>
        <ul>
            <li>①	계약에 관하여 분쟁이 있는 경우 “고객”은 “회사” 내 고객만족팀에 조정을 신청할 수 있으며, 그 결과에 이의가 있을 경우 소비자보호법 제39조에 의하여 분쟁조정기구에 청구할 수 있습니다.</li>
            <li>②	본 약관에서 규정하지 않은 사항은 관계법령 및 거래관행을 고려하여 신의성실의 원칙에 따라 “회사”와 “고객”간에 합의하여 해결합니다.</li>
            <li>③	“회사”와 “고객”간의 분쟁에 관한 소송은 “회사”의 본사 소재지를 관할하는 법원인 서울중앙지방법원에 제기하여 해결합니다.</li>
        </ul>

        <strong>&lt;부칙&gt;<br>본 약관은 2019년 12월 31일 0시부터 적용됩니다.</strong>
    </div>
</div> -->