<!-- 대교학습서비스약관 - 재가입 혜택을 위한 보존 및 마케팅 동의 -->
<div class="agree_cont">
    <div class="inner">
        <strong>[재가입 혜택을 위한 보존 및 마케팅 동의] (선택)</strong>
        <br>
        <p>회사는 회원이 동의한 경우, 상기 개인정보를 회사의 마케팅(재화 및 서비스안내, 이벤트 참여, 판매권유 포함)목적으로 이용할 수 있습니다.<br>
        회원은 마케팅 동의를 거부하실 수 있으며, 다만 이 경우 서비스안내 및 이벤트 참여가 제한될 수 있습니다.</p>
        <br>
        <ul>
            <li>• 보존 목적 : 재가입시 원활한 서비스 제공, 가입비 면제 안내 및 재가입 권유, 고객만족 설문조사</li>
            <li>• 보존 항목 : 성명, 생년월일, 성별, 주소, 연락처, 서비스 이용 이력, 서비스 이용 중단 사유</li>
            <li>• 보존 기간 : 서비스 이용 중단일로부터 5년</li>
        </ul>
    </div>
</div>