<!-- 대교학습서비스약관 - 마케팅 동의 -->
<div class="agree_cont">
    <div class="inner">
        <strong>[마케팅 동의] (선택)</strong>
        <p>회사는 회원이 동의한 경우, 상기 개인정보를 회사의 마케팅(재화 및 서비스안내, 이벤트 참여, 판매권유 포함)목적으로 이용할 수 있습니다.<br>
        회원은 마케팅 동의를 거부하실 수 있으며, 다만 이 경우 서비스안내 및 이벤트 참여가 제한될 수 있습니다.</p>
    </div>
</div>