<!-- 대교학습서비스약관 - 개인정보 제3자 제공에 대한 동의 -->
<div class="agree_cont">
    <div class="inner">
        <strong>[개인정보 제3자 제공에 대한 동의] (선택)</strong>
        <br>
        <p>회사는 회원이 제3자 제공에 동의한 개인정보를 다음의 회사가 마케팅(이벤트 참여, 재화 및 서비스의 홍보)목적으로 회원이 동의를 철회하기 전까지 이용할 수 있도록 제공할 수 있습니다.</p>
        <br>
        <ul>
            <li>• 개인정보를 제공 받는 회사 : 대교에듀캠프, 대교에듀피아</li>
        </ul>
        <br>
        <p>회원은 개인정보 제 3자 제공동의를 거부하실 수 있으며, 다만 이 경우 제 3자가 제공하는 이벤트 참여 및 할인혜택 제공이 제한될 수 있습니다.</p>
    </div>
</div>