@charset "utf-8";

*{margin:0;padding:0}
html, body{margin:0 auto;padding:0;font-size:12px;line-height:14px;font-family:'맑은고딕', 'malgun gothic', 'Segoe UI', Arial, sans-serif;}
/*h1, h2, h3, h4, h5{font-family:'맑은고딕', 'malgun gothic', 'Segoe UI', Arial, sans-serif !important;} */
a{ color:inherit; text-decoration:none;}
a:visited, a:unvisited, a:active{ color:#777;}
ul,ol,li{list-style:none;}

.t-ready {color:#fff;background: #ccc;}
.t-ing {color:#999}
.t-modify {color:#ff0000}
.t-confirm {color:#9b0bff}
.t-complete {color:#0042ff;font-weight: 600}
/* img{
    width: auto !important;
} */

#copyEditor{background: #fff;border: 1px solid #ccc;height: 400px;overflow: hidden;}
.titH1{padding:10px; border-bottom:1px dashed #f2f2f2;text-align:center}
.titH1 span{display:inline-block;width:115px;height:33px;background: url('/static/di/images/common/logo_daekyo.png') no-repeat 0 0;background-size:100%;text-indent:-9999px}

.titH1 ~ .status {padding:10px;border-bottom:1px solid #f2f2f2;}
.titH1 ~ .status h2{font-size:14px;padding-bottom:10px;}
.titH1 ~ .status h3{font-size:13px;padding-bottom:10px;color:#666}
.titH1 ~ .status li + li{margin-top:5px}
.titH1 ~ .status li:before{content:'';display:inline-block;width:3px;height:3px;background:#777;border-radius:50%;vertical-align:middle;margin-right:5px;}


.dtree-wrap{padding:10px;position:relative;}
.dtree-wrap p {position:absolute;right:10px;top:12px;}

xmp {margin:0; padding:0; white-space:pre-wrap;}
.dtree {padding-bottom:10px; color:#999; white-space:nowrap}
.dtree a {color:#999; text-decoration:none;}
.dtree a.node, .dtree a.nodeSel {white-space:nowrap}
.dtree a.nodeSel {background-color: #f0ff00}
.dtree .clip {overflow: hidden;}
.dtree a.node.complete{color:#000;font-weight:700;}

.dtree a, .dtree img{display:inline-block;vertical-align:middle;}
.dtree > .dTreeNode > a{color:#333;font-weight:bold}

.overview *{line-height:1}
.overview{margin:80px 20px;}
.overview div{box-sizing:border-box;}
.overview-title{font-size:28px;line-height:40px;text-align:center;color:#333;}
.overview-title + h2{margin:30px 0 20px;font-size:20px;font-weight:normal}
.overview li {list-style:square inside;font-size:16px}
.overview li + li{margin-top:20px}



.coding_guide {padding:0 20px;font-size:14px}
.coding_guide h1.h1_guide {font-size:22px; line-height:normal;height:45px;line-height:45px;color:#222}
.coding_guide h1.h1_guide + h2.h2_guide{margin-top:20px;}
.coding_guide p.p_guide {margin:20px 0 10px 20px; color:#666; font-size:12px; line-height:normal}
.notice dt{margin-bottom:7px;color:#b40000;font-weight:bold;font-size:16px}
.notice ol {}
.notice li {padding:2px;list-style-type:decimal; list-style-position:inside}
.notice li li {margin-left:10px}
.coding_guide .guide_wrap {width:900px; margin:0 0 10px 20px; }
.coding_guide .d_desc {margin:0 0 20px; padding:9px; border:1px dashed #bdbfc2; background:#f5f5f5; font-size:12px; line-height:15px}
.coding_guide .d_desc.code {padding:0;}
.coding_guide .d_desc .num_list {padding-left:20px; list-style-type:decimal;}
.coding_guide .d_desc .num_list li {padding:0 0 5px 0;}
.coding_guide .d_desc strong{color:#000}
.coding_guide .t_point {margin:0 0 7px; padding-bottom:5px; border-bottom:1px solid #E5E5E5}

.guide_table {width:100%; border:0 none; border-collapse:collapse;}
.guide_table th,
.guide_table td {padding:7px 10px; border:1px solid #ddd;background:#fff}
.guide_table th {color:#000;}
.guide_table thead th {background-color:#fff599; border-bottom:0 none;font-weight:normal}

.point{color:#f00;margin-top:10px;margin-left:0;}
.red{color:#f00;}
.blue{color:#00f;}
.d_desc *{font-size:14px;}
.d_desc li{margin-top:10px;}
h2.h2_guide {font-size:18px; margin:20px 0 5px; font-weight:bold;color:#666;}
h3.h3_guide {position:relative;border-bottom:1px solid #ddd; padding:0 0 8px 0; font-size:16px; color:#313131;}
h3.h3_guide:before{content:'■';display:inline-block;margin-right:5px;font-size:10px;}
.lstDsc + .h3_guide{margin-top:20px;}
.dscBox {margin:10px 0 30px;font-size: 16px;}
.dscBox .dscImg img{max-width:100%;vertical-align:top;}
.dscBox .dscImg img + img{margin-left:20px;}
.dscBox strong {color:#b40000;}
.lstDsc{margin-top:10px;line-height:18px}
.lstDsc li + li{margin-top:8px}

.dscImg h3.h3_guide{border-bottom:0 none;}
.dscImg .lstDsc + .h3_guide{margin-top:30px}
.decs{margin-top: 10px;}

.cols:after{content:':';margin:0 5px;}
.coding_guide .syntaxhighlighter .toolbar{display:none}


.line{margin: 50px 0;border:1px solid #eee;}
.bx-tabs + .bx-tabs{margin-top:20px !important;}

.m-0 {margin:0!important}
.mt-0 {margin-top:0!important}
.mr-0 {margin-right:0!important}
.mb-0 {margin-bottom:0!important}
.ml-0 {margin-left:0px!important}
.mx-0 {margin-right:0!important;margin-left:0!important;}
.my-0 {margin-top:0!important; margin-bottom:0!important}
.mt-1 {margin-top:5px!important}
.mt-2 {margin-top:10px!important}
.mt-3 {margin-top:15px!important}
.mr-1 {margin-right:5px!important}
.mr-2 {margin-right:10px!important}
.mr-3 {margin-right:15px!important}
.mb-1 {margin-bottom:5px!important}
.mb-2 {margin-bottom:10px!important}
.mb-3 {margin-bottom:15px!important}
.ml-1 {margin-left:5px!important}
.ml-2 {margin-left:10px!important}
.ml-3 {margin-left:15px!important}
.mx-1 {margin-right:5px!important;margin-left:5px!important;}
.mx-2 {margin-right:10px!important;margin-left:10px!important;}
.mx-3 {margin-right:15px!important;margin-left:15px!important;}
.my-1 {margin-top:5px!important; margin-bottom:5px!important}
.my-2 {margin-top:10px!important; margin-bottom:10px!important}
.my-3 {margin-top:15px!important; margin-bottom:15px!important}
.p-0 {padding:0!important}
.pt-0 {padding-top:0!important}
.pr-0 {padding-right:0!important}
.pb-0 {padding-bottom:0!important}
.pl-0 {padding-left:0!important}
.px-0 {padding-right:0!important;padding-left:0!important;}
.py-0 {padding-top:0!important; padding-bottom:0!important}
.pt-1 {padding-top:5px!important}
.pt-2 {padding-top:10px!important}
.pt-3 {padding-top:15px!important}
.pr-1 {padding-right:5px!important}
.pr-2 {padding-right:10px!important}
.pr-3 {padding-right:15px!important}
.pl-1 {padding-left:5px!important}
.pl-2 {padding-left:10px!important}
.pl-3 {padding-left:15px!important}
.px-1 {padding-right:5px!important;padding-left:5px!important;}
.px-2 {padding-right:10px!important;padding-left:10px!important;}
.px-3 {padding-right:15px!important;padding-left:15px!important;}
.py-1 {padding-top:5px!important; padding-bottom:5px!important}
.py-2 {padding-top:10px!important; padding-bottom:10px!important}
.py-3 {padding-top:15px!important; padding-bottom:15px!important}
