@charset "UTF-8";

@import "./static/asset/common_scss/common_variable";
@import "./static/asset/common_scss/mixins/utilities";
@import "./static/asset/common_scss/library_css";
@import "./static/asset/common_scss/fonts";
@import "./static/asset/common_scss/reset";

// Spoqa CDN Fonts
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body,th,td,input,select,textarea,button,pre {
	// font-family: "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", "NotoSans",  "Malgun Gothic", "맑은 고딕", "dotum", sans-serif; 
	font-family: 'Spoqa Han Sans Neo', "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", 'Nanum Gothic', "Malgun Gothic", "맑은 고딕", "dotum", sans-serif;
	font-weight: 400; 
	line-height: 1.5; 
	color: $text_main;
}

body, html{
	width: 100%;
	height: 100%;
}

a {
	text-decoration:none; 
	color:$text_color02;
	outline: none;
}
a:hover {
	text-decoration:none;
	// color:$text_color02;
}
a:active {
	text-decoration:none; 
	background-color:transparent;
}

/* defaults */
::-webkit-input-placeholder {
	font-weight: 400;
	color: $text_color04; 
	-webkit-text-fill-color: $text_color04;
}
::-moz-input-placeholder {
	font-weight: 400;
	color: $text_color04; 
	-moz-text-fill-color: $text_color04;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	font-weight: 400;
	color: $text_color04; 
	-ms-text-fill-color: $text_color04;
}
:-moz-input-placeholder {
	font-weight: 400;
	color: $text_color04; 
	-moz-text-fill-color: $text_color04;
}

/* image icon Sprite */
.member-login .msg-feed:before,
.checkbox label:after,
.checkbox.round input[type=checkbox]:checked~label:after,
.info-access .contents .info-agree_list .list .agree_tit:before,
.agree-service_parents .phone_certify .phone:before,
.btn_back:after{
	background: url($url_common + 'icon/img_ico_user.png') no-repeat;
}

.inner{
	max-width: $sub_size;
	margin: 0 auto;
	overflow: hidden;
	@include respondTo(mobile){
		max-width: 100%;
		// padding: 0 20px;
	}
}

.require{
	font-size:0;
	display: inline-block;
	vertical-align: middle;
	padding: 0 3px;
	&:before{
		content: '*';
		display: inline-block;
		color:#e63755;
		font-size: 1rem;
		font-weight: 500;
	}
}

#wrap{
	background: #f5f5f5;
	&.bg_none{
		background: transparent;
	}
}

.msg-feedback{
	position:relative;
	@include respondTo(mobile){
		.msg-feed{
			font-size: 0.9rem;
		}	
	}
	&_basic {
		.msg-feed{
			color: #333;
		}
    }
	&_success {
		.msg-feed{
			color: #4caf50;
		}
    }
    &_warn {
		.msg-feed{
			color: #f9a825;
		}
    }
    &_error {
		.msg-feed{
			color: #d32f2f;
		}
	}
}

/* form */
.form_control {
	display: block;
	width: 100%;
	padding: 10px 15px;
	// padding: 15px 20px;
	font-size: 0.9rem;
	color: $text_color01;
	border: 1px solid $border_color02;
	border-radius: 5px; 
	background-repeat: no-repeat;
	background-position: right center;
	@include respondTo(mobile){
		padding: 10px 15px;
		font-size: 0.9rem;
	}
	&[disabled],
	&[readonly]{
		background-color: $bg_color06;
		color: $text_color01;
		opacity: 1;
		-webkit-text-fill-color: initial;
	}
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
	}
	&.non_border{
		border: 0 none;
	}
	&.bottom{
		padding: 8px 0;
		border: 0 none;
		border-bottom:1px solid $border_color01;
	}
	&.datepicker[readonly]{
		background: #fff;
		color: $text_color02;
	}
	&[type=text], 
	&[type=password],
	&[type=number] {
		&:focus{
			border-color: $border_color06;
		}
	}
	
}

/* custom form */
.custom_form{
	position:relative;
	font-size:0;
	margin:0 -4px;
	& ~ .custom_form{
		margin-top:8px;
	}
	.msg-feed{
		padding: 0 5px;
	}
	.item{
		position:relative;
		min-width:140px;
		display:inline-block;
		vertical-align: top;
		font-size:14px;
		padding:4px;
		a.custom_label{
			&:hover{
				border-color:$sub_color01;
				background:$sub_color01;
				color:$bg_color03;
			}
		}
		.custom_label{
			text-align:center;
			display:block;
			width:100%;
			height:34px;
			padding:5px;
			border:1px solid $border_color01;
			color:$text_color01;
			background:$bg_color03;
			@include respondTo(mobile){
				height:44px;
				padding:10px 5px;
			}
		}
		input{
			position:absolute;
			opacity: 0;
			&:checked{
				& ~ .custom_label{
					border-color:$sub_color01;
					background:$sub_color01;
					color:$bg_color03;
				}
			}
		}
		input{
			&:checked{
				& ~ .btn_cancel{
					&:before, &:after{
						border-color:#fff;
					}
				}
			}
		}
	}
	.box {
		display: table;
		width: 100%;
		& ~ .box{
			margin-top: 10px;
			@include respondTo(mobile){
				margin-top: 8px;
			}
		}
		.cf_group {
			display: table-cell;
			vertical-align: middle;
			padding: 0 5px;
			.form_control {
				width: auto;
				&[disabled]{
					background:transparent;
				}
			}
			&:first-child {
				width: 99%;
				.form_control {
					width: 100%;
				}
			}
		}
		.btn_box {
			display: table-cell;
			vertical-align: middle;
			padding: 0 5px;
			white-space: nowrap;
		}	
	}
	&.certify{
		.cf_group{
			position: relative;
			.form_control{
				padding-right: 50px;
			}
			.time{
				position: absolute;
				top: 50%;
				right: 20px;
				font-size: 0.9rem;
				transform: translate(0, -50%);
				color: $text_color04;
			}
		}
		@include respondTo(mobile){
			.cf_group{
				.time{
					right: 20px;
				}
			}
		}
	}
	@include respondTo(mobile){
		.item{
			width:auto;
			min-width:33.333%;
		}
	}
}

/* selectbox */
select.form_control {
	padding-right: 40px;
	background: #fff url($url_common + 'icon/ico_select.png') no-repeat right 24px center;
	appearance: none;
	box-shadow: none;
	@include respondTo(mobile){
		padding-right:30px;
		background-position:right 16px center;
	}
	&.type2{
		padding-right: 36px;
		background: #fff url($url_common + 'icon/ico_select_type2.png') no-repeat right 17px center;
		background-size: 24px;
		appearance: none;
		box-shadow: none;
		@include respondTo(mobile){
			padding-right: 30px;
			background-position: right 16px center;
		}	
	}
}
.radio, .checkbox {
	position: relative;
	display: block;
	label {
		position: relative;
		display: inline-block;
		// font-size: 0.9rem;
		font-weight: 400;
		cursor:pointer;
		&:before{
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			border: 1px solid $border_color01;
			transition: all .3s linear;
			box-sizing: border-box;
		}
		&:after{
			content: '';
			display: inline-block;
			position: absolute;
			// transition: all .3s linear;
			opacity:0;
			box-sizing: border-box;
		}
		.sub_txt{
			font-size: 14px;
			font-weight: 400;
			color:$text_color03;
			padding-left:10px;
		}
		@include respondTo(mobile){
			font-size: 0.9rem;
		}
	}
	input[type=radio], input[type=checkbox]{
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
		visibility: hidden;
		&:disabled + label {
			cursor: not-allowed;
		}
	}
	input[type=radio]:checked{
		& ~ label{
			&:before{
				border-color:$border_color05;
			}
			&:after{
				opacity: 1;
			}
		}
	}
	input[type=checkbox]:checked{
		& ~ label{
			&:before{
				background: $bg_color04;
			}
			&:after{
				opacity: 1;
			}
		}
	}
	&.etc{
		label{
			margin-right: 10px;
		}
		.form_control{
			padding: 0;
			height: 20px;
			vertical-align: top;
			width: auto;
			display: inline-block;
		}
		.form_group.maxlength{
			margin-top: 10px;
			margin-left: 36px;
			.form_control{
				padding: 16px 20px 40px;
				height: auto;
				width: 100%;
			}
		}
	}
	@include respondTo(mobile){
		&.etc{
			label{
				margin-right: 8px;
			}
			.form_group.maxlength{
				margin-left: 0;
			}
		}
	}
}

/* checkbox */
.checkbox{
	label{
		padding-left: 30px;
		&:before{
			background:#fff;
			width: 24px;
			height: 24px;
			border-color: $border_color01;
		}
		&:after{
			left: 7px;
			top: 7px;
			// width: 10px;
			width: 12px;
			height: 10px;
			background-position: 0 0;
			// background: url($url_common + 'icon/ico_checkbox_on.png') no-repeat center center;
		}
		@include respondTo(mobile){
			padding-left: 28px;
			&:before{
				background:#fff;
				width: 20px;
				height: 20px;
				border-color: $border_color01;
			}
			&:after{
				left: 5px;
				top: 6px;
				width: 10px;
				height: 8px;
				// background: url($url_common + 'icon/ico_checkbox_on.png') no-repeat center center;
			}
		}
	}
	&.round{
		label{
			&:before{
				border-radius:50%;
				background:#fff;
			}
			// &:after{
			// 	opacity: 1;
			// 	background:url($url_common + 'icon/ico_checkbox.png') no-repeat center center;
			// }
		}
		input[type=checkbox]:checked{
			& ~ label{
				&:before{
					background-color: $bg_color05;
				}
				&:after{
					background-position: -67px -21px;
					background-size: 250px 250px;
					// background:url($url_common + 'icon/ico_checkbox_on.png') no-repeat center center;
				}
				@include respondTo(mobile){
					&:after{
						background-position: -59px -19px;
						background-size: 220px 220px;
					}
				}
			}
		}
	}
	input[type=checkbox][disabled],
	input[type=checkbox][readonly]{
		& ~ label{
			&:before{
				background: $bg_color07;
			}
		}
	}
}

/* radio */
.radio{
	label{
		padding-left: 36px;
		line-height:20px;
		&:before{
			border-radius: 50%;
			width: 18px;
			height: 18px;
			border-width:2px;
		}
		&:after{
			left:4px;
			top:4px;
			width:10px;
			height:10px;
			border-radius: 50%;
			background:$bg_color05;
		}
	}
	.form_caption{
		padding-left:36px
	}
	@include respondTo(mobile){
		label,.form_caption{
			padding-left:30px;
		}
	}
}

/* button */
.btn{
	color: $text_color01;
	border-radius: 5px;
	text-align: center;
	border: 1px solid rgba(0,0,0,.2);
	&.disabled, &[disabled], fieldset[disabled] & {
		background: rgba(0,0,0,.2) !important;
		cursor: default;
	}
	.ico{
		margin: 0;
		vertical-align: 0;
	}
	span ~ .ico, .ico ~ span{
		margin-left: 12px;
		@include respondTo(mobile){
			margin-left: 10px;
		}
	}
	&.btn_sm{
		padding: 0 22px;
		font-size: 0.9rem;
		height: 30px;
		span ~ .ico, .ico ~ span{
			margin-left: 10px;
		}
		@include respondTo(mobile){
			padding: 0 10px;
			height: 20px;
			font-size: 0.7rem;
			.ico{
				display:none;
			}
		}
	}
	&.btn_md{
		padding: 0 20px;
		font-size: 1rem;
		height: 40px;
		min-width: 88px;
		@include respondTo(mobile){
			font-size: 0.8rem;
			height: 30px;
			min-width: 58px;
		}
	}
	&.btn_form{
		font-size: 1rem;
		padding: 0 30px;
		height: 43px;
		min-width: 130px;
		@include respondTo(mobile){
			font-size: 0.85rem;
			padding: 0 20px;
			min-width: 90px;
		}
	}
	&.btn_mdl{
		font-size: 1rem;
		font-weight: 500;
		padding: 0 32px;
		height: 44px;
		@include respondTo(mobile){
			font-size: 0.8rem;
			padding: 0 21px;
			height: 32px;
		}
	}
	&.btn_lg{
		font-size: 1rem;
		font-weight: 500;
		padding: 0 24px;
		height: 48px;
		min-width: 130px;
		@include respondTo(mobile){
			height: 50px;
			font-weight: 400;
			padding: 0 20px;
			min-width: 100px;
		}
	}
	&.btn_xlg{
		font-size: 1.15rem;
		font-weight: 500;
		padding: 0 36px;
		height: 56px;
		min-width:170px;
		@include respondTo(mobile){
			font-size: 1rem;
			height: 44px;
			min-width: 154px;
		}
	}
	&.btn_xxlg{
		font-size: 1.25rem;
		padding: 0 36px;
		height: 72px;
		min-width: 260px;
		@include respondTo(mobile){
			font-size: 1rem;
			height: 44px;
			min-width: 154px;
		}
	}
	&.btn_default,
	&.btn_default:hover,
	&.btn_default:focus,
	&.btn_default.active:focus, 
	&.btn_default.active:hover, 
	&.btn_default:active:focus, 
	&.btn_default:active:hover{
		border-color: #666;
		background: #fff;
	}
	&.btn_primary,
	&.btn_primary:hover,
	&.btn_primary:focus,
	&.btn_primary.active:focus, 
	&.btn_primary.active:hover, 
	&.btn_primary:active:focus, 
	&.btn_primary:active:hover{
		background: #333;
		border-color: #333;
		color: #fff;
	}
	&.btn_black,
	&.btn_black:hover,
	&.btn_black:focus,
	&.btn_black.active:focus, 
	&.btn_black.active:hover, 
	&.btn_black:active:focus, 
	&.btn_black:active:hover{
		background: #000;
		border-color: #000;
		color: #fff;
	}
	&.btn_lightgray,
	&.btn_lightgray:hover,
	&.btn_lightgray:focus,
	&.btn_lightgray.active:focus, 
	&.btn_lightgray.active:hover, 
	&.btn_lightgray:active:focus, 
	&.btn_lightgray:active:hover{
		background: #666;
		border-color: #666;
		color: #fff;
	}
	&.btn_white,
	&.btn_white:hover,
	&.btn_white:focus,
	&.btn_white.active:focus, 
	&.btn_white.active:hover, 
	&.btn_white:active:focus, 
	&.btn_white:active:hover{
		background: #fff;
		border-color: #fff;
	}
	&.btn_ctype1,
	&.btn_ctype1:hover,
	&.btn_ctype1:focus,
	&.btn_ctype1.active:focus, 
	&.btn_ctype1.active:hover, 
	&.btn_ctype1:active:focus, 
	&.btn_ctype1:active:hover{
		background: #008fd4;
		border-color: #008fd4;
		color:#fff;
	}
	&.btn_orange,
	&.btn_orange:hover,
	&.btn_orange:focus,
	&.btn_orange.active:focus, 
	&.btn_orange.active:hover, 
	&.btn_orange:active:focus, 
	&.btn_orange:active:hover{
		background: #f36f21;
		border-color: #f36f21;
		color:#fff;
	}
	&.btn_blue,
	&.btn_blue:hover,
	&.btn_blue:focus,
	&.btn_blue.active:focus, 
	&.btn_blue.active:hover, 
	&.btn_blue:active:focus, 
	&.btn_blue:active:hover{
		background: $sub_color01;
		border-color: $sub_color01;
		color:#fff;
	}
}
.btn, .btn > span{
	display: inline-block;
	vertical-align: top;
	font-size: inherit;
}
.btn-choose{
	display: flex;
	justify-content: center;
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid $border_color04;
	.btn{
		flex: 1;
		& ~ .btn{
			margin-left: 20px;
		}
	}
}

.wrap-box{
	margin-top: 40px;
	padding: 40px 25px;
	background: #fff;
	border: 1px solid $border_color02;
	border-radius: 5px;
	// box-shadow: 2px 4px 10px rgba(0,0,0,.2);
	.sub-title{
		margin-bottom: 25px;
		padding-bottom: 25px;
		font-size: 1.5rem;
		font-weight: 500;
		border-bottom: 1px solid $border_color04;
		color: $text_color01;
		text-align: center;
		.page-tit{
			color: $text_color03;
			font-size: 1.4rem;
		}
	}
	@include respondTo(mobile){
		padding: 30px 20px;
		border-left: 0 none;
		border-right: 0 none;
		border-radius: 0;
	}
}

/* tab */
.ui_tab{
	.nav-tabs{	
		display: flex;
		background: #fff;
		border: 1px solid #bbb;
		li[role="presentation"]{
			flex : 1;
			border: 0;
			background: $bg_color02;
			position: relative;
			margin: 0;
			&:first-child{
				margin-left: 0;
			}
			a{
				display: block;
				text-align: center;
				height: 43px;
				display: table;
				width: 100%;
				color: $text_color03;
				font-size: 0.9rem;
				line-height: 1.2;
				padding: 0 10px;
				span{
					display: table-cell;
					vertical-align: middle;
				}
			}
			&.active{
				border-color: #666;
				a{
					background: #333;
					color: #fff;
					font-weight: 500;
					&:after{
						display: none; 
					}
				}
				&:first-child{
					a:after{
						left: 0;
					}
				}
				&:after{
					display: none;
				}
			}
		}
	}
	.tab-content{
		.section_title{
			margin-bottom:0;
		}
		.section_box{
			.boxs_wrap{
				border-top:0 none;
				.boxs:first-child{
					padding-top:0;
				}
			}
		}
	}
	.desc{
		font-size: 0.9rem;
		color: #333;
		text-align: center;
		&.middle{
			padding: 15px 0;
		}
	}
	@include respondTo(mobile){
		.sub_contnet>.inner &{
			.nav-tabs{
				margin-left: -20px;
				margin-right: -20px;
			}
		}
		&.fixed{
			margin-top:-30px;
			.nav-tabs{
				border-bottom:1px solid $border_color02;
				background:#e5e5e5;
				li[role="presentation"]{
					border:0 none;
					border-top:1px solid #f5f5f5;
					&:first-child{
						margin-left:1px;
					}
					&.active{
						border-top-color:#666;
						margin-left:1px;
						&:before{
							content:'';
							width:100%;
							height:1px;
							position:absolute;
							top:-2px;
							left:0;
							background:#666;
						}
					}
				}
			}
		}
		.nav-tabs{
			li[role="presentation"]{
				a{
					height: 38px;
					font-size: 12px;
				}
				&.active:first-child{
					// border-left-color:#fff;
					a:after{
						background-color:#fff;
						left:-1px;
						top:1px;
					}	
				}
				&.active:last-child{
					border-right-color:#fff;
					&:after{
						width:calc(100% + 2px)
					}	
				}
			}
		}
		.desc{
			font-size: 0.8rem;
			text-align: center;
		}
	}
}

/* 약관 */
.agreements{
	label{
		color: $text_color01;
	}
	.all_check{
		label{
			font-weight: 500;
		}
		margin-bottom: 20px;
	}
	.box{
		margin-top: 20px;
		position: relative;
		.check_agree{
			label{
				@include respondTo(mobile){
					padding-right: 90px;
				}
			}
		}
		.agree_box{
			margin-top: 10px;
			border-top: 1px solid #d2d2d2;
			border-bottom: 1px solid #d2d2d2;
			padding: 20px 0 20px 20px;
			max-height: 240px;
			background: #f5f5f5;
			overflow: hidden;
			.agree_cont{
				padding-top:0;
				font-size: 14px;
			}
			@include respondTo(mobile){
				padding: 15px 0 15px 0;
			}
		}
		.desc{
			padding-left: 31px;
			color: #7d7d7d;
			font-size: 14px;
			ul{
				li{
					& ~ li{
						padding-top: 5px;
					}
				}
			}
		}
		&.inner-list{
			.list{
				position: relative;
				margin-top: 20px;
				&.inner-list{
					padding-left: 20px;
				}
			}
		}
	}
	.overview{
		position: absolute;
		top: 0;
		right: 0;
		color: #7d7d7d;
		padding-right: 24px;
		@include respondTo(mobile){
			font-size: 0.9rem;
		}
		&:after{
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			border-top: 2px solid #7d7d7d;
			border-right: 2px solid #7d7d7d;
			transform: rotate(-45deg);
			position: absolute;
			top: 10px;
			right: 0;
			@include respondTo(mobile){
				top: 8px;
			}
		}
		&.collapsed{
			&:after{
				top: 4px;
				transform: rotate(135deg);
				@include respondTo(mobile){
					top: 3px;
				}
			}
		}
	}
}

#page-name{
	display: none;
}

/* header */
#header{
	padding: 10px 0 15px 0;
	background: #fff;
	border-bottom: 1px solid $border_color02;
	text-align: center;
	.logo{
		img{
			width: 120px;
		}
	}
	@include respondTo(mobile){
		.logo{
			img{
				width: 90px;
			}
		}
	}
}

.btn_back{
	display: none;
	position: relative;
	@include respondTo(mobile){
		display: block;
		padding: 15px 50px;
		background: #fff;
		font-size: 1rem;
		font-weight: 500;
		color: $text_color01;
		text-align: center;
		span{
			display: inline-block;
			max-width: 100%;
			vertical-align: middle;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		&:after{
			content: '';
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 20px;
			width: 28px;
			height: 28px;
			transform: translateY(-50%);
			background-position: 0 -37px;
			background-size: 450px 450px;
		}
	}
}

/* footer */
#footer{
	margin-top: 100px;
	padding-bottom: 20px;
	background: #fff;
	border-top: 1px solid $border_color02;
	box-sizing: border-box;
	@include respondTo(mobile){
		margin-top: 60px;
	}
	.menu{
		&-list{
			padding: 30px 0 15px 0;
			font-size: 0.9rem;
			text-align: center;
			@include respondTo(mobile){
				padding: 20px 0 15px 0;
				font-size: 0.8rem;
			}
			a{
				position: relative;
				display: inline-block;
				padding: 0 10px;
				color: $text_color04;
				&.bold{
					font-weight: 500;
					color: $text_color01;
				}
				&:after{
					content: '';
					display: block;
					width: 1px;
					height: 14px;
					background: $text_main;
					// background:rgba(102,102,102,.9);
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
				&:first-child{
					padding-left: 0;
					&:after{
						display: none;
					}
				}
				&:last-child{
					padding-right: 0;
				}
				.pc_only{
					display: inline-block;
					@include respondTo(mobile){
						display: none;
					}
				}
			}
		}		
	}
	.copyright{
		font-size: 0.9rem;
		text-align: center;
		color: $text_color04;
		.bold{
			font-weight: 500;
			color: $text_color01;
		}
		@include respondTo(mobile){
			font-size: 0.8rem;
		}
	}
}

/* top btn */
.btn_top{
	position:fixed;
	right:30px;
	bottom:30px;
	height:50px;
	width:50px;
	cursor:pointer;
	display:block;
	border-radius:50%;
	box-shadow:inset 0 0 0 2px rgba(160,160,160,.4);
	opacity:0;
	visibility:hidden;
	transform:translateY(30px);
	transition:all .2s linear;
	z-index:9999;
	background:rgba(255,255,255,.6);
	&.active{
		opacity:1;
		visibility:visible;
		transform:translateY(0);
	}
	&:hover{
		.ico_longarrow_up{
			&:before{
				border-color:#008fd4;
			}
			&:after{
				background-color:#008fd4;
			}
		}
	}
	.ico_longarrow_up{
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		display:block;
		@include cssIcon2($icon: longarrow, $direction: 'up', $width:20px, $height:26px,$color:rgba(0,0,0,.6),$position:absolute); 
	}	
	svg{
		path{
			fill:none;
		}
		&.circle{
			path{
				stroke:#008fd4;
				stroke-width:3;
				transition:all .3s linear;
			} 
		}
	}
	@include respondTo(mobile){
		right:10px;
		bottom:20px;
		height:36px;
		width:36px;
		.ico_longarrow_up{
			@include cssIcon2($icon: longarrow, $direction: 'up', $width:14px, $height:18px,$color:rgba(0,0,0,.6),$position:absolute,$thick:1px);  
		}	
	}
}

@keyframes circle{
    0%{
        top:28px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:12px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
@keyframes circle{
    0%{
        top:28px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:12px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.4);
        opacity: .4;
    }
}

