@charset "UTF-8";

@import "./static/asset/common_scss/common_variable";
@import "./static/asset/common_scss/mixins/utilities";

.conts-desc{
    margin-bottom: 20px;
    text-align: center;
    .desc-type{
        &_txt{
            @include respondTo(mobile){
                font-size: 0.95rem;
            }
        }
        &_box{
            padding: 15px;
            font-size: 0.95rem;
            background: $bg_color02;
            border: 1px solid $border_color04;
            border-radius: 5px;
            @include respondTo(mobile){
                font-size: 0.9rem;
            }
        }
        & ~ .desc-type{
            margin-top: 20px;
        }
    }
}

/* login */
.member{
	&-login{
        .box{
            padding: 40px 25px;
            border: 1px solid $border_color02;
            border-radius: 5px;
            // box-shadow: 0 4px 10px rgba(0,0,0,.2);
            @include respondTo(mobile){
                padding: 0;
                border: 0 none;
            }
        }
		.logo{
			padding: 120px 0 50px 0;
			text-align: center;
			img{
				width: 250px;
			}
            @include respondTo(mobile){
                padding: 50px 0 40px 0;
                img{
                    width: 150px;
                }
            }
		}
		.form_group{
			& + .form_group{
				margin-top: 25px;
                @include respondTo(mobile){
                    margin-top: 15px;
                }
			}
            & + .checkbox{
                margin-top: 20px;
            }
		}
		.msg-feed{
			position: relative;
			margin: 15px 0;
			padding-left: 26px;
			&:before{
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
                transform: translateY(-50%);
				display: block;
				width: 25px;
				height: 25px;
                background-position: -100px -40px;
				// background: url($url_common + 'icon/ico_error.png') no-repeat center center;
				// background-size: 100%;
			}
		}
        .btn{
            &-login{
                margin-top: 20px;
                .btn{
                    width: 100%;
                }
            }
        }
        .member-menu{
            margin-top: 20px;
            border-top: 1px solid $border_color04;
            @include respondTo(mobile){
                margin-top: 30px;
                text-align: center;
                border-top: 0 none;
            }
            &_list{
                display: inline-block;
                margin-top: 20px;
                vertical-align: middle;
                    @include respondTo(mobile){
                        margin-top: 0px;
                    }
                a{
                    position: relative;
                    display: inline-block;
                    @include respondTo(mobile){
                        font-size: 0.85rem;
                    }
                }
                &--left{
                    @include respondTo(mobile){
                        a{
                            padding-right: 15px;
                        }
                    }
                }
                &--right{
                    float: right;
                    a{
                        padding: 0 10px;
                        &:before{
                            content: '';
                            display: block;
                            width: 1px;
                            height: 14px;
                            background: #7d7d7d;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }
                        &:first-child{
                            padding-left: 0;
                            &:before{
                                display: none;
                            }
                        }
                        &:last-child{
                            padding-right: 0;
                        }
                    }
                    @include respondTo(mobile){
                        float: none;
                        a{
                            padding: 0 15px;
                            &:first-child{
                                padding-left: 15px;
                                &:before{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include respondTo(mobile){
            .inner{
                padding: 0 20px;
            }
        }
	}
}

.info{
    /* 정보제공 동의 */
    &-access{
        .app-box{
            display: table;
            width: 100%;
            table-layout: fixed;
            padding-bottom: 20px;
            border-bottom: 1px solid $border_color04;
            .app-img{
                display: table-cell;
                width: 80px;
                vertical-align: top;
                &_box{
                    width: 80px;
                    height: 80px;
                    border: 1px solid $border_color03;
                    border-radius: 50%;
                    overflow: hidden;
                }
                @include respondTo(mobile){
                    width: 60px;
                    &_box{
                        width: 60px;
                        height: 60px;
                    }
                }
            }
            .app-info{
                display: table-cell;
                vertical-align: middle;
                width: 99%;
                padding: 0 15px;
                text-align: left;
                &_name{
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $text_color01;
                }
                &_user{
                    padding-top: 2px;
                }
                @include respondTo(mobile){
                    padding: 0 10px;
                    text-align: left;
                    &_name{
                        font-size: 1rem;
                        font-weight: 500;
                        color: $text_color01;
                    }
                    &_user{
                        font-size: 0.85rem;
                        padding-top: 2px;
                    }
                }
            }
        }
        .contents{
            .conts_v1{
                padding-top: 20px;
                @include respondTo(mobile){
                    font-size: 0.9rem;
                }
            }
            .info-agree{
                padding-top: 30px;
                @include respondTo(mobile){
                    padding-top: 20px;
                }
                &_list{
                    .msg{
                        padding-top: 15px;
                        color: $text_color05;
                        @include respondTo(mobile){
                            font-size: 0.9rem;
                        }
                    }
                    .list{
                        padding-top: 15px;
                        ul{
                            li{
                                & ~ li{
                                    padding-top: 15px;
                                }
                            }
                        }
                        .agree_tit{
                            position: relative;
                            padding-left: 30px;
                            font-weight: 500;
                            color: $text_color01;
                            @include respondTo(mobile){
                                padding-left: 25px;
                                font-size: 0.9rem;
                            }
                            &:before{
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                display: block;
                                width: 25px;
                                height: 25px;
                                background-position: -18px -22px;
                                background-size: 320px 320px;
                                // background: url($url_common + 'icon/ico_basic.png') no-repeat center center;
                                // background-size: 100%;
                            }
                        }
                        .agree_cont{
                            padding-top: 5px;
                            padding-left: 30px;
                            font-size: 0.95rem;
                            color: $text_color05;
                            @include respondTo(mobile){
                                padding-top: 5px;
                                padding-left: 25px;
                                font-size: 0.85rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.agree{
    /* 서비스 약관 동의 */
    &-service{
        .agreements{
            .agree_desc{
                color: $text_color05;
            }
        }
        &_parents{
            .phone_certify{
                display: block;
                padding: 15px;
                color: $text_color01;
                border: 1px solid $border_color04;
                border-radius: 5px;
                @include respondTo(mobile){
                    padding: 10px 15px;
                }
                .phone{
                    position: relative;
                    padding-left: 44px;
                    background-repeat: no-repeat;
                    background-position: 0;
                    // background-size: 38px auto;
                    // background-image: url($url_common + 'icon/ico_phone.png');
                    .tit{
                        font-weight: 500;
                        font-size: 1rem;
                        color: #333;
                    }
                    p{
                        font-size: 0.85rem;
                        // & ~ p{
                        //     margin-top: 10px;
                        // }
                    }
                    &:before{
                        content: '';
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        background-position: 0 -68px;
                        background-size: 450px 450px;
                    }
                    @include respondTo(mobile){
                        padding-left: 40px;
                        background-size: 32px auto;
                        p{
                            font-size: 0.75rem;
                            &.tit{
                                font-size: 0.85rem;
                            }
                        }
                        &:before{
                            background-position: 0 -65px;
                            background-size: 430px 430px;
                        }
                    }
                }
                &.success{
                    line-height: 34px;
                }
            }
        }
        &_info{
            .input-msg{
                padding-top: 10px;
                font-size: 0.9rem;
            }
            .msg-feed{
                padding-top: 10px;
                font-size: 0.9rem;
            }
        }
    }
    &-finish{
        .user-info{
            .msg{
                font-size: 1.5rem;
                font-weight: 500;
                color: $text_color01;
                text-align: center;
            }
            .msg-sub{
                padding-top: 20px;
                color: $text_color01;
                text-align: center;
            }
            .info-box{
                margin-top: 20px;
                padding: 30px 15px;
                font-size: 0.95rem;
                background: #f5f5f5;
                border: 1px solid #e7e7e7;
                border-radius: 5px;
                text-align: center;
                ul{
                    li{
                        font-size: 1rem;
                        .bold{
                            color: $main_color01;
                        }
                        & ~ li{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

.form-info{
    .info-list{
        .list{
            .list-tit{
                display: block;
                width: 100%;
                padding-bottom: 5px;
                font-size: 0.95rem;
                color: $text_color01;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;    
            }
            & + .list{
                margin-top: 15px;
            }
        }
    }
    .msg-feedback{
        position:relative;
        @include respondTo(mobile){
            .msg-feed{
                font-size: 0.9rem;
            }	
        }
        &_success {
            .msg-feed{
                color: #4caf50;
            }
        }
        &_warn {
            .msg-feed{
                color: #f9a825;
            }
        }
        &_error {
            .form_control{
                border-color: #d32f2f;
                color: #d32f2f;
            }
            .msg-feed{
                color: #d32f2f;
            }
        }
    }
    &_type2{
        .info-list{
            .list{
                position: relative;
                min-height: 40px;
                padding-left: 130px;
                &-tit{
                    position: absolute;
                    top: 10px;
                    left: 0;
                    font-size: 0.9rem;
                    font-weight: 500;
                    color: $text_color01;
                }
                &-form{
                    position: relative;
                    padding-top: 10px;
                    font-size: 0.9rem;
                }
                .desc{
                    margin-top: 20px;
                    font-size: 0.9rem;
                    @include respondTo(mobile){
                        margin-top: 10px;
                    }
                }
                .btn{
                    font-size: 0.85rem;
                    &.right_align{
                        position: absolute;
                        top: 0;
                        right: 0;
                        @include respondTo(mobile){
                            position: relative;
                            height: 35px;
                            min-width: 100px;
                            margin-top: 10px;
                            font-size: 0.85rem;
                        }
                    }
                }
                .form-change{
                    display: none;
                    .custom_form{
                        .box{
                            .btn_box{
                                .btn{
                                    width: 88px;
                                    min-width: 88px;
                                    padding: 0 10px;
                                    @include respondTo(mobile){
                                        width: 100px;
                                        min-width: 100px;
                                    }
                                }
                            }
                        }
                    }
                    .form_control{
                        font-size: 0.9rem;
                    }
                    .btn-choose{
                        margin: 15px 0 30px 0;
                        padding-top: 15px;
                        .btn{
                            height: 40px;
                        }
                    }
                }
                @include respondTo(mobile){
                    padding: 0;
                    &-tit{
                        position: relative;
                        top: 0;
                        font-weight: 500;
                    }
                    &-form{
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}

.page{
    &-etc{
        .inner{
            max-width: $wrap_size;
            overflow: hidden;
        }
        .sub-title{
            margin-bottom: 30px;
            padding-bottom: 15px;
            text-align: left;
            font-weight: 700;
            border-width: 2px;
            border-color: #000;
            @include respondTo(mobile){
                margin-bottom: 20px;
                font-size: 1.1rem;
            }
        }
        .agree_cont{
            .agree_top{
                padding: 20px;
                margin-bottom: 20px;
                overflow: hidden;
                border: 1px solid $border_color01;
                .fl_lk, .fr_lk{
                    float: left;
                    width: 50%;
                    li{
                        padding: 3px 0;
                    }
                }
            }
            .links{
                margin-top: 20px;
                strong{
                    font-weight: 400;
                    display: block;
                }
            } 
            .agree_box{
                // border-top: 1px solid #000;
                border-bottom: 1px solid #ccc;
                padding: 40px 30px 15px;
                .agree_cont{
                    padding-top: 0;
                    .inner>ul{
                        padding-left: 0;
                        margin-left: 0;
                    }
                    .inner>ul>li{
                        text-indent: 0;
                    }
                    strong{
                        display: block;
                        margin-bottom: 5px;
                        color:#333;
                        & + p, & + ul{
                            padding-left: 0;
                        }
                    }
                    .first{
                        padding-left: 0;
                        margin-bottom: 10px;
                    }
                }
                .conts{
                    font-size: 1rem;
                    min-height: 500px;
                    > strong{
                        display: block;
                        margin-bottom: 5px;
                        color:#333;
                    }
                }
                table{
                    width: 100%;
                    table-layout: fixed;
                    border-collapse: collapse;
                    border-top: 1px solid $border_color01;
                    border-bottom: 1px solid $border_color01;
                    caption {
                        display: none;
                    }
                    thead th{
                        height: 40px;
                        vertical-align: middle;
                        background: #e0e0e0;
                        text-align: center;
                        font-weight: 700;
                    }
                    td {
                        border-top: 1px solid $border_color01;
                        border-spacing: 0;
                        border-left: 1px solid $border_color01;
                        text-align: center;
                        padding: 10px;
                        &:first-child{
                            border-left: 0 none;
                        }
                        &[rowspan]{
                            border-right: 1px solid $border_color01;
                            &:last-child{
                                border-right: 0 none;
                            }
                        }
                    }
                }
                > strong {
                    font-weight: 700;
                    font-size: 0.8rem;
                    + p{
                        margin-top: 5px;
                    }
                }
                > ul{
                    padding-left: 17px;
                    > li{
                        text-indent: -17px;
                        margin-top: 7px;
                        p, dd, table, th, td{
                            text-indent: 0;
                        }
                    }
                }
                ul {
                    li{
                        dl{
                            padding:7px 0 0 17px;
                        }
                    }
                }
                > p{
                    padding-left: 17px;
                }
                ul{
                    &.round_list{
                        .round{
                            position: relative;
                            padding-left: 30px;
                            &:before{
                                content: '';
                                width: 4px;
                                height: 4px;
                                border-radius: 2px;
                                background: #333;
                                position: absolute;
                                left: 0;
                                top: 9px;
                            }
                        }
                    }
                }
                dl{
                    &.round_list{
                        .round{
                            position: relative;
                            padding-left: 30px;
                            &:before{
                                content: '';
                                width: 4px;
                                height: 4px;
                                border-radius: 2px;
                                background: #333;
                                position: absolute;
                                left: 0;
                                top: 9px;
                            }
                        }
                    }
                }
                .title_group{
                    position: relative;
                    .conts_tit{
                        &.lv1{
                            padding-bottom: 28px;
                            .desc{
                                margin-left: 20px;
                                font-size: 16px;
                                color: #7d7d7d;
                            }
                        }
                        &.lv2{
                            padding-bottom: 18px;
                        }
                        &.lv3{
                            padding-bottom: 28px;
                            font-size: 18px;
                            color: #333;
                        }
                    }
                }
                & ~ .title_group{
                    margin-top: 60px;
                    .conts_tit.lv1{
                        padding-bottom: 15px;
                        .desc{
                            margin-left: 20px;
                            font-size: 1rem;
                            color: #7d7d7d;
                        }
                    }
                }
            }
            .bottom{
                margin-top: 30px;
                text-align: right;
                font-size: 1rem;
                line-height: 18px;
                .tit{
                    display: inline-block;
                    margin-right: 10px;
                    color: #333;
                }
            }
            .agree_list{
                a{
                    color: #f36f21;
                    font-size: 1rem;
                    border-bottom: 1px solid #f36f21;
                }
                li	~ li{
                    margin-top: 10px;
                }
            }
            &.open_license{
                padding-top: 0;
                .title{
                    position: relative;
                    padding: 40px 0;
                    text-align: center;
                    color: #333;
                    font-size:0;
                    border-bottom:1px solid #e7e7e7;
                    .txts,.sub_txts{
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 32px;
                        font-weight: 500;
                        word-break: keep-all;
                        letter-spacing: 0;
                    }
                    .sub_txts{
                        &:before{
                            content: '';
                            width: 1px;
                            height: 28px;
                            display: inline-block;
                            vertical-align: middle;
                            background: #e0e0e0;
                            margin: 0 15px;
                        }
                    }
                    & ~ .inner{
                        margin-top: 70px;
                    }
                }
                .conts{
                    margin: -10px;
                    font-size: 0;
                    .lists{
                        display: inline-block;
                        vertical-align: top;
                        width: calc(100%/2);
                        padding: 10px;
                    }
                    .boxs{
                        padding: 50px 50px 40px;
                        border: 1px solid #e1e1e1;
                        border-radius: 20px 20px 0 20px;
                        .tits, .links, .copyright, .license{
                            display: block;
                            font-size: 1rem;
                            color: #333;
                            word-break: keep-all;
                            letter-spacing: 0;
                        }
                        .tits{
                            font-size: 20px;
                            font-weight: 500;
                            & ~ .links{
                                margin-top: 20px;
                            }
                        }
                        .links{
                            a{
                                color: #f36f21;
                                text-decoration: underline;
                                display: inline-block;
                                vertical-align: top;
                                letter-spacing: 0;
                            }
                            & ~ .copyright{
                                margin-top: 5px;
                            }
                        }
                        .copyright{
                            color: #7d7d7d;
                        }
                        .license {
                            margin-bottom: 10px;
                            position: relative;
                            z-index: 1;
                        }
                        .collapse{
                            display: block;
                            height: 0;
                            opacity: 0;
                            transition: all .5s;
                            .panel{
                                transition: all .5s;
                                font-size: 0.9rem;
                                border: 1px solid #e1e1e1;
                                max-height: 200px;
                                overflow-y: auto;
                                padding: 10px;
                                word-break: keep-all;
                            }
                        }
                        &.active{
                            .collapse{
                                height: 200px;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
            &.terms{
                .tit_agree{
                    padding-bottom: 20px;
                    font-size: 1.3rem;
                    & ~ .tit_agree{
                        border-top: 1px solid #e1e1e1;
                        padding-top: 50px;
                    }
                }
                .agree_box{
                    // padding: 30px;
                    padding: 0 0 30px;
                    border-top-width: 2px;
                    & ~ .agree_box{
                        margin-top: 30px;
                    }
                    ul li ul{
                        padding-left: 0;
                    }
                    > p{
                        padding-left: 0;
                    }
                    .indent_default.lists{
                        margin-top: 0;
                    }
                    #privacy4 + ul{
                        .inden_dl_default{
                            dt{
                                font-weight: 500;
                            }
                            dt ~ dt{
                                margin-top: 10px;
                            }
                            dd{
                                padding-left: 7px;
                            }
                        }
                    
                    }
                }
                .indent_default.lists{
                    margin: -5px;
                    font-size: 0;
                    padding: 0;
                    border-bottom: 0 none;
                    li{
                        display: inline-block;
                        vertical-align: top;
                        width: 33.333%;
                        padding: 5px;
                        text-indent: 0;
                        margin-top: 0;
                        a{
                            font-size: 1rem;
                            color: #333;
                            &:hover,&:focus{
                                color: #f36f21;
                                text-decoration: underline;
                            }
                        }
                    }
                    &.type2{
                        li{
                            width: 50%;
                        }
                    }
                }
                .tbl_type1{
                    margin: 10px 0;
                }
                .agree_box .agree_cont .inner table{
                    border-top: 2px solid #333;
                    thead th{
                        background: #fff;
                        color: #333;
                        font-weight: 400;
                    }
                    td{
                        color: #333;
                    }
                } 
                .agree_box .agree_cont{
                    .inner>p{
                        padding-left: 0;
                    }
                    ul li ul, ul li dl{
                        padding-left: 0;
                    }
                }
            }
            @include respondTo(mobile){
                .agree_top{
                    .fl_lk, .fr_lk{
                        float: none;
                        width: auto;
                    }
                }
                .agree_box{
                    padding: 30px 5px 15px;
                    .bottom{
                        margin-top: 30px;
                        text-align: left;
                        font-size: 0.8rem;
                        .tit{
                            margin-right: 6px;
                        }
                    }
                    .conts{
                        font-size: 0.8rem;
                        min-height: 300px;
                    }
                    table{
                        thead th{
                            font-size: 0.9rem;
                        }
                        td {
                            font-size: 0.9rem;
                        }
                    }
                    .title_group{
                        position: relative;
                        .conts_tit{
                            &.lv1{
                                padding-bottom: 20px;
                            }
                            &.lv2{
                                padding-bottom:12px;
                            }
                        }
                    }
                    & ~ .title_group{
                        margin-top: 40px;
                        .conts_tit.lv1{
                            padding-bottom: 5px;
                        }
                    }
                    .agree_cont{
                        font-size: 0.9rem;
                        .inner{
                            padding: 0;
                        }
                        .first{
                            font-size: 0.9rem;
                        }
                    }
                }
                .agree_list{
                    a{
                        font-size: 0.85rem;
                    }
                    li	~ li{
                        margin-top: 5px;
                    }
                }
                &.open_license{
                    .title{
                        padding: 40px 0 20px;
                        text-align:left;
                        .txts,.sub_txts{
                            font-size: 1.1rem;
                            & ~ .desc{
                                margin-top: 10px;
                            }
                        }
                        .sub_txts{
                            &:before{
                                height: 18px;
                                margin: 0 10px;
                            }
                        }
                        .desc{
                            color: #7d7d7d;
                            font-size: 0.85rem;
                            p{
                                letter-spacing: 0;
                                word-break: keep-all;
                            }
                        }
                        & ~ .inner{
                            margin-top: 40px;
                        }
                    }
                    .conts{
                        margin:0;
                        .lists{
                            display: block;
                            width: 100%;
                            padding: 0;
                            & ~ .lists{
                                margin-top: 10px;
                            }
                        }
                        .boxs{
                            padding:0;
                            border:0 none;
                            border-radius: 0;
                            .tits, .links, .copyright, .license{
                                font-size: 0.85rem;
                            }
                            .tits{
                                font-size: 1.1rem;
                                & ~ .links{
                                    margin-top: 15px;
                                }
                            }
                            .links{
                                & ~ .copyright{
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
                &.terms{
                    .tit_agree{
                        padding-bottom: 20px;
                        font-size: 0.9rem;
                        & ~ .tit_agree{
                            padding-top: 20px;
                        }
                    }
                    .agree_box{
                        // padding: 20px 0;
                        padding: 0 0 20px 0;
                        ul > li {
                            text-indent: 0;
                            padding-left: 14px;
                        }
                        ul li ul{
                            padding-left: 0;
                        }
                    }
                    .indent_default.lists{
                        margin: 0;
                        li{
                            display:block;
                            width: 100%;
                            a{
                                font-size: 0.9rem;
                            }
                        }
                        &.type2{
                            li{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.error_msg{
	text-align: center;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	font-size:0;
	&:before{
		content:'';
		vertical-align: middle;
		display: inline-block;
		width:0;
		height:100%;
	}
	.error_txt{
		vertical-align: middle;
		display: inline-block;
		.imgs{
			display: block;
			height: 124px;
			padding-top: 24px;
			background: url($url_common + 'bg_error.png') no-repeat center top;
			background-size: auto 100%;
			i{
				font-size: 2rem;
				font-weight: 700;
				color: #333;
				vertical-align: top;
				display: inline-block;
				line-height: 1;
				letter-spacing: 1px;
				&:before{
					content: '';
					width: 4px;
					height: 4px;
					border-radius: 50%;
					display: block;
					margin: 0 auto 3px;
					background-color: #fdb813;
				}
				&:first-child{
					&:before{
						background-color: #f36f21;
					}
				}
				&:last-child{
					&:before{
						background-color: #008fd4;
					}
				}
			}
			&.system{
				background: url($url_common + 'bg_error_system.png') no-repeat center top;
				background-size: auto 100%;
			}
		}
		.txt1{
			margin-top: 30px;
			font-size: 2.5rem;
			font-weight: 500;
			color: #333;
            &.border{
                max-width: 250px;
                margin: 30px auto 0;
                border-bottom: 2px solid $border_color06;
            }
		}
		.txt2{
			margin-top: 10px;
			font-size: 1.1rem;
			color: #7d7d7d;
		}
        .txt3{
			margin-top: 10px;
			font-size: 1.15rem;
			color: $text_color01;
		}
	}
	.error_link{
		margin-top: 35px;
		.btn{
			min-width: 172px;
			min-height: 52px;
			font-size: 1rem;
		}
	}
	&.type2{
		background: #FC7818;
		.error_txt{
			& > div{
				display: inline-block;
				font-size: 0;
				vertical-align: middle;
			}
			.img{
				.imgs{
					&.system{
						display: block;
						width: 517px;
						height: 487px;
						background: url($url_common + 'bg_sys_img.png') no-repeat center center;
						background-size: auto 100%;
					}
				}
			}
			.sys_txt{
				text-align: left;
				vertical-align: bottom;
				.txt1, .txt2, .txt3{
					color: #fff;
					font-weight: 700;
					text-align: left;
				}
				.txt1{
					margin: 0;
					font-size: 45px;
				}
				.txt2{
					margin-top: 20px;
					line-height: 32px;
					font-size: 1.1rem;
				}
				.txt3{
					margin-top: 50px;
					font-size: 20px;
				}
				.logo{
					margin-top: 85px;
					.imgs{
						&.macadamia{
							display: block;
							width: 178px;
							height: 31px;
							background: url($url_common + 'logo_macadamia_wh.png') no-repeat center left;
							background-size: auto 100%;
						}
					}
				}
			}
		}
	}
	@include respondTo(tablet){
		&.type2{
			.error_txt{
				& > div{
					display: block;
				}
				.sys_txt{
					text-align: center;
					vertical-align: middle;
					.txt1, .txt2, .txt3{
						text-align: center;
					}
				}
			}
		}
	}
	@include respondTo(mobile){
		padding:0 20px;
		.error_txt{
			min-width:calc(100% - 20px);
			.imgs{
				height:80px;
				padding-top:18px;
				i{
					font-size:16px;
				}
			}
			.txt1{
				margin-top:25px;
				font-size:24px;
			}
			.txt2{
				margin-top:10px;
				font-size:14px;
			}
		}
		.error_link{
			.btn{
				width:100%;
				max-width:320px;
			}
		}
		&.type2{
			.error_txt{
				& > div{
					display: block;
				}
				.img{
					.imgs{
						&.system{
							width: 100%;
							height: 149px;
						}
					}
				}
				.sys_txt{
					text-align: center;
					vertical-align: middle;
					.txt1, .txt2, .txt3{
						text-align: center;
					}
					.txt1{
						margin: 0;
						margin-top: 20px;
						font-size: 23px;
					}
					.txt2{
						margin-top: 20px;
						line-height: 26px;
						font-size: 14px;
					}
					.txt3{
						margin-top: 20px;
						font-size: 14px;
					}
				}
			}
		}
	}
}